<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Android Icon</title>
		<path
			d="M20.4707 7.35797C20.3914 7.27868 20.311 7.20154 20.2307 7.12547L22.8921 4.46404C22.9717 4.38441 23.0349 4.28986 23.078 4.18581C23.1211 4.08176 23.1433 3.97024 23.1433 3.85762C23.1433 3.74499 23.1211 3.63347 23.078 3.52942C23.0349 3.42537 22.9717 3.33083 22.8921 3.25119C22.8125 3.17155 22.7179 3.10838 22.6139 3.06528C22.5098 3.02218 22.3983 3 22.2857 3C22.173 3 22.0615 3.02218 21.9575 3.06528C21.8534 3.10838 21.7589 3.17155 21.6792 3.25119L18.8935 6.0369C16.8768 4.61729 14.47 3.85708 12.0037 3.86072C9.53746 3.86437 7.13286 4.63169 5.12035 6.05726L2.32071 3.25119C2.15988 3.09036 1.94174 3 1.71429 3C1.48683 3 1.26869 3.09036 1.10786 3.25119C0.947025 3.41202 0.85667 3.63016 0.85667 3.85762C0.85667 4.08507 0.947025 4.30321 1.10786 4.46404L3.79285 7.14904C2.59338 8.28548 1.63836 9.65467 0.98621 11.1729C0.334055 12.6911 -0.00152161 14.3263 5.18659e-06 15.9787V18.429C5.18659e-06 18.8837 0.180616 19.3197 0.502107 19.6412C0.823597 19.9627 1.25963 20.1433 1.71429 20.1433H22.2857C22.7403 20.1433 23.1764 19.9627 23.4979 19.6412C23.8193 19.3197 24 18.8837 24 18.429V15.8576C24.0044 14.2776 23.6946 12.7126 23.0887 11.2534C22.4828 9.79426 21.5929 8.47011 20.4707 7.35797ZM8.14284 15.8576C7.88855 15.8576 7.63998 15.7822 7.42854 15.6409C7.21711 15.4996 7.05231 15.2988 6.955 15.0639C6.85769 14.829 6.83223 14.5705 6.88184 14.3211C6.93145 14.0716 7.0539 13.8426 7.23371 13.6627C7.41352 13.4829 7.64261 13.3605 7.89201 13.3109C8.14142 13.2613 8.39993 13.2867 8.63487 13.384C8.8698 13.4814 9.0706 13.6461 9.21187 13.8576C9.35315 14.069 9.42856 14.3176 9.42856 14.5719C9.42856 14.9129 9.2931 15.2399 9.05198 15.481C8.81086 15.7221 8.48384 15.8576 8.14284 15.8576ZM15.8571 15.8576C15.6028 15.8576 15.3542 15.7822 15.1428 15.6409C14.9314 15.4996 14.7666 15.2988 14.6693 15.0639C14.572 14.829 14.5465 14.5705 14.5961 14.3211C14.6457 14.0716 14.7682 13.8426 14.948 13.6627C15.1278 13.4829 15.3569 13.3605 15.6063 13.3109C15.8557 13.2613 16.1142 13.2867 16.3491 13.384C16.5841 13.4814 16.7849 13.6461 16.9261 13.8576C17.0674 14.069 17.1428 14.3176 17.1428 14.5719C17.1428 14.9129 17.0074 15.2399 16.7662 15.481C16.5251 15.7221 16.1981 15.8576 15.8571 15.8576Z"
		/>
	</svg>
</template>
