<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Browser Icon</title>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M14.8376 12.2305C14.9401 9.87859 16.9532 8 19.4156 8C21.9459 8 24 9.98099 24 12.4211C24 14.8611 21.9459 16.8421 19.4156 16.8421C17.5696 16.8421 15.9758 15.7861 15.2507 14.2663C14.2449 14.3824 13.1335 14.465 12 14.465C10.8665 14.465 9.75355 14.3824 8.74934 14.2663C8.0226 15.7861 6.43035 16.8421 4.58274 16.8421C2.05252 16.8421 0 14.8611 0 12.4211C0 9.98099 2.05252 8 4.58274 8C7.04674 8 9.05831 9.87859 9.16236 12.2305C10.0562 12.3225 11.021 12.3842 12 12.3842C12.979 12.3842 13.9438 12.3225 14.8376 12.2305Z"
		/>
	</svg>
</template>
