<script lang="ts" setup></script>

<template>
	<svg class="icon" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Dev Icon</title>
		<path
			d="M22.1538 2H1.84615C1.35652 2 0.886947 2.1945 0.540726 2.54073C0.194505 2.88695 0 3.35652 0 3.84615V20.4615C0 20.9512 0.194505 21.4207 0.540726 21.767C0.886947 22.1132 1.35652 22.3077 1.84615 22.3077H22.1538C22.6435 22.3077 23.1131 22.1132 23.4593 21.767C23.8055 21.4207 24 20.9512 24 20.4615V3.84615C24 3.35652 23.8055 2.88695 23.4593 2.54073C23.1131 2.1945 22.6435 2 22.1538 2ZM7.93846 14.1846C8.13431 14.3315 8.26379 14.5502 8.29841 14.7925C8.33304 15.0349 8.26997 15.2811 8.12308 15.4769C7.97619 15.6728 7.75751 15.8023 7.51516 15.8369C7.2728 15.8715 7.02662 15.8084 6.83077 15.6615L3.13846 12.8923C3.02382 12.8063 2.93077 12.6948 2.86668 12.5667C2.8026 12.4385 2.76923 12.2971 2.76923 12.1538C2.76923 12.0105 2.8026 11.8692 2.86668 11.741C2.93077 11.6129 3.02382 11.5014 3.13846 11.4154L6.83077 8.64615C7.02662 8.49926 7.2728 8.43619 7.51516 8.47082C7.75751 8.50544 7.97619 8.63492 8.12308 8.83077C8.26997 9.02662 8.33304 9.2728 8.29841 9.51516C8.26379 9.75751 8.13431 9.97619 7.93846 10.1231L5.23038 12.1538L7.93846 14.1846ZM14.7335 5.94615L11.0412 18.8692C11.0097 18.9878 10.9549 19.099 10.8799 19.1962C10.805 19.2934 10.7114 19.3746 10.6047 19.4352C10.498 19.4958 10.3803 19.5345 10.2584 19.5491C10.1366 19.5637 10.013 19.5538 9.89505 19.52C9.77706 19.4863 9.66699 19.4293 9.57127 19.3525C9.47555 19.2757 9.3961 19.1806 9.33758 19.0727C9.27906 18.9649 9.24263 18.8464 9.23043 18.7243C9.21824 18.6022 9.23051 18.4789 9.26654 18.3615L12.9588 5.43846C13.0298 5.20739 13.1886 5.01337 13.4011 4.8981C13.6135 4.78283 13.8627 4.7555 14.0951 4.82198C14.3275 4.88847 14.5246 5.04347 14.6439 5.25367C14.7633 5.46387 14.7954 5.71251 14.7335 5.94615ZM20.8615 12.8923L17.1692 15.6615C16.9734 15.8084 16.7272 15.8715 16.4848 15.8369C16.2425 15.8023 16.0238 15.6728 15.8769 15.4769C15.73 15.2811 15.667 15.0349 15.7016 14.7925C15.7362 14.5502 15.8657 14.3315 16.0615 14.1846L18.7696 12.1538L16.0615 10.1231C15.9646 10.0503 15.8829 9.95922 15.8211 9.85492C15.7593 9.75061 15.7187 9.63516 15.7016 9.51516C15.6844 9.39516 15.6911 9.27295 15.7212 9.15552C15.7513 9.0381 15.8042 8.92774 15.8769 8.83077C15.9497 8.73379 16.0408 8.65209 16.1451 8.59033C16.2494 8.52857 16.3648 8.48796 16.4848 8.47082C16.6048 8.45367 16.727 8.46033 16.8445 8.49042C16.9619 8.5205 17.0723 8.57342 17.1692 8.64615L20.8615 11.4154C20.9762 11.5014 21.0692 11.6129 21.1333 11.741C21.1974 11.8692 21.2308 12.0105 21.2308 12.1538C21.2308 12.2971 21.1974 12.4385 21.1333 12.5667C21.0692 12.6948 20.9762 12.8063 20.8615 12.8923Z"
		/>
	</svg>
</template>
