<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>IOs Icon</title>
		<path
			d="M12 0C9.62663 0 7.30655 0.703788 5.33316 2.02236C3.35977 3.34094 1.8217 5.21508 0.913451 7.4078C0.00519941 9.60051 -0.232441 12.0133 0.230582 14.3411C0.693605 16.6689 1.83649 18.807 3.51472 20.4853C5.19295 22.1635 7.33115 23.3064 9.65892 23.7694C11.9867 24.2324 14.3995 23.9948 16.5922 23.0865C18.7849 22.1783 20.6591 20.6402 21.9776 18.6668C23.2962 16.6934 24 14.3734 24 12C23.9966 8.81843 22.7313 5.76814 20.4816 3.51843C18.2319 1.26872 15.1816 0.00335979 12 0ZM6.88385 18.0138L6.33 18.9369C6.26758 19.0409 6.18528 19.1315 6.08783 19.2036C5.99037 19.2758 5.87966 19.328 5.76202 19.3574C5.64438 19.3867 5.5221 19.3926 5.40218 19.3747C5.28225 19.3568 5.16703 19.3155 5.06308 19.2531C4.95913 19.1906 4.8685 19.1084 4.79636 19.0109C4.72422 18.9134 4.67197 18.8027 4.64262 18.6851C4.61326 18.5674 4.60736 18.4452 4.62526 18.3252C4.64316 18.2053 4.6845 18.0901 4.74693 17.9862L5.30077 17.0631C5.42685 16.8531 5.63116 16.7019 5.86876 16.6426C6.10635 16.5833 6.35777 16.6208 6.5677 16.7469C6.77763 16.873 6.92887 17.0773 6.98816 17.3149C7.04745 17.5525 7.00993 17.8039 6.88385 18.0138ZM12 14.7692H3.69231C3.4475 14.7692 3.21271 14.672 3.0396 14.4989C2.86649 14.3258 2.76924 14.091 2.76924 13.8462C2.76924 13.6013 2.86649 13.3665 3.0396 13.1934C3.21271 13.0203 3.4475 12.9231 3.69231 12.9231H7.785L10.9235 7.69269L9.36231 5.09077C9.29988 4.98682 9.25854 4.8716 9.24064 4.75167C9.22274 4.63175 9.22864 4.50947 9.258 4.39183C9.28736 4.27418 9.3396 4.16347 9.41174 4.06602C9.48389 3.96856 9.57452 3.88627 9.67846 3.82385C9.88839 3.69777 10.1398 3.66024 10.3774 3.71953C10.495 3.74889 10.6058 3.80113 10.7032 3.87328C10.8007 3.94542 10.883 4.03605 10.9454 4.14L12 5.89846L13.0546 4.14C13.117 4.03605 13.1993 3.94542 13.2968 3.87328C13.3942 3.80113 13.505 3.74889 13.6226 3.71953C13.7402 3.69018 13.8625 3.68428 13.9824 3.70218C14.1024 3.72007 14.2176 3.76142 14.3215 3.82385C14.4255 3.88627 14.5161 3.96856 14.5883 4.06602C14.6604 4.16347 14.7126 4.27418 14.742 4.39183C14.7714 4.50947 14.7773 4.63175 14.7594 4.75167C14.7415 4.8716 14.7001 4.98682 14.6377 5.09077L9.93808 12.9231H12C12.2448 12.9231 12.4796 13.0203 12.6527 13.1934C12.8258 13.3665 12.9231 13.6013 12.9231 13.8462C12.9231 14.091 12.8258 14.3258 12.6527 14.4989C12.4796 14.672 12.2448 14.7692 12 14.7692ZM20.3077 14.7692H17.3227L19.2531 17.9862C19.3792 18.1961 19.4167 18.4475 19.3574 18.6851C19.2981 18.9227 19.1469 19.127 18.9369 19.2531C18.727 19.3792 18.4756 19.4167 18.238 19.3574C18.0004 19.2981 17.7961 19.1468 17.67 18.9369L13.2392 11.5523C13.1132 11.3424 13.0756 11.091 13.1349 10.8534C13.1942 10.6158 13.3455 10.4115 13.5554 10.2854C13.7653 10.1593 14.0167 10.1218 14.2543 10.1811C14.4919 10.2404 14.6962 10.3916 14.8223 10.6015L16.215 12.9231H20.3077C20.5525 12.9231 20.7873 13.0203 20.9604 13.1934C21.1335 13.3665 21.2308 13.6013 21.2308 13.8462C21.2308 14.091 21.1335 14.3258 20.9604 14.4989C20.7873 14.672 20.5525 14.7692 20.3077 14.7692Z"
		/>
	</svg>
</template>
