<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Mac Icon</title>
		<path
			d="M11.6559 3.21429C11.8862 2.29362 12.4068 1.47815 13.1356 0.896242C13.8643 0.314338 14.76 -0.000952535 15.6815 2.16173e-06H15.7853C16.0056 2.16173e-06 16.2169 0.090308 16.3727 0.251053C16.5284 0.411799 16.616 0.629816 16.616 0.857144C16.616 1.08447 16.5284 1.30249 16.3727 1.46324C16.2169 1.62398 16.0056 1.71429 15.7853 1.71429H15.6815C15.129 1.71424 14.5921 1.90365 14.1553 2.25275C13.7185 2.60185 13.4065 3.09085 13.2684 3.64286C13.2133 3.86308 13.0757 4.05171 12.8858 4.16724C12.696 4.28278 12.4694 4.31576 12.256 4.25893C12.0426 4.20209 11.8598 4.06011 11.7478 3.8642C11.6359 3.66829 11.6039 3.43451 11.659 3.21429H11.6559ZM21.5273 18.1703C21.465 18.0234 21.3643 17.8973 21.2365 17.8061C19.4745 16.5568 19.108 14.4257 19.108 12.8571C19.108 10.9639 20.5066 9.31499 21.3404 8.49964C21.4224 8.41954 21.4877 8.32302 21.5323 8.21599C21.577 8.10896 21.6 7.99366 21.6 7.87714C21.6 7.76062 21.577 7.64532 21.5323 7.53829C21.4877 7.43125 21.4224 7.33474 21.3404 7.25464C20.0238 5.97214 17.8433 5.14285 15.7853 5.14285C14.307 5.14422 12.862 5.59637 11.632 6.4425C10.1971 5.44967 8.47185 5.00379 6.75287 5.18153C5.0339 5.35928 3.42867 6.14955 2.21327 7.41642C1.48669 8.18184 0.916587 9.09013 0.536838 10.0873C0.157088 11.0846 -0.0245657 12.1503 0.00266547 13.2214C0.043427 15.0293 0.433004 16.8106 1.14863 18.4613C1.86425 20.1121 2.89156 21.599 4.17052 22.8353C4.94076 23.5863 5.9611 24.0032 7.02074 24H16.1248C16.6913 24.0011 17.252 23.8821 17.7721 23.6505C18.2922 23.4188 18.7607 23.0794 19.1484 22.6532C19.8668 21.8555 20.4881 20.9704 20.9988 20.0175C21.7277 18.6428 21.6342 18.4286 21.5273 18.1703Z"
		/>
	</svg>
</template>
