<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Self-host Icon</title>
		<g>
			<path
				d="M22 1H2C1.46957 1 0.960859 1.21071 0.585786 1.58579C0.210714 1.96086 0 2.46957 0 3V9C0 9.53043 0.210714 10.0391 0.585786 10.4142C0.960859 10.7893 1.46957 11 2 11H22C22.5304 11 23.0391 10.7893 23.4142 10.4142C23.7893 10.0391 24 9.53043 24 9V3C24 2.46957 23.7893 1.96086 23.4142 1.58579C23.0391 1.21071 22.5304 1 22 1ZM18.5 7.5C18.2033 7.5 17.9133 7.41203 17.6666 7.2472C17.42 7.08238 17.2277 6.84811 17.1142 6.57403C17.0007 6.29994 16.9709 5.99834 17.0288 5.70736C17.0867 5.41639 17.2296 5.14912 17.4393 4.93934C17.6491 4.72956 17.9164 4.5867 18.2074 4.52882C18.4983 4.47094 18.7999 4.50065 19.074 4.61418C19.3481 4.72771 19.5824 4.91997 19.7472 5.16665C19.912 5.41332 20 5.70333 20 6C20 6.39782 19.842 6.77936 19.5607 7.06066C19.2794 7.34196 18.8978 7.5 18.5 7.5Z"
			/>
			<path
				d="M22 13H2C1.46957 13 0.960859 13.2107 0.585786 13.5858C0.210714 13.9609 0 14.4696 0 15V21C0 21.5304 0.210714 22.0391 0.585786 22.4142C0.960859 22.7893 1.46957 23 2 23H22C22.5304 23 23.0391 22.7893 23.4142 22.4142C23.7893 22.0391 24 21.5304 24 21V15C24 14.4696 23.7893 13.9609 23.4142 13.5858C23.0391 13.2107 22.5304 13 22 13ZM18.5 19.5C18.2033 19.5 17.9133 19.412 17.6666 19.2472C17.42 19.0824 17.2277 18.8481 17.1142 18.574C17.0007 18.2999 16.9709 17.9983 17.0288 17.7074C17.0867 17.4164 17.2296 17.1491 17.4393 16.9393C17.6491 16.7296 17.9164 16.5867 18.2074 16.5288C18.4983 16.4709 18.7999 16.5007 19.074 16.6142C19.3481 16.7277 19.5824 16.92 19.7472 17.1666C19.912 17.4133 20 17.7033 20 18C20 18.3978 19.842 18.7794 19.5607 19.0607C19.2794 19.342 18.8978 19.5 18.5 19.5Z"
			/>
		</g>
	</svg>
</template>
