<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Web Icon</title>
		<path
			d="M22.1538 2H5.53846C5.04883 2 4.57925 2.19156 4.23303 2.53253C3.88681 2.87351 3.69231 3.33597 3.69231 3.81818V5.63636H1.84615C1.35652 5.63636 0.886947 5.82792 0.540726 6.1689C0.194505 6.50987 0 6.97233 0 7.45455V20.1818C0 20.664 0.194505 21.1265 0.540726 21.4675C0.886947 21.8084 1.35652 22 1.84615 22H18.4615C18.9512 22 19.4207 21.8084 19.767 21.4675C20.1132 21.1265 20.3077 20.664 20.3077 20.1818V18.3636H22.1538C22.6435 18.3636 23.1131 18.1721 23.4593 17.8311C23.8055 17.4901 24 17.0277 24 16.5455V3.81818C24 3.33597 23.8055 2.87351 23.4593 2.53253C23.1131 2.19156 22.6435 2 22.1538 2ZM18.4615 7.45455V9.27273H1.84615V7.45455H18.4615ZM22.1538 16.5455H20.3077V7.45455C20.3077 6.97233 20.1132 6.50987 19.767 6.1689C19.4207 5.82792 18.9512 5.63636 18.4615 5.63636H5.53846V3.81818H22.1538V16.5455Z"
		/>
	</svg>
</template>
