<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Windows Icon</title>
		<path
			d="M10 13.9999V20.4549C10 20.7201 9.89464 20.9745 9.70711 21.162C9.51957 21.3496 9.26522 21.4549 9 21.4549C8.94007 21.4545 8.88027 21.4491 8.82125 21.4387L0.82125 19.9837C0.590834 19.9418 0.382419 19.8204 0.232339 19.6406C0.0822587 19.4608 3.38465e-05 19.2341 0 18.9999V13.9999C0 13.7347 0.105357 13.4803 0.292893 13.2928C0.48043 13.1053 0.734784 12.9999 1 12.9999H9C9.26522 12.9999 9.51957 13.1053 9.70711 13.2928C9.89464 13.4803 10 13.7347 10 13.9999ZM9.64125 2.77741C9.52876 2.68348 9.39701 2.61543 9.25531 2.57806C9.11361 2.54069 8.96543 2.53492 8.82125 2.56116L0.82125 4.01616C0.590834 4.05802 0.382419 4.17942 0.232339 4.3592C0.0822587 4.53898 3.38465e-05 4.76572 0 4.99991V9.99991C0 10.2651 0.105357 10.5195 0.292893 10.707C0.48043 10.8946 0.734784 10.9999 1 10.9999H9C9.26522 10.9999 9.51957 10.8946 9.70711 10.707C9.89464 10.5195 10 10.2651 10 9.99991V3.54491C10 3.39852 9.96791 3.25391 9.90592 3.12129C9.84393 2.98867 9.75358 2.87128 9.64125 2.77741ZM23 12.9999H13C12.7348 12.9999 12.4804 13.1053 12.2929 13.2928C12.1054 13.4803 12 13.7347 12 13.9999V21.1812C11.9997 21.4156 12.0818 21.6426 12.2319 21.8226C12.382 22.0027 12.5906 22.1243 12.8213 22.1662L22.8213 23.9837C22.8802 23.9947 22.94 24.0001 23 23.9999C23.2652 23.9999 23.5196 23.8946 23.7071 23.707C23.8946 23.5195 24 23.2651 24 22.9999V13.9999C24 13.7347 23.8946 13.4803 23.7071 13.2928C23.5196 13.1053 23.2652 12.9999 23 12.9999ZM23.6413 0.232411C23.5288 0.138485 23.397 0.0704282 23.2553 0.0330591C23.1136 -0.00430997 22.9654 -0.0100785 22.8213 0.0161614L12.8213 1.83491C12.5908 1.87677 12.3824 1.99817 12.2323 2.17795C12.0823 2.35773 12 2.58447 12 2.81866V9.99991C12 10.2651 12.1054 10.5195 12.2929 10.707C12.4804 10.8946 12.7348 10.9999 13 10.9999H23C23.2652 10.9999 23.5196 10.8946 23.7071 10.707C23.8946 10.5195 24 10.2651 24 9.99991V0.999911C24 0.853521 23.9679 0.70891 23.9059 0.576293C23.8439 0.443675 23.7536 0.326284 23.6413 0.232411Z"
		/>
	</svg>
</template>
