<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>DevianArt Icon</title>
		<path
			d="M19 0H18.9944H18.993H14.9848L14.5564 0.436886L12.5138 4.43928L11.9174 4.79281H5V10.7741H8.696L9.081 11.1693L5 19.1655V23.9281V23.944L9.018 23.9425L9.4478 23.5042L11.4946 19.5004L12.0784 19.154H19V13.1756H15.2928L14.9176 12.7904L19 4.78994"
			fill="currentColor"
		/>
	</svg>
</template>
