<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Facebook Icon</title>
		<path
			d="M24 12.0396C23.9962 14.9825 22.9202 17.8224 20.9745 20.0244C19.0288 22.2264 16.3478 23.6386 13.4365 23.9949C13.3717 24.0022 13.306 23.9957 13.2439 23.9758C13.1818 23.9558 13.1246 23.9229 13.076 23.8791C13.0275 23.8354 12.9888 23.7818 12.9624 23.7219C12.9361 23.662 12.9226 23.5972 12.9231 23.5318V14.8183H15.6923C15.8188 14.8185 15.9441 14.7927 16.0603 14.7424C16.1764 14.692 16.281 14.6183 16.3676 14.5257C16.4542 14.433 16.5208 14.3236 16.5635 14.204C16.6061 14.0844 16.6238 13.9574 16.6154 13.8307C16.595 13.5925 16.4855 13.3709 16.3089 13.2105C16.1323 13.05 15.9017 12.9626 15.6634 12.9658H12.9231V10.1871C12.9231 9.69582 13.1176 9.22464 13.4638 8.87724C13.81 8.52984 14.2796 8.33467 14.7692 8.33467H16.6154C16.7419 8.33495 16.8672 8.30912 16.9833 8.25878C17.0995 8.20844 17.2041 8.13468 17.2907 8.04206C17.3773 7.94944 17.4439 7.83996 17.4865 7.7204C17.5292 7.60085 17.5468 7.47377 17.5384 7.34708C17.518 7.1085 17.4082 6.88656 17.2311 6.72605C17.054 6.56554 16.8228 6.4784 16.5842 6.48221H14.7692C13.7899 6.48221 12.8508 6.87255 12.1583 7.56736C11.4659 8.26216 11.0769 9.20452 11.0769 10.1871V12.9658H8.30766C8.18112 12.9655 8.05587 12.9914 7.93969 13.0417C7.82352 13.092 7.7189 13.1658 7.63233 13.2584C7.54577 13.351 7.4791 13.4605 7.43648 13.5801C7.39386 13.6996 7.3762 13.8267 7.38458 13.9534C7.405 14.192 7.51483 14.4139 7.69193 14.5744C7.86902 14.7349 8.1002 14.8221 8.33881 14.8183H11.0769V23.5341C11.0773 23.5994 11.0639 23.6641 11.0376 23.7239C11.0113 23.7837 10.9727 23.8372 10.9243 23.881C10.8759 23.9247 10.8188 23.9577 10.7568 23.9777C10.6948 23.9977 10.6293 24.0044 10.5646 23.9972C7.57537 23.6319 4.83176 22.1539 2.87681 19.8556C0.921854 17.5574 -0.101956 14.6064 0.00802453 11.5869C0.238794 5.33485 5.28573 0.252169 11.5211 0.00903396C13.1355 -0.053711 14.7458 0.210895 16.2559 0.787025C17.766 1.36315 19.1447 2.23897 20.3097 3.36209C21.4747 4.48521 22.4019 5.83256 23.036 7.32354C23.6701 8.81453 23.998 10.4185 24 12.0396Z"
			fill="currentColor"
		/>
	</svg>
</template>
