<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Instagram Icon</title>
		<path
			d="M17.5385 0H6.46154C4.74839 0.00183257 3.10594 0.683189 1.89457 1.89457C0.683189 3.10594 0.00183257 4.74839 0 6.46154V17.5385C0.00183257 19.2516 0.683189 20.8941 1.89457 22.1054C3.10594 23.3168 4.74839 23.9982 6.46154 24H17.5385C19.2516 23.9982 20.8941 23.3168 22.1054 22.1054C23.3168 20.8941 23.9982 19.2516 24 17.5385V6.46154C23.9982 4.74839 23.3168 3.10594 22.1054 1.89457C20.8941 0.683189 19.2516 0.00183257 17.5385 0ZM12 17.5385C10.9046 17.5385 9.83379 17.2136 8.923 16.6051C8.0122 15.9965 7.30232 15.1315 6.88313 14.1195C6.46394 13.1075 6.35426 11.9939 6.56796 10.9195C6.78166 9.84514 7.30915 8.85828 8.08372 8.08372C8.85828 7.30915 9.84514 6.78166 10.9195 6.56796C11.9939 6.35426 13.1075 6.46394 14.1195 6.88313C15.1315 7.30232 15.9965 8.0122 16.6051 8.923C17.2136 9.83379 17.5385 10.9046 17.5385 12C17.5369 13.4684 16.9529 14.8763 15.9146 15.9146C14.8763 16.9529 13.4684 17.5369 12 17.5385ZM18.9231 6.46154C18.6492 6.46154 18.3815 6.38033 18.1538 6.22819C17.9261 6.07605 17.7487 5.8598 17.6439 5.60679C17.5391 5.35379 17.5116 5.07539 17.5651 4.8068C17.6185 4.53821 17.7504 4.29149 17.944 4.09785C18.1376 3.90421 18.3844 3.77234 18.653 3.71891C18.9215 3.66549 19.1999 3.69291 19.4529 3.79771C19.706 3.9025 19.9222 4.07997 20.0743 4.30767C20.2265 4.53537 20.3077 4.80307 20.3077 5.07692C20.3077 5.44415 20.1618 5.79633 19.9021 6.05599C19.6425 6.31566 19.2903 6.46154 18.9231 6.46154ZM15.6923 12C15.6923 12.7303 15.4758 13.4441 15.07 14.0513C14.6643 14.6585 14.0877 15.1318 13.413 15.4112C12.7383 15.6907 11.9959 15.7638 11.2797 15.6214C10.5634 15.4789 9.90552 15.1272 9.38914 14.6109C8.87277 14.0945 8.52111 13.4366 8.37864 12.7203C8.23617 12.0041 8.30929 11.2617 8.58875 10.587C8.86821 9.91233 9.34147 9.33567 9.94866 8.92996C10.5559 8.52424 11.2697 8.30769 12 8.30769C12.9793 8.30769 13.9184 8.6967 14.6109 9.38914C15.3033 10.0816 15.6923 11.0207 15.6923 12Z"
			fill="currentColor"
		/>
	</svg>
</template>
