<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>LinkedIn Icon</title>
		<path
			d="M22.1538 0H1.84615C1.35652 0 0.886947 0.194505 0.540726 0.540726C0.194505 0.886947 0 1.35652 0 1.84615V22.1538C0 22.6435 0.194505 23.1131 0.540726 23.4593C0.886947 23.8055 1.35652 24 1.84615 24H22.1538C22.6435 24 23.1131 23.8055 23.4593 23.4593C23.8055 23.1131 24 22.6435 24 22.1538V1.84615C24 1.35652 23.8055 0.886947 23.4593 0.540726C23.1131 0.194505 22.6435 0 22.1538 0ZM8.30769 17.5385C8.30769 17.7833 8.21044 18.0181 8.03733 18.1912C7.86422 18.3643 7.62943 18.4615 7.38462 18.4615C7.1398 18.4615 6.90501 18.3643 6.7319 18.1912C6.55879 18.0181 6.46154 17.7833 6.46154 17.5385V10.1538C6.46154 9.90903 6.55879 9.67424 6.7319 9.50113C6.90501 9.32802 7.1398 9.23077 7.38462 9.23077C7.62943 9.23077 7.86422 9.32802 8.03733 9.50113C8.21044 9.67424 8.30769 9.90903 8.30769 10.1538V17.5385ZM7.38462 8.30769C7.11076 8.30769 6.84306 8.22649 6.61536 8.07434C6.38767 7.9222 6.2102 7.70595 6.1054 7.45295C6.0006 7.19994 5.97318 6.92154 6.0266 6.65295C6.08003 6.38436 6.2119 6.13765 6.40554 5.94401C6.59919 5.75036 6.8459 5.61849 7.11449 5.56507C7.38308 5.51164 7.66148 5.53906 7.91448 5.64386C8.16749 5.74866 8.38374 5.92613 8.53588 6.15383C8.68802 6.38153 8.76923 6.64923 8.76923 6.92308C8.76923 7.2903 8.62335 7.64248 8.36369 7.90215C8.10402 8.16181 7.75184 8.30769 7.38462 8.30769ZM18.4615 17.5385C18.4615 17.7833 18.3643 18.0181 18.1912 18.1912C18.0181 18.3643 17.7833 18.4615 17.5385 18.4615C17.2936 18.4615 17.0589 18.3643 16.8857 18.1912C16.7126 18.0181 16.6154 17.7833 16.6154 17.5385V13.3846C16.6154 12.7726 16.3723 12.1856 15.9395 11.7528C15.5067 11.3201 14.9197 11.0769 14.3077 11.0769C13.6957 11.0769 13.1087 11.3201 12.6759 11.7528C12.2431 12.1856 12 12.7726 12 13.3846V17.5385C12 17.7833 11.9027 18.0181 11.7296 18.1912C11.5565 18.3643 11.3217 18.4615 11.0769 18.4615C10.8321 18.4615 10.5973 18.3643 10.4242 18.1912C10.2511 18.0181 10.1538 17.7833 10.1538 17.5385V10.1538C10.155 9.92774 10.2391 9.70993 10.3902 9.54171C10.5413 9.3735 10.7488 9.26658 10.9735 9.24125C11.1982 9.21593 11.4244 9.27394 11.6091 9.4043C11.7938 9.53466 11.9243 9.72829 11.9758 9.94846C12.6002 9.52485 13.3283 9.27934 14.0817 9.23829C14.8352 9.19724 15.5856 9.3622 16.2523 9.71545C16.9191 10.0687 17.4771 10.5969 17.8663 11.2434C18.2555 11.8898 18.4613 12.63 18.4615 13.3846V17.5385Z"
			fill="currentColor"
		/>
	</svg>
</template>
