<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Mastodon Icon</title>
		<path
			d="M19.2083 0H5.79167C4.52084 0 3.30206 0.505713 2.40345 1.40589C1.50483 2.30606 1 3.52696 1 4.8V19.2C1 20.473 1.50483 21.6939 2.40345 22.5941C3.30206 23.4943 4.52084 24 5.79167 24H16.3333C16.5875 24 16.8313 23.8989 17.011 23.7188C17.1907 23.5388 17.2917 23.2946 17.2917 23.04C17.2917 22.7854 17.1907 22.5412 17.011 22.3612C16.8313 22.1811 16.5875 22.08 16.3333 22.08H5.79167C5.02917 22.08 4.2979 21.7766 3.75873 21.2365C3.21957 20.6964 2.91667 19.9638 2.91667 19.2V18.24H19.2083C19.8376 18.24 20.4607 18.1158 21.042 17.8746C21.6234 17.6334 22.1516 17.2798 22.5966 16.8341C23.0415 16.3884 23.3945 15.8592 23.6353 15.2769C23.8761 14.6945 24 14.0703 24 13.44V4.8C24 3.52696 23.4952 2.30606 22.5966 1.40589C21.6979 0.505713 20.4792 0 19.2083 0ZM19.2083 12.48C19.2083 12.7346 19.1074 12.9788 18.9276 13.1588C18.7479 13.3389 18.5042 13.44 18.25 13.44C17.9958 13.44 17.7521 13.3389 17.5724 13.1588C17.3926 12.9788 17.2917 12.7346 17.2917 12.48V8.64C17.2917 8.13078 17.0897 7.64243 16.7303 7.28236C16.3708 6.92229 15.8833 6.72 15.375 6.72C14.8667 6.72 14.3792 6.92229 14.0197 7.28236C13.6603 7.64243 13.4583 8.13078 13.4583 8.64V12.48C13.4583 12.7346 13.3574 12.9788 13.1776 13.1588C12.9979 13.3389 12.7542 13.44 12.5 13.44C12.2458 13.44 12.0021 13.3389 11.8224 13.1588C11.6426 12.9788 11.5417 12.7346 11.5417 12.48V8.64C11.5417 8.13078 11.3397 7.64243 10.9803 7.28236C10.6208 6.92229 10.1333 6.72 9.625 6.72C9.11667 6.72 8.62916 6.92229 8.26971 7.28236C7.91027 7.64243 7.70833 8.13078 7.70833 8.64V12.48C7.70833 12.7346 7.60737 12.9788 7.42764 13.1588C7.24792 13.3389 7.00417 13.44 6.75 13.44C6.49583 13.44 6.25208 13.3389 6.07236 13.1588C5.89263 12.9788 5.79167 12.7346 5.79167 12.48V8.64C5.79254 7.86038 6.03029 7.0995 6.47329 6.45851C6.9163 5.81752 7.54357 5.32679 8.27173 5.05156C8.99988 4.77634 9.79442 4.72965 10.5497 4.91772C11.305 5.10578 11.9852 5.51969 12.5 6.1044C13.0148 5.51969 13.695 5.10578 14.4503 4.91772C15.2056 4.72965 16.0001 4.77634 16.7283 5.05156C17.4564 5.32679 18.0837 5.81752 18.5267 6.45851C18.9697 7.0995 19.2075 7.86038 19.2083 8.64V12.48Z"
			fill="currentColor"
		/>
	</svg>
</template>
