<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Pixelfed Icon</title>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M12 24C5.37264 24 0 18.6274 0 12C0 5.37264 5.37264 0 12 0C18.6274 0 24 5.37264 24 12C24 18.6274 18.6274 24 12 24ZM11.0472 14.6198H13.2485C15.3221 14.6198 17.0035 12.983 17.0035 10.9646C17.0035 8.94576 15.3226 7.30896 13.2485 7.30896H10.0714C8.8752 7.30896 7.90512 8.25312 7.90512 9.41808V17.6261L11.0472 14.6198Z"
			fill="currentColor"
		/>
	</svg>
</template>
