<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Reddit Icon</title>
		<path
			d="M24 10.7767C23.9999 10.1521 23.8233 9.54065 23.4914 9.01518C23.1594 8.48972 22.6861 8.07235 22.1277 7.81276C21.5692 7.55316 20.9493 7.46227 20.3415 7.5509C19.7338 7.63953 19.1639 7.90395 18.6996 8.31269C17.0226 7.40613 15.0192 6.85812 12.9266 6.7308L13.4463 3.5558L15.2204 3.83286C15.3104 4.40223 15.5954 4.92089 16.0249 5.29718C16.4545 5.67347 17.0009 5.88316 17.5677 5.88918C18.1345 5.89521 18.6852 5.69718 19.1223 5.3301C19.5595 4.96301 19.8551 4.45052 19.9567 3.88318C20.0584 3.31585 19.9597 2.73021 19.678 2.22978C19.3963 1.72934 18.9498 1.34633 18.4174 1.14844C17.885 0.950548 17.3009 0.950519 16.7685 1.14836C16.236 1.34619 15.7895 1.72916 15.5078 2.22957L12.9046 1.82213C12.6964 1.78946 12.4838 1.8416 12.3131 1.96725C12.1424 2.0929 12.0272 2.28193 11.9925 2.49339L11.3047 6.71857C9.11805 6.81432 7.01751 7.36845 5.27141 8.31269C4.63374 7.76465 3.81102 7.49144 2.97834 7.55122C2.14567 7.611 1.36881 7.99905 0.813114 8.63277C0.257416 9.26648 -0.033234 10.0958 0.00302722 10.9443C0.0392884 11.7927 0.399598 12.5933 1.00726 13.1755C0.851531 13.72 0.772317 14.2841 0.77198 14.8511C0.77198 17.0849 1.97343 19.1649 4.16708 20.7071C6.26661 22.1851 9.04296 23 11.9855 23C14.9281 23 17.7044 22.1851 19.8039 20.7071C21.9976 19.1649 23.199 17.0849 23.199 14.8511C23.1987 14.2841 23.1195 13.72 22.9638 13.1755C23.2894 12.8698 23.5496 12.4989 23.7279 12.0861C23.9062 11.6734 23.9988 11.2276 24 10.7767ZM6.37874 13.2214C6.37874 12.899 6.4727 12.5839 6.64872 12.3159C6.82474 12.0479 7.07493 11.839 7.36764 11.7157C7.66036 11.5923 7.98245 11.56 8.2932 11.6229C8.60394 11.6858 8.88938 11.841 9.11341 12.0689C9.33745 12.2969 9.49002 12.5873 9.55183 12.9034C9.61364 13.2196 9.58192 13.5473 9.46067 13.8451C9.33942 14.1429 9.1341 14.3974 8.87066 14.5765C8.60723 14.7556 8.29751 14.8511 7.98068 14.8511C7.55582 14.8511 7.14836 14.6794 6.84794 14.3738C6.54752 14.0681 6.37874 13.6536 6.37874 13.2214ZM15.5648 18.8308C14.4627 19.4267 13.2336 19.7384 11.9855 19.7384C10.7374 19.7384 9.50834 19.4267 8.40619 18.8308C8.31323 18.7807 8.2309 18.7124 8.16389 18.6298C8.09687 18.5473 8.0465 18.4522 8.01563 18.3498C7.98476 18.2475 7.97401 18.1399 7.98399 18.0334C7.99397 17.9268 8.02448 17.8233 8.07379 17.7287C8.12309 17.6341 8.19023 17.5504 8.27135 17.4822C8.35248 17.414 8.44601 17.3628 8.5466 17.3314C8.64719 17.3 8.75288 17.289 8.85763 17.2992C8.96238 17.3093 9.06414 17.3404 9.1571 17.3905C10.028 17.8616 10.9992 18.1079 11.9855 18.1079C12.9718 18.1079 13.943 17.8616 14.8139 17.3905C14.9069 17.3404 15.0086 17.3093 15.1134 17.2992C15.2181 17.289 15.3238 17.3 15.4244 17.3314C15.525 17.3628 15.6185 17.414 15.6997 17.4822C15.7808 17.5504 15.8479 17.6341 15.8972 17.7287C15.9465 17.8233 15.977 17.9268 15.987 18.0334C15.997 18.1399 15.9863 18.2475 15.9554 18.3498C15.9245 18.4522 15.8741 18.5473 15.8071 18.6298C15.7401 18.7124 15.6578 18.7807 15.5648 18.8308ZM15.9903 14.8511C15.6735 14.8511 15.3638 14.7556 15.1004 14.5765C14.8369 14.3974 14.6316 14.1429 14.5103 13.8451C14.3891 13.5473 14.3574 13.2196 14.4192 12.9034C14.481 12.5873 14.6336 12.2969 14.8576 12.0689C15.0816 11.841 15.3671 11.6858 15.6778 11.6229C15.9886 11.56 16.3107 11.5923 16.6034 11.7157C16.8961 11.839 17.1463 12.0479 17.3223 12.3159C17.4983 12.5839 17.5923 12.899 17.5923 13.2214C17.5923 13.6536 17.4235 14.0681 17.1231 14.3738C16.8227 14.6794 16.4152 14.8511 15.9903 14.8511Z"
			fill="currentColor"
		/>
	</svg>
</template>
