<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Twitter Icon</title>
		<path
			d="M23.7393 6.11946L20.4174 9.3897C19.7463 17.048 13.1858 23 5.33423 23C3.72104 23 2.39115 22.7484 1.38124 22.2519C0.566864 21.8505 0.23356 21.4207 0.150233 21.2982C0.0759335 21.1885 0.0277748 21.0637 0.00935591 20.9331C-0.00906297 20.8025 0.00273433 20.6695 0.0438658 20.544C0.0849973 20.4186 0.154399 20.3039 0.246887 20.2085C0.339375 20.1131 0.452556 20.0396 0.577974 19.9934C0.606861 19.9824 3.27108 18.9751 4.96315 17.0578C4.02477 16.2983 3.20561 15.4064 2.53225 14.411C1.15459 12.3974 -0.387499 8.89971 0.0880163 3.6728C0.103089 3.50671 0.166056 3.34832 0.269504 3.21629C0.372951 3.08425 0.51257 2.98406 0.67192 2.92752C0.831269 2.87097 1.00371 2.86043 1.16894 2.89714C1.33417 2.93384 1.48531 3.01626 1.60455 3.13469C1.64344 3.17297 5.30201 6.75491 9.77496 7.91645V7.25037C9.77326 6.55191 9.91354 5.86018 10.1875 5.2159C10.4615 4.57163 10.8637 3.98783 11.3704 3.4989C11.8625 3.01517 12.448 2.63337 13.0923 2.37602C13.7367 2.11867 14.427 1.99098 15.1223 2.00049C16.055 2.00955 16.9696 2.25605 17.7769 2.71601C18.5843 3.17598 19.257 3.83377 19.7297 4.62543H23.1105C23.2864 4.6253 23.4584 4.67654 23.6047 4.77267C23.7509 4.86881 23.865 5.00551 23.9323 5.16548C23.9996 5.32545 24.0172 5.50148 23.9829 5.6713C23.9485 5.84112 23.8638 5.99709 23.7393 6.11946Z"
			fill="currentColor"
		/>
	</svg>
</template>
