<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>VK Icon</title>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M11.7425 18.9455H13.177C13.177 18.9455 13.6102 18.9001 13.8317 18.6739C14.0353 18.4659 14.0288 18.0756 14.0288 18.0756C14.0288 18.0756 14.0008 16.248 14.894 15.9789C15.7748 15.7136 16.9057 17.7452 18.1042 18.5264C19.0106 19.1174 19.6994 18.988 19.6994 18.988L22.9045 18.9455C22.9045 18.9455 24.5811 18.8473 23.7861 17.5957C23.721 17.4934 23.3229 16.6698 21.4029 14.9777C19.393 13.2066 19.6625 13.4932 22.0833 10.4296C23.5576 8.56394 24.1469 7.42499 23.9628 6.93721C23.7873 6.47245 22.7029 6.59522 22.7029 6.59522L19.0942 6.6164C19.0942 6.6164 18.8265 6.58182 18.6282 6.69448C18.4342 6.80465 18.3098 7.06206 18.3098 7.06206C18.3098 7.06206 17.7384 8.50568 16.9769 9.73362C15.37 12.3243 14.7274 12.4614 14.4647 12.3003C13.8536 11.9253 14.0063 10.7942 14.0063 9.99047C14.0063 7.47972 14.4074 6.43289 13.2253 6.16191C12.8331 6.07204 12.5441 6.01259 11.5409 6.00288C10.2532 5.99044 9.16355 6.00665 8.54644 6.29367C8.13588 6.48457 7.81913 6.90984 8.01216 6.93432C8.25073 6.96449 8.79077 7.07273 9.07709 7.44265C9.447 7.92048 9.43407 8.99315 9.43407 8.99315C9.43407 8.99315 9.64662 11.9487 8.93782 12.3157C8.45145 12.5675 7.78414 12.0535 6.3515 9.70304C5.6176 8.4991 5.06328 7.16814 5.06328 7.16814C5.06328 7.16814 4.95654 6.91947 4.76589 6.78635C4.53466 6.62507 4.21157 6.57395 4.21157 6.57395L0.78225 6.59522C0.78225 6.59522 0.267571 6.60886 0.0784334 6.82142C-0.0898297 7.01063 0.0649971 7.40148 0.0649971 7.40148C0.0649971 7.40148 2.7496 13.3652 5.78966 16.3705C8.57746 19.1263 11.7425 18.9455 11.7425 18.9455Z"
			fill="currentColor"
		/>
	</svg>
</template>
