<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Youtube Icon</title>
		<path
			fill="currentColor"
			d="M23.3925 6.18682C23.2915 5.78884 23.0981 5.42076 22.8282 5.11292C22.5582 4.80509 22.2195 4.56634 21.84 4.41637C18.1671 2.98705 12.3214 3 12 3C11.6786 3 5.83286 2.98705 2.16 4.41637C1.78046 4.56634 1.44175 4.80509 1.17182 5.11292C0.90188 5.42076 0.708456 5.78884 0.6075 6.18682C0.33 7.26421 0 9.2333 0 12.5C0 15.7667 0.33 17.7358 0.6075 18.8132C0.708305 19.2114 0.901661 19.5797 1.17161 19.8877C1.44155 20.1957 1.78034 20.4346 2.16 20.5847C5.67857 21.9525 11.1857 22 11.9293 22H12.0707C12.8143 22 18.3246 21.9525 21.84 20.5847C22.2197 20.4346 22.5585 20.1957 22.8284 19.8877C23.0983 19.5797 23.2917 19.2114 23.3925 18.8132C23.67 17.7336 24 15.7667 24 12.5C24 9.2333 23.67 7.26421 23.3925 6.18682ZM15.4918 13.2039L11.2061 16.2266C11.0779 16.3171 10.9275 16.3705 10.7713 16.381C10.6152 16.3915 10.4591 16.3587 10.3201 16.2862C10.1811 16.2136 10.0645 16.1041 9.98287 15.9696C9.90125 15.835 9.85777 15.6804 9.85714 15.5227V9.47728C9.85719 9.31929 9.90024 9.16434 9.98162 9.02929C10.063 8.89425 10.1796 8.78428 10.3187 8.71137C10.4578 8.63845 10.6141 8.60537 10.7705 8.61574C10.927 8.62611 11.0776 8.67953 11.2061 8.77017L15.4918 11.7929C15.6045 11.8726 15.6966 11.9784 15.7601 12.1015C15.8236 12.2246 15.8568 12.3613 15.8568 12.5C15.8568 12.6387 15.8236 12.7754 15.7601 12.8985C15.6966 13.0216 15.6045 13.1274 15.4918 13.2071V13.2039Z"
		/>
	</svg>
</template>
