<script setup lang="ts">
import { iconType } from '~/constants/contact'

export interface Props {
	type: ContactType
	url: string
}

const { type, url } = defineProps<Props>()
</script>

<template>
	<LinkExternal :icon="iconType[type] ? iconType[type].icon : 'link-bold'" :url :label="$t(`contactLink.${type}`)" />
</template>
