<script setup lang="ts">
export interface Props {
	url: string
	icon: string
	label: string
	color?: 'primary' | 'secondary'
}

const { color = 'primary', url, icon, label } = defineProps<Props>()
</script>

<template>
	<a class="link" :class="color" :href="url" target="_blank" rel="noreferrer">
		<Icon class="icon" :name="icon" />
		{{ label }}
	</a>
</template>

<style scoped lang="sass">
.link
	border-bottom: solid 2px var(--soft-font-color)
	padding: 6px
	display: flex
	align-items: flex-end
	gap: 10px
	color: var(--font-color)
	font-size: toRem(14)
	font-weight: 600
	cursor: pointer
	transition: all 0.2s ease-in-out
	user-select: none
	text-decoration: none

	.icon
		color: var(--soft-font-color)
		width: 20px
		height: 20px
		transition: all 0.2s ease-in-out

	&:active
		transition: none
		padding-bottom: $sp-xxxs
		border-bottom-width: 1px

	&.primary
		border-bottom-color: var(--primary)
		.icon
			color: var(--primary)

	&.secondary
		border-bottom-color: var(--secondary)

		.icon
			color: var(--secondary)

	&:hover
		border-bottom-color: var(--font-color)

		.icon
			color: var(--font-color)
			animation: minijump 0.4s

// Mobile only
@media screen and (max-width: $tablet)
	.link
		font-size: toRem(16)
</style>
