<script setup lang="ts">
import { socialIcons } from '~/constants/contact'
import icons from '../Icon/Social'

export interface Props {
	type: SocialPlatforms
	url: string
}

const props = defineProps<Props>()
</script>

<template>
	<a class="social-item" :href="props.url">
		<component v-if="socialIcons.includes(props.type)" :is="icons[props.type]" />
		<Icon v-else name="ph:link-bold" />
	</a>
</template>

<style scoped lang="sass"></style>
