@use "layout" as *
@use "helpers" as *

@mixin newProp($name, $value)
	@property --#{$name}
		syntax: '<color>'
		inherits: true
		initial-value: $value

@mixin responsive-font($mobile-size, $tablet-size, $laptop-size, $desktop-size)
	&
		font-size: toRem($mobile-size)

	@media screen and (min-width: $tablet)
		font-size: toRem($tablet-size)

	@media screen and (min-width: $laptop)
		font-size: toRem($laptop-size)

	@media screen and (min-width: $desktop)
		font-size: toRem($desktop-size)

@mixin simple-font
	color: var(--font-color)
	+responsive-font(14, 16, 18, 18)

@mixin generate-columns($col-num, $gap)
	@for $i from 1 through $col-num
		@if $i == $col-num
			.col-#{$col-num}
				width: calc(100%)
		@else
			.col-#{$i}-#{$col-num}
				width: calc(100% / #{$col-num} * $i - ($col-num - $i) * $gap / $col-num * 1px)
				margin-right: $gap * 1px
