<template>
	<NuxtLayout>
		<div v-if="error.statusCode === 404">
			<template v-if="error.statusMessage === ERRORS.PROJECT_NOT_FOUND">
				<h1>404 - Project not found</h1>
				<p>We can't find the project you are looking for.</p>
				<p>You can contribute adding this project</p>
				<button>Back home</button>
				<button>Add Project</button>
			</template>
			<template v-else>
				<h1>404 - Page not found</h1>
				<p>We can't find the page you are looking for.</p>
				<button>Back home</button>
			</template>
		</div>
		<div v-else-if="error.statusCode === 500">
			<h1>500 - Server Error</h1>
			<p>You can report this error to help us at hey@veenk.org</p>
		</div>
	</NuxtLayout>
</template>

<script setup>
import { ERRORS } from './constants/errors'

const error = useError()
const handleError = () => {
	clearError({
		redirect: '/course/chapter/1-chapter-1/lesson/1-introduction-to-typescript-with-vue-js-3'
	})
}
</script>
