<script setup lang="ts">
const { languages } = defineProps<{ languages: LocaleKey[] }>()

const languagesList = computed(() => {
	let quantity = 5
	if (import.meta.client) {
		const isMobile = window.innerWidth < 768
		quantity = isMobile ? 11 : 5
	}
	return languages.slice(0, quantity)
})

const overflow = computed(() => languages.length - languagesList.value.length)
</script>

<template>
	<div class="languages-wrapper">
		<div class="languages-list">
			<div class="language-item" v-for="lang in languagesList">{{ $t(`langs.${getLangName(lang)}`) }}</div>
			<button type="button" class="more-langs" v-if="overflow">+{{ overflow - 1 }}</button>
		</div>
	</div>
</template>

<style scoped lang="sass">

.languages-wrapper
	display: flex
	background: var(--bg-0)
	box-shadow: var(--box-shadow-inset)
	border-radius: $border-r
	padding: $sp-xxxs
	justify-content: space-between

	.languages-list
		display: flex
		align-items: center
		justify-content: space-around
		gap: $sp-s
		font-size: toRem(14)
		padding: 0 $sp-xs
		color: var(--font-color)
		width: 100%

	.language-item
		display: flex
		align-items: center
		font-weight: 500
		padding: $sp-xxxs 0
		gap: $sp-xxs
		.flag
			width: 23px
			height: 15px
			background: var(--secondary-dark)
			border-radius: 3px

	.more-langs
		display: flex
		align-items: center
		justify-content: center
		height: 100%
		background: var(--bg)
		font-size: toRem(14)
		font-weight: 600
		padding: 8px

// Mobile only
@media screen and (min-width: $desktop)

	.languages-wrapper
		flex-direction: column
		align-items: flex-end

		.languages-list
			padding: $sp-xs
			flex-wrap: wrap

		.more-langs
			align-self: flex-end
</style>
