<script setup lang="ts">
import ForDevsSection from './sections/ForDevsSection.vue'
import ForFundersSection from './sections/ForFundersSection.vue'
import ForTranslatorsSection from './sections/ForTranslatorsSection.vue'
import ForUsersSection from './sections/ForUsersSection.vue'

import LanguagesList from './LanguagesList.vue'
const { slug } = defineProps<{ slug: string }>()
const localePath = useLocalePath()

const projectsStore = useProjectsStore()
const project = ref<ProjectProfile>()

onMounted(() => {
	projectsStore.fetchProjectProfile(slug).then((data) => {
		if (!data) {
			console.log('test', project)
			throw createError({
				statusCode: 404,
				statusMessage: 'Page Not Found'
			})
		}
		project.value = data
	})
})
</script>
<template>
	<div v-if="project" class="project-main-section">
		<div class="main-section">
			<div class="info-section">
				<div class="project-name">
					<div class="img-box">
						<img :src="project.logoUrl" />
					</div>
					<div class="name">{{ project.name }}</div>
				</div>
				<p class="description">{{ project.description }}</p>
				<Hashtags :items="project.tags" />
				<div v-if="project.badges && project.badges.length > 0" class="badges-list list">
					<BadgeBox v-for="badge in project.badges" :key="badge" :type="badge" />
				</div>
				<div v-if="project.platforms[0]" class="platform-list list">
					<template v-for="platform in project.platforms">
						<template v-if="platform.type === 'multiple'">
							<PlatformBox v-for="subItem in platform.platformsList" :key="subItem" :type="subItem" />
						</template>
						<PlatformBox v-else :key="platform.type" :type="platform.type" />
					</template>
				</div>
			</div>
			<section class="community-section">
				<div class="header">
					<h4>{{ $t('projectProfile.community') }}</h4>
					<LinkExternal
						icon="ph:globe"
						:url="project.webUrl"
						:label="$t('projectProfile.officialWebsite')"
						color="secondary"
					/>
				</div>
				<div class="community-box">
					<div class="social-list">
						<template v-if="project.socialLinks">
							<LinkSocial v-for="(link, idx) in project.socialLinks" :key="idx" :type="link.type" :url="link.url" />
						</template>
					</div>
					<div class="contact-links">
						<template v-if="project.contactLinks">
							<LinkContact v-for="(link, idx) in project.contactLinks" :key="idx" :type="link.type" :url="link.url" />
						</template>
					</div>
				</div>
			</section>
			<section class="languagues-section">
				<div class="header">
					<h4>{{ $t('projectProfile.langAvailables') }}</h4>
				</div>
				<LanguagesList v-if="project.languages" :languages="project.languages" />
			</section>
		</div>
		<div class="right-section">
			<div v-if="project.finances.goal" class="goal-box">
				<div class="gradient-wrapper">
					<div class="title">
						{{ $t('projectProfile.currentGoal') }}
						<span>{{ project.finances.goal.name }}</span>
					</div>
					<div class="amount-info">
						<div class="remaining">
							<span>{{ displayNumber(project.finances.goal.amount - project.finances.goal.collected) }}€</span>
							{{ $t('remaining') }}
						</div>
						<FinancesBar
							:collected="project.finances.goal.collected"
							:goal="project.finances.goal.amount"
							infoPosition="bottom"
						/>
					</div>
					<div class="donate-btn">
						<div class="btn-wrapper">
							<NuxtLink :to="localePath(`/donate?project=${project.slug}`)">
								<button>{{ $t('donate') }}</button>
							</NuxtLink>
						</div>
					</div>
				</div>
			</div>
			<section class="info-section">
				<div class="img-carrusel">
					<Slider v-if="project.screenshots.length > 0" :images="project.screenshots" />

					<div v-else class="empty-screenshots">
						<div />
					</div>
				</div>
				<template v-if="project.fullDescription">
					<div class="description-box">
						<div class="long-description">{{ project.fullDescription }}</div>
					</div>
					<button class="read-more-btn">{{ $t('readAll') }}</button>
				</template>

				<div v-else class="empty-description">{{ $t('noDescription') }}</div>
			</section>
		</div>
	</div>
	<a id="for-users" />
	<div class="info-container">
		<div class="navigation-section">
			<nav>
				<a id="forUsersNav" class="for-users active" href="#for-users">
					<Icon class="icon" name="ph:users-fill" />
					<span>{{ $t('projectList.forUsers') }}</span>
				</a>
				<a id="forFundersNav" class="for-funders" href="#for-funders">
					<Icon class="icon" name="ph:piggy-bank-fill" />
					<span>{{ $t('projectList.forFunders') }}</span>
				</a>
				<a id="forDevsNav" class="for-devs" href="#for-devs">
					<Icon class="icon" name="ph:code-fill" />
					<span>{{ $t('projectList.forDevs') }}</span>
				</a>
				<a id="forTranslatorsNav" class="for-translators" href="#for-translators">
					<Icon class="icon" name="ph:translate-fill" />
					<span>{{ $t('projectList.forTranslators') }}</span>
				</a>
			</nav>
		</div>
		<section id="forUsers" class="users-section info-box">
			<ForUsersSection v-if="project" :project />
		</section>
		<a id="for-funders" />
		<section id="forFunders" class="funders-section info-box">
			<ForFundersSection v-if="project" :project />
		</section>
		<a id="for-devs" />
		<section id="forDevs" class="devs-section info-box">
			<ForDevsSection v-if="project" :project />
		</section>
		<a id="for-translators" />
	</div>
	<section id="forTranslators" class="translators-section info-box">
		<ForTranslatorsSection />
	</section>
</template>

<style scoped lang="sass">
.goal-box
	border-radius: $border-r
	background: var(--veenk-gradient)
	box-shadow: 0px 4px 8px 2px rgba(255, 170, 59, 0.1)
	padding: 1px

	.gradient-wrapper
		border-radius: $border-r
		background: var(--bg-2)
		display: flex
		align-items: center
		padding: 20px $sp-l

		& > div
			flex: 1

	.title
		display: flex
		flex-direction: column
		gap: $sp-xxs
		font-size: 14px
		color: var(--soft-font-color)
		font-weight: 500

		span
			font-size: 18px
			font-weight: 600
			color: var(--font-color)

	.amount-info
		display: flex
		flex-direction: column
		align-items: center
		gap: $sp-xxs

		.remaining
			font-size: 14px
			color: var(--soft-font-color)
			span
				margin-right: $sp-xxxs
				font-size: 20px
				font-weight: 600
				color: var(--font-color)

.donate-btn
	display: flex
	justify-content: flex-end

	.btn-wrapper
		padding: 1px
		padding-bottom: 3px
		background: var(--veenk-gradient)
		border-radius: $border-r
		button
			cursor: pointer
			font-weight: 600
			border: none
			padding: $sp-xxs $sp-s
			background: var(--bg-2)
			border-radius: $border-r
			letter-spacing: 1px
			font-size: toRem(16)
			transition: all 0.1s ease-in-out
			color: var(--font-color)

		&:hover
			padding-bottom: 5px
			box-shadow: var(--box-shadow)

			button
				background: color-mix(in srgb, var(--bg) 20%, transparent)
				font-weight: 700
				color: var(--font-color-for-black)

		&:active
			transition: none
			padding-bottom: 3px
			transform: translateY(1px)
			button
				background: color-mix(in srgb, var(--bg) 20%, transparent)
				font-weight: 700
				color: var(--font-color-for-black)

.project-main-section
	display: flex

.main-section
	display: flex
	box-sizing: border-box
	flex-direction: column
	align-items: flex-start

	.info-section
		display: flex
		flex-direction: column
		gap: $sp-xs

	&:hover .header .name::before
		opacity: 1

	.project-name
		display: flex
		padding: 6px 0px
		align-items: flex-end
		gap: $sp-xs
		flex-shrink: 0
		text-decoration: none
		margin-bottom: 10px

		.img-box
			width: 64px
			height: 64px

			img
				width: 100%
				height: 100%
				object-fit: contain
				border-radius: $border-r

		.name
			color: var(--font-color)
			font-size: 42px
			font-style: normal
			font-weight: 700
			line-height: normal
			position: relative
			padding-bottom: $sp-xxs

			&::before
				content: ''
				position: absolute
				background: var(--font-color)
				width: 100%
				height: 1px
				opacity: 0
				bottom: -$sp-xxxl
				transition: all 0.3s ease-in-out

	.description
		flex-shrink: 0
		color: var(--font-color)
		font-size: 15px
		line-height: 1.4
		font-style: normal
		font-weight: 500

	.hashtags-list
		margin-bottom: $sp-xs

		.hashtag
			cursor: auto

	.badges-list
		margin-bottom: $sp-xxs

	.platform
		background: var(--gray-orange)

	svg
		width: $sp-s
		height: $sp-s

	section
		width: 100%

		.header
			display: flex
			align-items: center
			justify-content: space-between
			padding: 6px 0px
			text-decoration: none
			margin-bottom: $sp-s

	.community-section

		.community-box
			display: flex
			flex-wrap: wrap
			justify-content: center
			gap: $sp-xxs
			background: var(--bg-0)
			border-radius: $border-r
			padding: $sp-s $sp-xxs
			box-shadow: var(--box-shadow-inset)

		.header
			padding: 0 $sp-xs 20px

		.social-list
			display: flex
			gap: $sp-s
			padding: $sp-xs
			flex-wrap: wrap

			.social-item
				svg
					transition: all 0.3s ease-in-out
					color: var(--primary)
					width: 60%
					height: auto

				&:hover
					svg
						color: var(--yellow)

		.contact-links
			display: flex
			gap: $sp-s
			padding: $sp-xs
			flex-wrap: wrap

			a
				text-decoration: none

		svg
			width: $sp-s
			height: $sp-s

.right-section
	display: flex
	flex-direction: column
	gap: $sp-xs

	.empty-screenshots
		& > div
			height: 290px

	.info-section
		background: var(--bg-2)
		border: solid 1px var(--primary-soft)
		border-radius: $border-r
		display: flex
		flex-direction: column
		padding: $sp-m 0
		box-shadow: var(--box-shadow)
		min-height: 380px

		.description-box
			margin: $sp-xs 40px $sp-s
			max-height: 170px
			position: relative
			overflow: hidden

			.long-description
				font-size: 14px
				line-height: 1.6
				color: var(--font-color)
				white-space: pre-wrap

			&::before
				content: ''
				position: absolute
				bottom: 0px
				left: 0
				background: var(--blur-gradient)
				width: 100%
				height: 60px

		.read-more-btn
			margin: auto
			font-size: 14px
			font-weight: 600
			background: var(--bg-2)
			padding: $sp-xxxl $sp-s
			border-radius: $border-r
			color: var(--font-color)
			cursor: pointer
			user-select: none
			border: solid 1px var(--bg-2)
			border-bottom-color: var(--primary-soft)
			height: 30px

			&:hover
				background: var(--bg-1)
				border-bottom-width: 2px

			&:active
				transform: translateY(2px)
				border-bottom-width: 1px
				border-bottom-color: var(--bg-2)

		.empty-description
			font-size: toRem(14)
			color: var(--soft-font-color)
			flex: 1
			display: flex
			align-items: center
			justify-content: center
			padding: 60px $sp-s $sp-s

.info-container
	margin: auto
	padding-bottom: 1px
	position: relative

	.navigation-section
		display: flex
		justify-content: center
		margin-bottom: 60px
		position: sticky
		top: $sp-l
		background: var(--bg)
		padding-top: $sp-xs

		a
			text-decoration: none

		nav
			display: flex
			justify-content: center
			gap: $sp-xl
			border-bottom: solid 2px var(--soft-font-color)
			margin: auto
			padding: $sp-xs
			font-weight: 600

		nav > a
			display: flex
			align-items: center
			gap: $sp-xxs
			cursor: pointer
			transition: all 0.3s ease-in-out
			color: var(--soft-font-color)

		.icon
			color: var(--soft-font-color)
			width: $sp-s
			height: $sp-s

		.active
			color: var(--primary-active)

			.icon
				color: var(--primary-active)

	.users-section
		margin-top: 0

#for-translators
	// margin-top: 20px
	margin-bottom: 182px
	display: block

.info-box
	width: 100%
	background: var(--bg-2)
	border-radius: $border-r
	margin-top: 140px
	box-shadow: var(--box-shadow-center)

.columns
	display: flex
	justify-content: space-between
	height: 100%

	& > div
		display: flex
		flex-direction: column
		gap: 40px

	.left-column
		padding: 20px 40px
		flex: 1

	.patrons-section
		flex: 1

	.patrons-list
		display: flex
		flex-wrap: wrap
		gap: 40px

		.patron-user
			width: 210px

	.sponsors-list
		display: flex
		gap: 40px

		.sponsor-box
			padding: $sp-xxxl $sp-xs
			background: var(--bg-2)

	.finances-column
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 40px $sp-m
		background: var(--bg)
		border-radius: $border-r

		.empty-text
			text-align: center

	.finances-box
		width: $sp-xxxl
		display: flex
		flex-direction: column
		gap: $sp-xs
		width: 100%

		.no-info
			font-weight: 600
			color: var(--soft-font-color)
			text-align: center
			padding: $sp-s

	.header
		display: flex
		align-items: center
		gap: 40px

		.title
			margin-bottom: 0

	.title
		font-weight: 500
		font-size: 18px
		margin-bottom: $sp-s

	.subtitle
		display: flex
		align-items: center
		gap: $sp-xxs
		font-size: 14px
		color: var(--soft-font-color)
		font-weight: 600

	.donation-box
		background: var(--bg)
		border-radius: $border-r
		padding: $sp-xs
		display: flex
		flex-direction: column
		align-items: center
		gap: $sp-s
		margin: $sp-s 40px

		.donation-options
			display: flex
			gap: $sp-xs

	.money-sources
		.source
			display: flex
			align-items: center
			justify-content: center
			gap: 12px
			padding: $sp-xs

		span
			font-weight: 500

		.total-collected
			border-top: solid 2px var(--soft-font-color)
			padding-top: $sp-s
			display: flex
			justify-content: center
			gap: 60px

		.title
			text-align: center
			font-size: 14px
			font-weight: 500

		svg
			margin-left: 12px
			width: $sp-s
			height: $sp-s
			fill: var(--font-color)

.devs-section
	& > div
		height: 100%

.translators-section
	max-width: var(--max-width)
	margin: auto
	margin-bottom: $sp-xxxl

// Green and Blue
@media screen and (max-width: $tablet)
	.project-page
		padding: 0

		&.page
			padding: 0

		.project-name
			font-size: toRem(20)

	.project-main-section
		flex-direction: column
		gap: 40px
		margin-bottom: $sp-xxl

		.main-section
			gap: 88px

			.header
				padding: 0 $sp-xs
				margin-bottom: 12px

			.info-section
				padding: $sp-xxl 6vw 0px

			.project-name
				.name
					font-size: toRem(32)

			.community-section
				padding: 12px

				.social-list
					padding: 0
					gap: 20px
					width: fit-content
				.contact-links
					padding: 0
					width: fit-content

			.languagues-section
				padding: 12px

			.hashtags-list
				gap: 0px

		.platform-list
			flex-wrap: wrap
			gap: $sp-xxs

		.right-section
			gap: 40px

			.goal-box
				margin: 0 6vw
				.gradient-wrapper
					flex-direction: column
					gap: 40px
					padding: 40px

				.title
					align-items: center
					span
						font-size: toRem(24)

				.amount-info
					width: 90%

				.donate-btn
					width: 100%
					.btn-wrapper
						width: 100%
					button
						width: 100%
						padding: 12px $sp-m
						font-size: toRem(18)

			.info-section
				border-radius: 0
				border-left: none
				border-right: none
				padding-left: 0
				padding-right: 0

				.slider
					padding: 0

					img
						height: auto
						width: 85vw

				.description-box
					margin: 16 6vw 40px

	.info-container
		.navigation-section
			padding-top: $sp-xxs
			margin-bottom: 0
			nav
				width: 100%
				gap: $sp-xxs
				justify-content: space-around

				span
					display: none

				a.active
					span
						display: block

	.info-box
		margin-top: $sp-xl

	#for-devs, #for-funders
		padding-bottom: $sp-l
		height: $sp-xxs
		display: block

	#forUsers
		margin-top: $sp-l

	#for-translators
		margin-bottom: 115px
		padding-bottom: 12px

	#forTranslators
		margin-top: 0px

	.users-section
		& > div
			flex-direction: column
			padding: 40px 0

		.left-side
			gap: $sp-xxs

		.download-section, .similar
			padding: $sp-xs 6vw

		.download-links
			flex-wrap: wrap

		.resources
			align-items: center
			justify-content: space-around
			margin: 40px 0
			gap: 12px
			padding: 0 12px

			.title
				font-size: toRem(14)

			.learn-material, .useful-resources
				padding: $sp-xs
				width: 50%

		.features
			width: 100%
			padding: 0
			margin-top: 40px

			.title
				margin-bottom: $sp-s

			.features-list
				padding: 0
				background: transparent

	.funders-section
		& > div
			padding: 40px 6vw
		.columns
			flex-direction: column
			gap: 40px

		.left-column
			padding: 0

		.finances-column
			padding: $sp-xs

			.finances-box
				width: 100%

				.no-info
					padding: $sp-xs

		.donation-box
			margin: 0
			padding: 0

	.devs-section

		.platform-info
			padding: 40px 8vw
			gap: 40px

			.repo-and-info
				flex-direction: column
				gap: 40px

	.translators-section
		min-height: 400px

// Red and black
@media screen and (min-width: $desktop)
	.project-page
		padding: 100px $sp-xxl 0

		.project-main-section
			align-items: center
			gap: $sp-xl
			margin: auto
			margin-bottom: $sp-xxl
			max-width: var(--max-width)

			.description
				width: 480px

			.main-section
				width: 50%
				padding: 40px 0
				min-height: calc(100vh - 50px - 40px - 40px)
				gap: 40px

			.right-section
				width: 50%
				flex-shrink: 1

			.platform-list
				gap: $sp-xs

		.community-section
			padding: 40px 0
			margin-top: $sp-xs

			.header
				margin-bottom: 0

	.info-container
		max-width: var(--max-width)
		padding-top: 31px

	.info-box
		height: 720px
		margin-top: 160px

		&.translators-section
			margin-top: 0px

	.users-section
		.left-side
			justify-content: space-around
			padding: 40px 20px 40px 60px
			width: 55%
</style>
