<script setup lang="ts">
import { timeWorkingOnProject } from '~/shared/utils/dates'
const localePath = useLocalePath()
const { getDonationInfoBySlug } = useProjects()

const props = defineProps<{ projects: ProjectMinimal[]; defaultProject: ProjectDonationInfo | undefined }>()

const searchTerm = ref('')
const selectedProject = ref<ProjectDonationInfo>()

watch(props, () => {
	selectedProject.value = props.defaultProject
})

// const showSearchResults = () => searchTerm.value.length > 2
const results = computed(() =>
	props.projects
		.filter((item) => {
			const name = item.name.toLowerCase()
			const search = searchTerm.value.toLowerCase()
			return name.includes(search)
		})
		.slice(0, 5)
)

const timeWorking = computed(() => timeWorkingOnProject(selectedProject.value?.created))

const onResultClick = (slug: string) => {
	getDonationInfoBySlug(slug)
		.then((res) => {
			selectedProject.value = res
			searchTerm.value = ''
		})
		.catch((e) => {
			console.error('Error:', e)
		})
}
</script>

<template>
	<div class="external-project">
		<div class="search-project">
			<SearchInput v-model="searchTerm" :placeholder="$t('donatePage.searchProject')" />
			<div class="search-results" :class="{ open: searchTerm.length > 2 }">
				<div v-if="results.length > 0" class="results-list">
					<SearchBtn
						v-for="result in results"
						:key="result.slug"
						:img="result.logoUrl"
						:name="result.name"
						@click="
							() => {
								onResultClick(result.slug)
							}
						"
					/>
				</div>
				<div v-else class="empty-search">{{ $t('noResults') }}</div>
			</div>
		</div>
		<div class="project-donation-card">
			<div v-if="selectedProject" class="project-info">
				<div class="card-header">
					<NuxtLink class="header" :to="localePath(`project/${selectedProject.slug}`)">
						<div class="img-box">
							<img :src="selectedProject.logoUrl" :alt="`Logo icon for ${selectedProject.name}`" />
						</div>
						<div class="name">{{ selectedProject.name }}</div>
					</NuxtLink>
					<NuxtLink class="btn btn-website" :to="selectedProject.webUrl">
						<Icon class="icon" name="ph:globe-simple" />
						<span>Website</span>
					</NuxtLink>
				</div>
				<div class="extra-info">
					<p>
						<i18n-t keypath="donatePage.youWillHelp" scope="global">
							<template #peopleCount>{{ selectedProject.members }}</template>
							<template #people>{{ $t('person', selectedProject.members) }}</template>
						</i18n-t>
						{{}}
						<template v-if="timeWorking > 0">
							<i18n-t keypath="donatePage.forYears" scope="global">
								<template #yearsCount>{{ timeWorking }}</template>
							</i18n-t>
						</template>
						<template v-else>
							{{ $t('donatePage.forMonths') }}
						</template>
					</p>
					<div v-if="selectedProject.finances.goal" class="objective">
						<FinancesBar
							:label="selectedProject.finances.goal.name"
							:goal="selectedProject.finances.goal.amount"
							:collected="selectedProject.finances.goal.collected"
						/>
					</div>
				</div>
				<div class="choose-section">
					<div class="name">{{ $t('donatePage.choosePlatform') }}</div>
					<div class="donation-container">
						<NuxtLink
							v-if="selectedProject.finances.customDonation"
							:to="selectedProject.finances.customDonation.url"
							class="donation-link"
						>
							<!-- <DonationOption type="custom" :custom-data="selectedProject.finances.customDonation" /> -->
						</NuxtLink>
						<template v-if="selectedProject.finances.donationOptions">
							<NuxtLink
								v-for="(item, idx) in selectedProject.finances.donationOptions"
								:key="idx"
								:to="item.url"
								class="donation-link"
							>
								<DonationOption :type="item.type" :from-organization="selectedProject.fromOrganization === true" />
							</NuxtLink>
						</template>
					</div>
					<div class="small-text">* {{ $t('donatePage.warningFees') }}</div>
				</div>
			</div>
			<div v-else class="empty">{{ $t('donatePage.searchForStart') }}</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.external-project
	display: flex
	flex-direction: column
	align-items: flex-end
	max-width: 1100px
	margin: auto
	padding: 0px
	padding-bottom: 56px

	.search-project
		position: relative
		box-shadow: var(--box-shadow)
		width: 260px
		margin-right: $sp-xxs

.project-donation-card
	color: var(--font-color)
	display: flex
	border-radius: $border-r
	overflow: hidden
	background: var(--bg-2)
	border: solid 1px var(--primary-soft)
	box-shadow: var(--box-shadow)
	width: 100%

	a
		text-decoration: none

	.btn-website
		font-size: 14px
		font-weight: 500
		display: flex
		align-items: center
		background: var(--secondary-bg-2)
		border: solid 1px var(--secondary-dark)
		padding: $sp-xxs $sp-xs
		gap: $sp-xxs
		border-radius: $border-r
		color: var(--font-color)
		cursor: pointer
		user-select: none
		transition: all 0.1s ease-in-out

		.icon
			width: 20px
			height: 20px
			color: var(--secondary-dark)

		&:hover
			border-bottom-width: 3px
			box-shadow: var(--box-shadow)

		&:active
			transition: none
			transform: translateY(1px)
			border-bottom-width: 1px
			box-shadow: var(--box-shadow)

	.project-info
		width: 100%
		display: flex
		flex-direction: column
		gap: $sp-m

		.card-header,
		.extra-info
			display: flex
			justify-content: space-between
			align-items: center

		.header
			background: var(--white)
			border-radius: $border-r
			display: flex
			align-items: center
			padding: $sp-xxxs $sp-s
			// height: 47px
			gap: $sp-xxs
			flex-shrink: 0

			.img-box
				width: $sp-l
				aspect-ratio: 1/1
				display: flex
				align-items: center
				justify-content: center

			img
				fill: var(--bg-2)
				width: 40px
				height: 40px
				border-radius: $border-r

			.name
				color: var(--font-color)
				font-size: toRem(20)
				font-style: normal
				font-weight: bold
				line-height: normal
				cursor: pointer
				position: relative
				color: var(--dark)
				text-decoration: none

				&::before
					content: ''
					position: absolute
					background: var(--font-color)
					width: 100%
					height: 1px
					opacity: 0
					bottom: -$sp-xxxl
					transition: all 0.3s ease-in-out

		.extra-info
			p
				max-width: 420px
				font-size: 13px
				font-weight: 500

			.objective
				width: 200px

		.choose-section
			flex: 1

			.name
				font-weight: 600
				color: var(--soft-font-color)
				margin-bottom: 14px
				font-size: toRem(14)

			.donation-container
				display: flex
				gap: $sp-xs
				overflow-x: auto
				height: calc(100% - 26px)
				border-radius: $border-r
				padding: 12px
				background: var(--bg-1)
				box-shadow: inset 0px 0px 8px rgba($color: #1b1b1b, $alpha: 0.8)
				box-shadow: var(--box-shadow-inset)
				border: solid 1px var(--primary-soft)

	.small-text
		margin-top: $sp-xxs
		font-size: toRem(12)
		color: var(--soft-font-color)

@media screen and (max-width: $tablet)
	.project-info
		.card-header
			flex-wrap: wrap

			.header
				text-align: center
				gap: $sp-xxxs
				padding: $sp-xxs $sp-xs

// Green and Blue
@media screen and (max-width: $laptop)
	.project-donation-card
		width: 100vw
		border-radius: 0
		border-left: none
		border-right: none
		min-height: 320px
		padding: $sp-l 4vw $sp-xl

		.empty
			margin-top: 40px
			padding: $sp-s
			text-align: center
			width: 100%
			font-size: toRem(16)

		.project-info
			.card-header
				justify-content: space-between
				gap: $sp-xs

				.header
					max-width: calc(100vw - 8vw)

			.btn-website
				height: 56px
				padding: 0
				aspect-ratio: 1/1
				display: flex
				align-items: center
				justify-content: center

				.icon
					height: $sp-s
					width: $sp-s
					display: inline-block

				span
					display: none

			.extra-info
				p
					font-size: toRem(15)
					font-weight: 400

// Yellow and more
@media screen and (min-width: $laptop)
	.project-donation-card
		min-height: 460px
		width: 848px
		padding: 40px

	.external-project
		align-items: flex-end
		gap: $sp-xxs

		.search-project
			margin-right: $sp-xs

		.search-results
			top: 46px
			width: 115%
</style>
