<script setup lang="ts">
const localePath = useLocalePath()

const props = defineProps<{ modelValue: number }>()

const emit = defineEmits(['update:modelValue'])

const updateValue = (val: number) => {
	emit('update:modelValue', val)
}

const reCalculateStep = (event: any) => {
	const scroll = event.target?.scrollLeft
	const width = window.innerWidth
	if (scroll < 100) {
		updateValue(0)
	} else if (scroll > width && scroll < width * 2) {
		updateValue(1)
	} else {
		updateValue(2)
	}
}
</script>

<template>
	<div @scrollend="reCalculateStep" class="selection-columns">
		<div class="step-indicator">
			<div :class="{ active: props.modelValue === 0 }" />
			<div :class="{ active: props.modelValue === 1 }" />
			<div :class="{ active: props.modelValue === 2 }" />
		</div>
		<div class="selection-box">
			<div
				:class="{ active: props.modelValue === 0 }"
				class="selection-btn"
				@click="() => updateValue(0)"
				@keyPress="() => updateValue(0)"
			>
				<div class="gradient-wrapper">
					<div class="gradient-circle" />
					<div class="text">{{ $t('donatePage.donateExternal') }}</div>
				</div>
			</div>
			<i18n-t class="description" keypath="donatePage.preparedList" tag="div" scope="global">
				<template #projects
					><NuxtLink :to="localePath('/projects')">{{ $t('donatePage.projects') }}</NuxtLink></template
				>
			</i18n-t>
		</div>
		<div class="selection-box">
			<div
				class="selection-btn"
				:class="{ active: props.modelValue === 1 }"
				@click="() => updateValue(1)"
				@keyPress="() => updateValue(1)"
			>
				<div class="gradient-wrapper">
					<div class="gradient-circle" />
					<div class="text">{{ $t('donatePage.donateToVeenk') }}</div>
				</div>
			</div>
			<div class="description">
				{{ $t('donatePage.operateThanks') }}.
			</div>
		</div>
		<div class="selection-box">
			<div
				class="selection-btn"
				:class="{ active: props.modelValue === 2 }"
				@click="() => updateValue(2)"
				@keyPress="() => updateValue(2)"
			>
				<div class="gradient-wrapper">
					<div class="gradient-circle" />
					<div class="text">{{ $t('donatePage.donateInternal') }}</div>
				</div>
			</div>
			<div class="description">
				{{ $t('donatePage.directlySupport') }} <span>{{ $t('donatePage.internalProjects') }}</span>
				<!-- <NuxtLink :to="localePath('/projects?internalProjects=true')">{{$t('donatePage.internalProjects')}}</NuxtLink> -->
				{{ $t('donatePage.toBoostIt') }}
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.selection-columns
	display: flex
	flex-direction: column
	gap: $sp-xl
	color: var(--font-color)
	justify-content: center
	padding: $sp-s 0

	.selection-box
		width: 320px
		display: flex
		flex-direction: column
		align-items: center
		gap: $sp-s
		text-align: center
		font-size: toRem(14)

	.description
		font-size: toRem(14)
		line-height: 1.3

		a
			text-underline-offset: 3px

.selection-btn
	border-radius: 40px
	color: var(--font-color)
	font-weight: 600
	font-size: 14px
	background: var(--primary-soft)
	padding: 2px
	cursor: pointer
	transition: all 0.2s ease-in-out
	user-select: none

	.gradient-wrapper
		border-radius: inherit
		padding: 12px 18px
		background: var(--bg-2)
		display: flex
		gap: $sp-xs
		align-items: center
		transition: all 0.2s ease-in-out

	.gradient-circle
		box-sizing: content-box
		width: 14px
		height: 14px
		background: var(--bg-1)
		border: solid 2px var(--primary-soft)
		border-radius: 50%
		transition: all 0.2s ease-in-out

	&:hover
		color: var(--font-color)
		background: var(--primary)

		.gradient-wrapper
			background: var(--bg-1)

		.gradient-circle
			border: solid 2px var(--primary)
			background: var(--primary)

	&.active
		color: var(--font-color)
		// background: var(--secondary)
		background: var(--veenk-gradient-diagonal)
		box-shadow: var(--box-shadow)

		.gradient-wrapper
			background: var(--bg-2)

		.gradient-circle
			border: none
			background: var(--veenk-gradient-diagonal)
			width: $sp-xs
			height: $sp-xs

			&:hover
				color: var(--font-color)
				cursor: default
				border: none
				width: $sp-xs
				height: $sp-xs
				background: var(--veenk-gradient-diagonal)

// Green and Blue
@media screen and (max-width: $laptop)
	.selection-columns
		justify-content: flex-start
		flex-direction: row
		padding-bottom: $sp-s
		// padding-left: calc((100vw - 320px) / 2)
		// padding-right: calc((100vw - 320px) / 2)
		width: 100vw
		scroll-snap-type: x mandatory
		scroll-snap-points-x: repeat(100vw)
		overflow-x: auto

		.selection-box
			gap: 60px
			scroll-snap-align: start
			min-width: 100vw

		.gradient-wrapper
			padding: 12px $sp-m
			.gradient-circle
				display: none

			.text
				font-size: toRem(16)

		.description
			font-size: toRem(17)
			width: 85%

		.step-indicator
			display: block
			position: absolute
			top: 95px
			left: 50%
			transform: translateX(-50%)
			display: flex
			gap: $sp-xxs
			width: $sp-xxxl
			justify-content: center

			div
				height: 3px
				width: 28px
				background: var(--grey)
				border-radius: 20px

				&.active
					background: var(--primary-active)
</style>
