<script setup lang="ts">
const props = defineProps<{ label: string; stats: VeenkStats }>()
</script>

<template>
	<div class="veenk-platform">
		<h3>{{ $t('comingSoon') }}</h3>
		<div>
			<div class="text">
				{{ $t('donatePage.meanwhileDonate') }}
				<a href="https://meetiko.org/@kyva" target="_blank" rel="noreferrer"> @kyva@meetiko.org </a>
				, {{ $t('donatePage.personBehind') }}
				<a href="https://liberapay.com/kyva/" target="_blank" rel="noreferrer">
					{{ $t('donatePage.liberapayAccount') }}
				</a>
				.
			</div>
			<div class="reflected">
				<span>{{ $t('donatePage.donationReflected') }}</span>
				<div class="finances">
					<FinancesBar :label="props.label" :collected="props.stats.actualCollected" :goal="props.stats.actualGoal" />
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.veenk-platform
	color: var(--font-color)
	padding: 40px
	margin: auto
	text-align: center
	display: flex
	flex-direction: column
	justify-content: center
	border-radius: $border-r
	background: var(--bg-2)
	border: solid 1px var(--soft-font-color)
	box-shadow: var(--box-shadow-center)

	& > div
		display: flex
		align-items: center
		gap: 64px

	.text
		width: 354px
		font-size: toRem(16)
		line-height: 1.5

	h3
		font-size: toRem(32)
		font-weight: 700

	a
		color: var(--secondary)
		text-decoration: none

		&:hover
			text-decoration: underline

	.reflected
		display: flex
		flex-direction: column
		align-items: center
		gap: $sp-s

		& > span
			font-size: 12px
			font-weight: 600
			color: var(--font-color)

		.finances
			background: var(--bg-1)
			border: var(--border-light)
			padding: $sp-xs
			width: 248px
			border-radius: $border-r

// Green and Blue
@media screen and (max-width: $laptop)
	.veenk-platform
		padding: $sp-xl 6vw
		gap: $sp-xs
		width: 100vw
		border-radius: 0
		border-left: none
		border-right: none

		& > div
			flex-direction: column

// Red and black
@media screen and (min-width: $desktop)
	.veenk-platform
		width: 848px
		min-height: 460px
</style>
