<script setup lang="ts">
const props = defineProps<{ type: CarrouselType }>()
</script>

<template>
	<section class="projects-carrousel close-to-goal">
		<h3>{{ $t('home.closeToGoal') }}</h3>
		<ProjectCarrousel :type="props.type" />
	</section>
</template>

<style scoped lang="sass"></style>
