<script setup lang="ts">
const projectsStore = useProjectsStore()

const handleScroll = () => {
	if (projectsStore.isFetching) return
	// @ts-expect-error scrollMaxY throw error buy exists
	if (window.scrollY > window.scrollMaxY - 800) {
		projectsStore.fetchNextPage()
	}
}

onMounted(() => {
	window.addEventListener('scroll', () => {
		debounce(handleScroll, 100)
	})
	return () => {
		window.removeEventListener('scroll', handleScroll)
	}
})

const asProjectCard = (item: ProjectCard | ProjectMinimalWithReady) => item as ProjectCard
</script>

<template>
	<div class="projects-list">
		<div v-if="projectsStore.projectsList.length <= 0" class="no-results-filters">
			{{ $t('projectList.noResultsFilters') }}
		</div>
		<template v-for="item in projectsStore.projectsList" v-else :key="item.slug">
			<ProjectCard v-if="item.isReady === true" :project="asProjectCard(item)" />
			<ProjectNotReady v-else :data="item" />
		</template>
	</div>
</template>

<style scoped lang="sass">
.projects-list
	color: var(--font-color)
	display: flex
	flex-direction: column
	align-items: center
	gap: $sp-xs

.no-results-filters
	margin-top: 40px
	padding: $sp-m $sp-s
	background: var(--bg-2)
	border-radius: $border-r
	border: var(--border-light)
	display: flex
	align-items: center
	justify-content: center

// Yellow and more
@media screen and (min-width: $laptop)
	.no-results-filters
		width: 862px
		min-height: $sp-xxl
</style>
