<script setup lang="ts">
const localePath = useLocalePath()
const projectsStore = useProjectsStore()
const route = useRoute()

const isSearchOpen = ref<boolean>(false)
const searchTerm = ref('')

type SearchMode = 'project' | 'alternative' | 'hashtag'
const searchMode = ref<SearchMode>('project')
const refSlider = ref<HTMLDivElement>()
const currentStep = ref<number>(0)
const { fetchAllProjects, loading } = useProjects()

const recommendedProjects = () => {
	const search = clearSearchString(searchTerm.value)
	let results = []
	if (searchTerm.value.length > 2) {
		for (const project of projectsStore.allProjects) {
			if (clearSearchString(project.name).includes(search)) {
				results.push(project)
			}
		}
	} else {
		results = projectsStore.allProjects
	}
	return results.slice(0, 6)
}

const recommendedAlternatives = () => {
	const search = clearSearchString(searchTerm.value)
	let results = []
	if (searchTerm.value.length > 2) {
		for (const alternative of projectsStore.alternatives) {
			if (clearSearchString(alternative.name).includes(search)) {
				results.push(alternative)
			}
		}
	} else {
		results = projectsStore.alternatives
	}
	return results.slice(0, 6)
}

const onSearchAlternativeClick = (item: Alternative) => {
	searchTerm.value = ''
	projectsStore.setActiveAlternative(item)
	// projectsStore.applyFilters({}) // add
	closeSearch()
}

const openSearch = () => {
	if (isSearchOpen.value) return
	fetchAllProjects()
	document.body.style.overflow = 'hidden'
	// setTimeout(() => {
	window.scroll({
		top: 140,
		behavior: 'smooth'
	})
	// }, 300)
	isSearchOpen.value = true
}

const closeSearch = () => {
	document.body.style.overflow = 'auto'
	isSearchOpen.value = false
	setTimeout(() => {
		window.scroll({
			top: 0,
			behavior: 'smooth'
		})
	}, 100)
}

watch(route, () => {
	closeSearch()
})

const switchSearchMode = (mode: SearchMode) => {
	searchMode.value = mode
	let step = 0
	switch (mode) {
		case 'project':
			step = 0
			break
		case 'alternative':
			step = 1
			break
		case 'hashtag':
			step = 2
			break
	}
	currentStep.value = step
}

const slideLeft = computed(() => {
	return `left: -${currentStep.value * (refSlider.value?.offsetWidth ?? 1)}px`
})
</script>

<template>
	<div class="search-box" :class="{ open: isSearchOpen }">
		<SearchInput
			:placeholder="`${$t('projectList.search')} ${$t(`projectList.${searchMode}`)}...`"
			@click="openSearch"
			:value="searchTerm"
			v-model="searchTerm"
		/>
		<div class="close-background" :class="{ open: isSearchOpen }" @click="closeSearch" @keyPress="closeSearch" />
		<div class="search-recommendations" :class="{ open: isSearchOpen }">
			<div class="search-navigation">
				<nav>
					<button
						:class="{ active: searchMode === 'project' }"
						type="button"
						@click="() => switchSearchMode('project')"
					>
						{{ $t('projectList.project') }}
					</button>
					<button
						:class="{ active: searchMode === 'alternative' }"
						type="button"
						@click="() => switchSearchMode('alternative')"
					>
						{{ $t('projectList.alternative') }}
					</button>
					<button
						:class="{ active: searchMode === 'hashtag' }"
						type="button"
						@click="() => switchSearchMode('hashtag')"
					>
						{{ $t('projectList.hashtag') }}
					</button>
				</nav>
			</div>
			<div class="slide-wrapper">
				<div class="slide" :style="slideLeft" ref="refSlider">
					<div class="projects-recommendation">
						<Spiner v-if="loading" />
						<div v-else class="wrapper">
							<NuxtLink
								v-for="project in recommendedProjects()"
								:key="project.slug"
								:to="localePath(`/project/${project.slug}`)"
							>
								<img :src="project.logoUrl" alt="alternative logo" />
								{{ project.name }}
							</NuxtLink>
						</div>
					</div>
					<div class="alternatives-recommendation">
						<div class="wrapper">
							<button
								v-for="alternative in recommendedAlternatives()"
								:key="alternative.slug"
								type="button"
								@click="() => onSearchAlternativeClick(alternative)"
							>
								<img :src="alternative.img" alt="alternative logo" />
								{{ alternative.name }}
							</button>
						</div>
					</div>
					<div class="hashtags-recommendation">
						<div class="wrapper">
							<div class="hashtags-list">
								<NuxtLink
									v-for="tag in projectsStore.recommendedHashtags(searchTerm)"
									:key="tag._id"
									class="hashtag active"
									:to="localePath(`/projects?hashtag=${tag.key}`)"
								>
									<span class="hash">#</span>
									{{ tag.name }}
								</NuxtLink>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.search-box
	width: 100%
	position: relative
	margin-top: $sp-s

	.search-input
		width: 70%
		position: relative

		&::before
			content: ''
			position: absolute
			inset: 0

	.close-background
		animation-delay: 0.3s

	.close-background.open
		display: block

	.search-recommendations
		position: absolute
		top: 55px
		left: 50%
		transform: translate(-50%, 20px)
		height: 400px
		width: 90vw
		background: var(--bg-2)
		opacity: 0
		transition: all 0.4s ease-in-out
		border-radius: $border-r
		display: flex
		flex-direction: column
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3)
		border: solid 1px var(--primary-soft)
		z-index: 0

		&.open
			opacity: 1
			transform: translate(-50%, 0)
			z-index: 120

		.search-navigation

			nav
				display: flex
				border-bottom: solid 1px var(--primary-soft)
				justify-content: space-around

			button
				border: none
				font-size: toRem(14)
				font-weight: 600
				border-radius: 0
				padding: 12px $sp-xxs
				text-transform: capitalize
				background: transparent
				color: var(--soft-font-color)
				transition: all 0.2s ease-in-out

				&.active
					color: var(--primary-active)

		.slide-wrapper
			overflow: hidden
			position: relative
			height: 100%
			border-radius: $border-r
			font-weight: 600

			.slide
				width: 100%
				max-height: 100%
				height: 100%
				position: absolute
				display: flex
				transition: all 0.5s ease-in-out
				z-index: 140
				top: 0
				left: 0

				& > div
					min-width: 100%

				.wrapper
					width: fit-content
					margin: auto

		.projects-recommendation
			padding: $sp-xxs $sp-xs

			.spiner
				margin-top: $sp-m

			.wrapper
				& > a
					display: flex
					align-items: center
					padding: $sp-xxs
					gap: $sp-xs
					min-width: 260px
					font-size: toRem(16)

			img
				width: 38px
				height: 38px

		.alternatives-recommendation
			padding: $sp-xs

			.wrapper
				& > button
					display: flex
					align-items: center
					padding: $sp-xxs
					gap: $sp-xs
					min-width: 260px
					border: none

					&:active
						background: var(--dark)
						color: var(--white)

			img
				width: 38px
				height: 38px

		.hashtags-recommendation
			padding: $sp-xs 12px

			.hashtag
				padding: $sp-xxs 12px
				// font-size: toRem(14)

		.hashtags-list
			display: flex
			width: 100%
			align-items: flex-start
			flex-wrap: wrap

	&.open
		.search-recommendations
			opacity: 1

		.search-input
			z-index: 120

			&::before
				display: none

@media screen and (min-width: $laptop)
	.search-box
		display: none
</style>
