<script lang="ts" setup></script>

<template>
	<svg class="icon" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Custom donation Icon</title>
		<path
			d="M12 0C9.62663 0 7.30655 0.703788 5.33316 2.02236C3.35977 3.34094 1.8217 5.21508 0.913451 7.4078C0.00519941 9.60051 -0.232441 12.0133 0.230582 14.3411C0.693605 16.6689 1.83649 18.807 3.51472 20.4853C5.19295 22.1635 7.33115 23.3064 9.65892 23.7694C11.9867 24.2324 14.3995 23.9948 16.5922 23.0865C18.7849 22.1783 20.6591 20.6402 21.9776 18.6668C23.2962 16.6934 24 14.3734 24 12C23.9966 8.81843 22.7313 5.76814 20.4816 3.51843C18.2319 1.26872 15.1816 0.00335979 12 0ZM22.1112 11.0769H17.5154C17.3527 7.79308 16.3304 4.67654 14.6169 2.19231C16.6237 2.73108 18.4175 3.8712 19.7572 5.45947C21.0969 7.04774 21.9184 9.00804 22.1112 11.0769ZM12 22.1411C9.83885 19.8023 8.52808 16.4873 8.33423 12.9231H15.6658C15.4719 16.485 14.1612 19.8023 12 22.1411ZM8.33423 11.0769C8.52808 7.515 9.83423 4.19769 12 1.85885C14.1612 4.19769 15.4719 7.51269 15.6658 11.0769H8.33423ZM9.38308 2.19231C7.66962 4.67654 6.64731 7.79308 6.48462 11.0769H1.88885C2.08164 9.00804 2.90309 7.04774 4.2428 5.45947C5.58252 3.8712 7.3763 2.73108 9.38308 2.19231ZM1.88885 12.9231H6.48462C6.64731 16.2069 7.66962 19.3235 9.38308 21.8077C7.3763 21.2689 5.58252 20.1288 4.2428 18.5405C2.90309 16.9523 2.08164 14.992 1.88885 12.9231ZM14.6169 21.8077C16.3304 19.32 17.3527 16.2035 17.5154 12.9231H22.1112C21.9184 14.992 21.0969 16.9523 19.7572 18.5405C18.4175 20.1288 16.6237 21.2689 14.6169 21.8077Z"
		/>
	</svg>
</template>
