<script lang="ts" setup></script>

<template>
	<svg class="icon" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Liberapay Icon</title>
		<path
			d="M7.65765 19.6275C6.4755 19.6275 5.54741 19.4732 4.87332 19.1656C4.19923 18.858 3.71672 18.4373 3.42423 17.9037C3.13174 17.3702 2.99199 16.7643 3.00035 16.0688C3.00872 15.3734 3.10396 14.6414 3.28754 13.8589L6.45878 0.599048L10.3296 0L6.85866 14.3836C6.79203 14.6829 6.75469 14.9579 6.74633 15.2074C6.73796 15.4568 6.78366 15.6777 6.88343 15.8689C6.98319 16.06 7.15384 16.2147 7.39528 16.3308C7.63672 16.447 7.97376 16.5228 8.40678 16.5559L7.65765 19.6275ZM11.2238 6.7196C11.8911 6.52002 12.6528 6.34101 13.51 6.18261C14.3673 6.02421 15.2958 5.94574 16.2947 5.94574C17.2937 5.94574 18.0307 6.08705 18.7043 6.36998C19.378 6.65292 19.9321 7.04028 20.3652 7.5312C20.7983 8.02212 21.1181 8.59676 21.326 9.25413C21.5339 9.91149 21.6382 10.6152 21.6382 11.3647C21.6382 12.5796 21.4384 13.6909 21.0343 14.6983C20.6303 15.7056 20.0856 16.5754 19.3783 17.3078C18.6709 18.0401 17.8217 18.6107 16.8298 19.0204C15.8379 19.4301 14.7625 19.6303 13.598 19.6303C13.0317 19.6303 12.4657 19.5798 11.8998 19.4796L10.7759 24H7.08031L11.2238 6.7196ZM12.5736 16.484C12.8565 16.5506 13.2062 16.5815 13.6224 16.5815C14.2714 16.5815 14.8624 16.4634 15.3952 16.2216C15.9281 15.9797 16.3816 15.6434 16.7563 15.2104C17.1311 14.7774 17.4216 14.2579 17.63 13.6497C17.8384 13.0415 17.942 12.3724 17.942 11.6397C17.942 10.9069 17.7836 10.3163 17.4677 9.81657C17.1518 9.31687 16.6021 9.06748 15.8198 9.06748C15.2866 9.06748 14.7874 9.11739 14.3212 9.21752L12.5736 16.484Z"
		/>
	</svg>
</template>
