<script lang="ts" setup></script>

<template>
	<svg class="icon" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Open Collective Icon</title>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M21.8649 5.16556C23.2111 7.10496 24 9.46035 24 12C24 14.5397 23.2111 16.895 21.8649 18.8344L18.7564 15.726C19.3668 14.6214 19.7143 13.3513 19.7143 12C19.7143 10.6487 19.3668 9.37857 18.7564 8.27403L21.8649 5.16556ZM18.8344 2.1351L15.726 5.24357C14.6214 4.63315 13.3513 4.28571 12 4.28571C7.73952 4.28571 4.28571 7.73952 4.28571 12C4.28571 16.2605 7.73952 19.7143 12 19.7143C13.3513 19.7143 14.6214 19.3668 15.726 18.7564L18.8344 21.8649C16.895 23.2111 14.5397 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C14.5397 0 16.895 0.788938 18.8344 2.1351Z"
		/>
	</svg>
</template>
