<script lang="ts" setup></script>

<template>
	<svg class="icon" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Patreon Icon</title>
		<path
			d="M16 1C14.4177 1 12.871 1.46919 11.5554 2.34824C10.2398 3.22729 9.21447 4.47672 8.60896 5.93853C8.00346 7.40034 7.84504 9.00887 8.15372 10.5607C8.4624 12.1126 9.22433 13.538 10.3431 14.6569C11.462 15.7757 12.8874 16.5376 14.4393 16.8463C15.9911 17.155 17.5997 16.9965 19.0615 16.391C20.5233 15.7855 21.7727 14.7602 22.6518 13.4446C23.5308 12.129 24 10.5823 24 9C23.9977 6.87898 23.1541 4.84549 21.6543 3.3457C20.1545 1.84591 18.121 1.00232 16 1ZM16 15C14.8133 15 13.6533 14.6481 12.6666 13.9888C11.6799 13.3295 10.9108 12.3925 10.4567 11.2961C10.0026 10.1997 9.88378 8.99334 10.1153 7.82946C10.3468 6.66557 10.9182 5.59647 11.7574 4.75736C12.5965 3.91824 13.6656 3.3468 14.8295 3.11529C15.9933 2.88378 17.1997 3.0026 18.2961 3.45672C19.3925 3.91085 20.3295 4.67988 20.9888 5.66658C21.6481 6.65327 22 7.81331 22 9C21.9983 10.5908 21.3657 12.116 20.2408 13.2408C19.116 14.3657 17.5908 14.9983 16 15ZM4 1H2C1.46957 1 0.960859 1.21071 0.585786 1.58579C0.210714 1.96086 0 2.46957 0 3V22C0 22.5304 0.210714 23.0391 0.585786 23.4142C0.960859 23.7893 1.46957 24 2 24H4C4.53043 24 5.03914 23.7893 5.41421 23.4142C5.78929 23.0391 6 22.5304 6 22V3C6 2.46957 5.78929 1.96086 5.41421 1.58579C5.03914 1.21071 4.53043 1 4 1ZM4 22H2V3H4V22Z"
		/>
	</svg>
</template>
