<script lang="ts" setup></script>

<template>
	<svg class="icon" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Paypal Icon</title>
		<path
			d="M21.7059 8.02385C21.0863 7.22761 20.2883 6.58812 19.3763 6.15692C19.298 4.49795 18.5839 2.93283 17.3822 1.78639C16.1806 0.63995 14.5836 0.000229455 12.9228 0H5.99972C5.58804 6.23325e-05 5.18818 0.137726 4.86372 0.391112C4.53925 0.644498 4.30878 0.999066 4.20895 1.39846L0.0551052 18.0138C-0.0129224 18.286 -0.0180346 18.5701 0.040157 18.8445C0.0983486 19.1189 0.218314 19.3765 0.39094 19.5976C0.563567 19.8187 0.784315 19.9976 1.03642 20.1206C1.28852 20.2437 1.56535 20.3076 1.84587 20.3077H5.01895L4.6728 21.7062C4.60482 21.9781 4.59966 22.262 4.65773 22.5362C4.71579 22.8105 4.83555 23.0679 5.00792 23.289C5.18029 23.5101 5.40074 23.689 5.65255 23.8122C5.90437 23.9354 6.18093 23.9996 6.46126 24H10.0959C10.5072 23.9994 10.9065 23.8615 11.2305 23.6082C11.5545 23.3548 11.7846 23.0006 11.8843 22.6015L12.9228 18.4615H16.6151C17.8257 18.4615 19.0119 18.1214 20.0386 17.4799C21.0653 16.8385 21.8911 15.9215 22.422 14.8336C22.9529 13.7456 23.1674 12.5304 23.0412 11.3264C22.915 10.1224 22.4531 8.97809 21.7082 8.02385H21.7059ZM1.84587 18.4615L5.99972 1.84615H12.9228C13.9967 1.84585 15.0372 2.22007 15.8649 2.90436C16.6926 3.58864 17.2558 4.54015 17.4574 5.595C17.1781 5.55813 16.8968 5.53925 16.6151 5.53846H10.1536C9.74168 5.53827 9.34157 5.67581 9.01686 5.92922C8.69216 6.18262 8.46152 6.53734 8.36164 6.93692L5.4828 18.4615H1.84587ZM17.4228 7.45615C17.4136 7.49769 17.4055 7.53923 17.3951 7.58077C17.1468 8.57908 16.5716 9.46562 15.7612 10.0992C14.9507 10.7328 13.9515 11.0769 12.9228 11.0769H9.23049L10.1536 7.38462H16.6151C16.8859 7.38476 17.1562 7.4087 17.4228 7.45615ZM21.0874 13.1192C20.8391 14.1175 20.2639 15.0041 19.4535 15.6377C18.643 16.2712 17.6438 16.6154 16.6151 16.6154H12.9228C12.5111 16.6154 12.1113 16.7531 11.7868 17.0065C11.4623 17.2599 11.2319 17.6144 11.132 18.0138L10.0936 22.1538H6.46126L8.76895 12.9231H12.9228C14.3421 12.9235 15.7219 12.4557 16.8484 11.5923C17.9749 10.7289 18.7852 9.51798 19.1536 8.14731C19.5703 8.42346 19.9397 8.76518 20.2474 9.15923C20.6816 9.71076 20.9834 10.3546 21.1294 11.0412C21.2754 11.7278 21.2619 12.4387 21.0897 13.1192H21.0874Z"
			fill="currentColor"
		/>
	</svg>
</template>
