<script setup lang="ts">
import { useRoadmapStore } from '~/stores/roadmap'
import RoadmapItem from './RoadmapItem.vue'

const roadmapStore = useRoadmapStore()

onMounted(() => {
	roadmapStore.fetchRoadmap()
})
</script>

<template>
	<div v-if="roadmapStore.roadmapList.length > 0" class="roadmap-list col-6">
		<RoadmapItem v-for="(item, idx) in roadmapStore.roadmapList" :key="idx" :item="item" />
	</div>
</template>

<style scoped lang="sass"></style>
