<script setup lang="ts">
const { item } = defineProps<{ item: Roadmap }>()
const date = new Date(item.date)
const day = date.getDate(),
	month = date.getMonth() + 1,
	year = date.getFullYear()
</script>

<template>
	<div class="item">
		<div class="date">
			<div v-if="item.comingSoon === true" class="coming-soon">
				{{ $t('roadmap.commingSoon') }}
			</div>
			<div v-else-if="item.future" class="future">{{ $t('roadmap.future') }}</div>
			<div v-else>{{ day }}&ensp;{{ $t('months.' + (month - 1)) }}, {{ year }}</div>
		</div>
		<div class="right">
			<div class="name">{{ item.name }}</div>
			<div>
				{{ item.description }}
			</div>
		</div>
	</div>
</template>

<style scoped></style>
