<script setup lang="ts">
interface HashtagProps {
	tag: Hashtag
	off?: boolean
}
const { tag, off } = defineProps<HashtagProps>()
</script>

<template>
	<div class="hashtag" :class="{ off: off === true }">
		<span class="hash">#</span>
		{{ tag.name }}
	</div>
</template>

<style lang="sass">
.hashtag
	position: relative
	display: flex
	align-items: center
	gap: 0px
	color: var(--font-color)
	font-family: Commissioner
	font-size: 15px
	font-style: italic
	font-weight: 600
	line-height: normal
	letter-spacing: 1px
	padding: 2px
	text-decoration-color: var(--yellow)

	&.off
		opacity: 60%

	.hash
		color: var(--yellow)
</style>
