<script lang="ts" setup>
interface HashtagProps {
	tag: Hashtag
}
const props = defineProps<HashtagProps>()
const emit = defineEmits(['blur', 'focus'])
const projectsStore = useProjectsStore()

const onHashtagClick = () => {
	projectsStore.setActiveHashtag(props.tag.key)
}
</script>

<template>
	<button @click="onHashtagClick" @focus="emit('focus', tag.key)" @blur="emit('blur', tag.key)">
		<HashtagBase :tag="props.tag" />
	</button>
</template>

<style lang="sass" scoped>
button
	border: none
</style>
