<script setup lang="ts">
const props = defineProps<{ items: { visibles: Hashtag[]; hidden: Hashtag[] } }>()

const hiddenCount = computed(() => props.items.hidden.length)
const projectStore = useProjectsStore()
</script>

<template>
	<div class="hashtags-list list">
		<HashtagBase
			v-for="tag in items.visibles"
			:tag="tag"
			:off="projectStore.activeHashtag && projectStore.activeHashtag.name !== tag.name"
		/>
		<span v-if="hiddenCount > 0"
			>+{{ hiddenCount }}
			<div class="tooltip">
				<HashtagBase v-for="tag in items.hidden" :tag="tag" />
			</div>
		</span>
	</div>
</template>

<style lang="sass" scoped>
.hashtags-list > span
	color: var(--soft-font-color)
	font-family: Commissioner
	font-size: 13px
	font-style: italic
	position: relative
	padding: 8px

	.tooltip
		position: absolute
		visibility: hidden
		top: 20px
		left: 12px
		background: var(--bg-1)
		border-radius: $border-r
		padding: $sp-xxxs $sp-xxs $sp-xxs
		opacity: 0
		transition: all .2s ease-in-out
		width: fit-content
		white-space: nowrap

	&:hover
		.tooltip
			visibility: visible
			display: flex
			flex-direction: column
			top: 28px
			opacity: 1
</style>
