<script setup lang="ts">
const {
	label,
	collected,
	goal,
	infoPosition = 'top',
} = defineProps<{
	label?: string
	collected: number | null
	goal: number | null
	infoPosition?: 'top' | 'bottom'
}>()

const text = computed(() => {
	if (collected === null || goal === null) return '? / ? €'
	return `${displayNumber(collected)} / ${displayNumber(goal)} €`
})

const width = computed(() => {
	if (collected === null || goal === null) return 1
	const percentage = (collected * 100) / goal
	return percentage > 100 ? 100 : percentage
})
</script>

<template>
	<div
		class="finance-bar"
		:style="{
			'flex-direction': infoPosition === 'top' ? 'column' : 'column-reverse',
		}"
	>
		<div class="top-data" :style="!label ? 'justify-content: center' : ''">
			<span>{{ label }}</span>
			<i> {{ text }} </i>
		</div>
		<div class="color-bar">
			<div
				id="financeBar"
				class="progress"
				:style="{
					width: `${width}%`,
				}"
			/>
		</div>
	</div>
</template>

<style scoped lang="sass">
.finance-bar
	display: flex
	flex-direction: column
	width: 100%

	.top-data
		font-size: 12px
		color: var(--font-color)
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%

	& > span
		color: var(--soft-font-color)
		letter-spacing: 0.4px

	& > i
		font-weight: 600
		font-size: 11px

	.color-bar
		margin-top: $sp-xxxs
		margin-bottom: $sp-xxxs
		height: 10px
		background: var(--black)
		border-radius: 3px
		padding: 2px
		width: 100%
		position: relative
		box-shadow: inset 0px 0px 4px rgba($color: #cccccc, $alpha: 0.3)

		.progress
			overflow: hidden
			height: 100%
			border-radius: 2px
			-webkit-mask: linear-gradient(#fff 0 0)
			mask: linear-gradient(#fff 0 0)

			&::before
				content: ''
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				background: var(--veenk-gradient)
</style>
