<script setup lang="ts">
import { platforms } from '~/constants/tags'
const props = defineProps<{ type: PlatformTypeRaw }>()
</script>

<template>
	<div class="platform">
		<Icon class="icon" :name="platforms[props.type].icon" />
		<span>{{ platforms[props.type].name }}</span>
	</div>
</template>

<style scoped lang="sass">
.platform
	display: flex
	padding: 2px $sp-xxs
	justify-content: center
	align-items: center
	gap: $sp-xxs
	border-radius: 3px
	background: var(--dark)
	color: var(--light)
	font-size: 13px
	font-weight: 500

	.icon
		width: 18px
		height: 18px
		color: var(--light)
</style>
