<script setup lang="ts">
import { platforms } from '~/constants/tags'

const { active, multipleItems, type } = defineProps<{
	active: boolean
	type: PlatformType
	multipleItems?: PlatformTypeRaw[]
	setIdx: () => void
}>()

const rawType = computed(() => {
	if (type === 'multiple') return undefined
	const val: PlatformTypeRaw = type
	return val
})
</script>

<template>
	<button
		type="button"
		class="platform-btn"
		:class="{ gradient: active, multiple: multipleItems }"
		@click="setIdx"
		@keyPress="setIdx"
	>
		<div class="border-gradient">
			<template v-if="!rawType">
				<Icon class="icon" v-for="(item, idx) in multipleItems" :key="idx" :name="platforms[item].icon" />
			</template>
			<Icon v-else class="icon" :name="platforms[rawType].icon" />
		</div>
	</button>
</template>

<style scoped lang="sass">
.platform-btn
	border: none
	border-radius: $border-r
	width: 40px
	height: 40px
	padding: 1px
	padding-bottom: 3px
	background: var(--soft-font-color)
	cursor: pointer
	transition: all 0.2s ease-in-out
	opacity: .7

	.border-gradient
		height: 100%
		width: 100%
		background: var(--bg-2)
		border-radius: $border-r
		display: flex
		justify-content: center
		align-items: center
		transition: all 0.2s ease-in-out

	.icon
		color: var(--soft-font-color)
		width: $sp-s
		height: $sp-s
		transition: all 0.2s ease-in-out

	&:hover
		background: var(--primary-soft)
		opacity: 1

		.icon
			color: var(--primary-soft)

	&.gradient
		// background: var(--veenk-gradient)
		background: var(--active)
		cursor: initial
		opacity: 1

		.icon
			// fill: url(#veenk-gradient)
			color: var(--svg-active)

	&.multiple
		width: fit-content

		.border-gradient
			padding: $sp-xxxs $sp-xxs
			display: flex
			gap: $sp-xxs

		.icon
			height: 100%
</style>
