<script setup lang="ts">
import { platforms } from '~/constants/tags'

interface IPlatfromCheckboxProps {
	type: PlatformTypeRaw
	isActive: boolean
	screen: 'sidebar' | 'drawer'
	toggle: (type: PlatformTypeRaw) => void
}

const { type, isActive, screen, toggle } = defineProps<IPlatfromCheckboxProps>()
</script>

<template>
	<div class="platform-checkbox">
		<input type="checkbox" :id="`checkbox-${type}-${screen}`" :checked="isActive" @change="toggle(type)" />
		<label class="platform" :for="`checkbox-${type}-${screen}`">
			<Icon class="icon" :name="platforms[type].icon" />
			<span>{{ platforms[type].name }}</span>
		</label>
	</div>
</template>

<style scoped lang="sass">

.platform
	display: flex
	padding: 2px 8px
	justify-content: center
	align-items: center
	gap: 8px
	border-radius: 3px
	background: var(--dark)
	color: var(--light)
	font-size: 13px
	font-weight: 500

	span
		margin-top: 2px

.platform-checkbox
	input
		position: absolute

	label
		position: relative
		padding: $sp-xxs $sp-xs
		padding-left: 40px
		background: var(--bg)
		border: solid 1px var(--grey)
		color: var(--soft-font-color)
		user-select: none
		cursor: pointer

		.icon
			width: 20px
			height: 20px
			color: var(--soft-font-color)

		&::before
			position: absolute
			content: ''
			top: 50%
			transform: translateY(-50%)
			left: $sp-xs
			width: 12px
			height: 12px
			background: var(--bg)
			border-radius: 3px
			border: solid 1px var(--soft-font-color)

	input[type=checkbox]:checked + label
		color: var(--font-color)
		background: var(--secondary-bg-2)
		border-color: var(--secondary)

		.icon
			color: var(--font-color)

		&::before
			background: var(--secondary)
			border-color: var(--secondary)
</style>
