<script setup lang="ts">
const { project } = defineProps<{ project: ProjectProfile }>()

const idxPlatform = ref<number>(0)

const getLastVersion = () => {
	const importData = project.externalData?.lastRepoImport
	const platform = project.platforms[idxPlatform.value]
	if (!importData) return '?'
	return importData.repos[platform.type].lastRelease.name
}
</script>

<template>
	<div class="for-devs">
		<div class="platform-info">
			<div v-if="project.platforms[0]" class="select-platform">
				<div class="title">Platforms:</div>
				<div class="platform-list">
					<PlatformBtn
						v-for="(platform, idx) in project.platforms"
						:key="idx"
						:active="project.platforms.map((item) => item.type).includes(platform.type)"
						:type="platform.type"
						:multiple-items="platform.platformsList"
						:set-idx="
							() => {
								idxPlatform = idx
							}
						"
					/>
				</div>
			</div>
			<div class="repo-and-info">
				<!-- <RepositoryBox
						v-if="project.platforms[idxPlatform].repositories[0]"
						:platform="() => project.platforms[idxPlatform]""
						:lastImport="project.externalData?.lastRepoImport"
					/> -->
				<!-- <div v-else class="no-repo">{{ $t('noRepositories') }}</div> -->
				<div class="repo-info">
					<div>
						<span>{{ $t('projectProfile.license') }}</span>
						<div>
							<div class="license">
								{{ project.platforms[idxPlatform].license }}
								<Icon class="icon" name="ph:scales" />
							</div>
						</div>
					</div>
					<div class="version">
						{{ $t('projectProfile.lastVersion') }}
						<span>{{ getLastVersion() }}</span>
					</div>
				</div>
			</div>
			<div class="coding-langs list">
				<CodingLang v-for="lang in project.platforms[idxPlatform].codingLangs" :key="lang" :type="lang" />
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.for-devs
	display: flex
	align-items: center
	justify-content: center
	height: 100%

.platform-info
	padding: $sp-xl
	display: flex
	flex-direction: column
	gap: 40px

	.repository
		background: var(--bg)
		display: flex
		flex-direction: column
		padding: $sp-xs
		width: 280px
		align-items: center
		gap: $sp-xs
		font-weight: 500
		color: var(--font-color)
		border: solid 1px black
		border-radius: $border-r

		svg
			color: var(--soft-font-color)

	.repo-and-info
		display: flex
		align-items: center
		gap: $sp-xl

	.repo-info
		font-weight: 500
		color: var(--soft-font-color)
		display: flex
		flex-direction: column
		gap: $sp-s

		& > div
			display: flex
			justify-content: space-between
			gap: 100px

	.license
		display: flex
		align-items: center
		gap: $sp-xxs
		color: var(--font-color)

		.icon
			width: $sp-s
			height: $sp-s

	.version
		span
			color: var(--font-color)

	.repo-brand
		display: flex
		gap: $sp-xs

		svg
			width: $sp-m
			height: $sp-m

	.repo-stats
		display: flex
		align-items: center
		gap: $sp-xs

		div
			display: flex

		svg
			margin-right: $sp-xxs
			width: 20px
			height: 20px

.coding-langs
	display: flex
	width: 100%
	height: 62px
	padding: 10px $sp-s
	justify-content: center
	align-items: center
	align-content: center
	gap: $sp-xxs
	flex-shrink: 0
	flex-wrap: wrap
	border-radius: $border-r
	border: 1px solid var(--soft-font-color)
	background: var(--bg-1)
	color: #fff
	font-size: 14px
	font-style: normal
	font-weight: 600
	line-height: normal

.select-platform
	display: flex
	gap: $sp-s
	align-items: center

	.title
		font-weight: 500

.platform-list
	display: flex
	gap: $sp-xs
</style>
