<script setup lang="ts">
const { project } = defineProps<{ project: ProjectProfile }>()
const localePath = useLocalePath()
</script>

<template>
	<div>
		<div class="columns">
			<div class="left-column">
				<div class="team-section">
					<div class="header">
						<div class="title">{{ $t('projectProfile.team') }}</div>
						<div v-if="project.organization" class="subtitle">
							<Icon name="ph:briefcase" size="24" />
							{{ project.organization.name }}
						</div>
						<div v-else-if="project.team" class="patrons-list">
							<PatronUser v-for="profile in project.team" :key="profile.id" :profile="profile" />
						</div>
						<div v-else class="empty-text">{{ $t('projectProfile.noPatrons') }}</div>
					</div>
				</div>
				<div class="patrons-section">
					<div class="title">{{ $t('projectProfile.patrons') }}</div>
					<div v-if="project.patrons" class="patrons-list">
						<PatronUser v-for="profile in project.patrons" :key="profile.id" :profile="profile" />
					</div>
					<div v-else class="empty-text">{{ $t('projectProfile.noPatrons') }}</div>
				</div>
				<div class="team-section">
					<div class="title">{{ $t('projectProfile.sponsors') }}</div>
					<div class="sponsors-list">
						<template v-if="project.finances.sponsors">
							<div v-for="item in Object.values(project.finances.sponsors)" :key="item.name" lass="sponsor-box">
								{{ item.name }}
							</div>
						</template>
					</div>
				</div>
			</div>
			<div class="finances-column">
				<div class="finances-box">
					<div class="no-info">{{ $t('projectProfile.notData') }}</div>
					<!-- <FinanceBar
          label={project.finances.actualName}
          collected={project.finances.actualCollected}
          goal={project.finances.actualGoal}
        />
        <FinanceBar label="Total" collected={project.finances.totalCollected} goal={project.finances.totalGoal} /> -->
				</div>
				<div class="money-sources">
					<div class="title">{{ $t('projectProfile.moneySources') }}</div>
					<div class="empty-text">{{ $t('projectProfile.noData') }}</div>
					<!-- <div class="sources">
					{
						project.finances.collected &&
							project.finances.collected.map((source) => (
								<div class="source">
									{source.amount}€
									<CustomIcon type={source.donationOptionType} client:only="solid-js" />
									<span>{((source.amount * 100) / project.finances.totalCollected).toFixed(2)}%</span>
								</div>
							))
					}
				</div>
				<div class="total-collected">
					{project.finances.totalCollected}€<span>total</span>
				</div> -->
				</div>
				<div class="donation-box">
					<div class="option-list">
						<div
							v-if="project.finances.donationOptions && project.finances.donationOptions.length > 0"
							class="donation-options"
						>
							<DonationCircle v-for="(option, idx) in project.finances.donationOptions" :key="idx" :option="option" />
						</div>
						<div v-else>{{ $t('projectProfile.noDonation') }}</div>
					</div>
					<div class="donate-btn">
						<div class="btn-wrapper">
							<NuxtLink :to="localePath(`/donate?project=${project.slug}`)">
								<button>{{ $t('donate') }}</button>
							</NuxtLink>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.funders-section
	& > div
		padding: 40px
		display: flex
		flex-direction: column
		height: 100%

	.bottom
		padding: $sp-s 40px

	.empty-text
		font-size: 1.4rem
		color: var(--soft-font-color)
</style>
