<template>
	<div class="for-translators-section">{{ $t('comingSoon') }}</div>
</template>

<style scoped lang="sass">
.for-translators-section
	display: flex
	height: 100%
	align-items: center
	justify-content: center
</style>
