<script setup lang="ts">
import { downloadTypes } from '~/constants/contact'

const { project } = defineProps<{ project: ProjectProfile }>()
</script>

<template>
	<div>
		<div class="left-side">
			<div class="download-section">
				<div class="title">{{ $t('projectProfile.downloadLinks') }}</div>
				<div v-if="project.downloadLinks" class="download-links">
					<a v-for="(link, idx) in project.downloadLinks" :key="idx" :href="link.url" class="btn">
						<Icon :name="downloadTypes[link.type].icon" />
						{{ downloadTypes[link.type].name }}
					</a>
				</div>
			</div>
			<div v-if="project.audited" class="audited" />
			<div v-if="project.alternativeTo" class="similar">
				<div>
					{{ $t('projectProfile.libreAlternativeTo') }}:
					<img
						v-for="alternative in project.alternativeTo"
						:key="alternative.slug"
						:src="alternative.img"
						:alt="`${alternative.name} logo`"
					/>
				</div>
			</div>
			<div class="resources">
				<div class="learn-material">
					<div class="title">{{ $t('projectProfile.learnMaterial') }}</div>
					<Icon class="icon" name="ph:student" />
					<div class="bottom">
						<span>0</span>
						{{ $t('projectProfile.materials') }}
						<Icon name="ph:arrow-right" />
					</div>
				</div>
				<div class="useful-resources">
					<div class="title">{{ $t('projectProfile.usefulResources') }}</div>
					<Icon class="icon" name="ph:package" />
					<div class="bottom">
						<span>0</span>
						{{ $t('projectProfile.resources') }}
						<Icon name="ph:arrow-right" />
					</div>
				</div>
			</div>
		</div>
		<div class="features">
			<div class="title">{{ $t('projectProfile.features') }}</div>
			<div class="features-list">
				<template v-if="project.features">
					<div v-for="(feature, idx) in project.features" :key="idx" class="feature-item">
						<div class="name">{{ feature.name }}</div>
						<div>{{ feature.description }}</div>
					</div>
				</template>
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.users-section
	& > div
		display: flex
		height: 100%

	img
		height: $sp-s
		width: $sp-s

	.download-section
		.title
			margin-bottom: $sp-xs
			font-weight: 600

	.download-links
		display: flex
		gap: $sp-xs

		.btn
			display: flex
			align-items: center
			gap: $sp-xs
			background: var(--bg-2)
			border-radius: $border-r
			padding: $sp-xxs $sp-xs
			font-weight: 600
			color: var(--font-color)
			border: solid 1px var(--soft-font-color)
			border-bottom-width: 3px
			text-decoration: none

			svg
				width: $sp-s
				height: $sp-s

	.similar
		display: flex
		align-items: center
		gap: 40px

		& > div
			display: flex
			align-items: center
			gap: $sp-xs

	.left-side
		display: flex
		flex-direction: column
		gap: 40px

	.features
		width: 45%
		padding: $sp-m $sp-s
		flex: 1
		display: flex
		flex-direction: column

		.title
			text-align: center
			font-weight: 600
			margin-bottom: $sp-xs

		.features-list
			flex: 1
			display: flex
			flex-direction: column
			gap: $sp-xxs
			background: var(--bg-2)
			border-radius: $border-r
			padding: $sp-m $sp-s
			box-shadow: var(--box-shadow-center)
			overflow-y: auto

		.feature-item
			background: var(--bg)
			border-radius: $border-r
			padding: $sp-xs
			font-size: 12px

			.name
				font-weight: 500
				font-size: 14px
				margin-bottom: $sp-xxs

	.resources
		display: flex
		gap: 40px

		& > div
			border-radius: $border-r
			aspect-ratio: 1/1
			padding: $sp-xs $sp-m
			display: flex
			flex-direction: column
			gap: $sp-xs
			align-items: center
			justify-content: space-between
			cursor: pointer

		.title
			font-weight: 600
			font-size: 18px

		.learn-material
			background: var(--yellow-bg)
			border: solid 1px var(--yellow)

			.icon
				color: var(--yellow)

		.useful-resources
			background: var(--red-bg)
			border: solid 1px var(--red)

			.icon
				color: var(--red)

		.icon
			width: $sp-xl
			height: $sp-xl

		.bottom
			display: flex
			align-items: center
			justify-content: center
			gap: $sp-xs

			span
				font-weight: 500
				font-size: 18px

			svg
				width: $sp-s
				height: $sp-s
				color: var(--font-color)
</style>
