<script setup lang="ts">
import { RECOMMENDED_HASHTAGS_QUANTITY } from '~/constants/filters'

const localePath = useLocalePath()
const projectsStore = useProjectsStore()

const activePlatforms = ref<PlatformTypeRaw[]>([])
const activeBadges = ref<BadgeType[]>([])
const searchTermAlter = ref<string>('')
const searchTermHashtag = ref<string>('')
const filterDialogOpen = ref<boolean>(false)

const toggleBadgeActive = (type: BadgeType) => {
	if (activeBadges.value.includes(type)) {
		const without = activeBadges.value.filter((val) => val !== type)
		activeBadges.value = without
	} else {
		activeBadges.value = [...activeBadges.value, type]
	}
}

const togglePlatformActive = (type: PlatformTypeRaw) => {
	if (activePlatforms.value.includes(type)) {
		const without = activePlatforms.value.filter((val) => val !== type)
		activePlatforms.value = without
	} else {
		activePlatforms.value = [...activePlatforms.value, type]
	}
}

const onFilterBtnClick = () => {
	projectsStore.applyFilters({
		activePlatforms: activePlatforms.value,
		activeBadges: activeBadges.value
	})
	closeDialog()
}

const onAlternativeClick = (item: Alternative) => {
	searchTermAlter.value = ''

	projectsStore.setActiveAlternative(item)
}

const clearActiveAlterantive = () => {
	projectsStore.setActiveAlternative(undefined)
}

const clearActiveHashtag = () => {
	projectsStore.setActiveHashtag(undefined)
}

const openDialog = () => {
	document.body.style.overflow = 'hidden'
	applyFiltersFromStore()
	filterDialogOpen.value = true
}

const closeDialog = () => {
	document.body.style.overflow = 'auto'
	filterDialogOpen.value = false
}

const applyFiltersFromStore = () => {
	activeBadges.value = projectsStore.params.badges
	activePlatforms.value = projectsStore.params.platforms
}

const filteredHashtags = computed(() => {
	return projectsStore.recommendedHashtags(searchTermHashtag.value)
})

const filteredAlternatives = computed(() => {
	const search = clearSearchString(searchTermAlter.value)
	const alternatives = projectsStore.alternatives
	const results = []
	if (search.length > 2) {
		for (const alternative of alternatives) {
			if (clearSearchString(alternative.name).includes(search)) {
				results.push(alternative)
			}
		}
	}
	return results
})
</script>

<template>
	<div class="filters">
		<div class="picker-dialog" :class="{ open: filterDialogOpen }">
			<div class="wrapper">
				<div class="close-background" @click="closeDialog" @keyPress="closeDialog" />
				<div class="filter-selection">
					<div class="header">
						<div class="name"><Icon class="icon" name="ph:funnel" /> {{ $t('projectList.filters') }}</div>
					</div>
					<div class="filters-containers">
						<div class="filter-title">By <span>Platform</span></div>
						<div class="platform-filters-list">
							<PlatformCheckbox
								v-for="platform in projectsStore.platforms"
								:key="platform.type"
								:type="platform.type"
								screen="sidebar"
								:is-active="activePlatforms.includes(platform.type)"
								:toggle="togglePlatformActive"
							/>
						</div>

						<div class="filter-title">By <span>Badge</span></div>
						<div class="badges-filters-list">
							<BadgeCheckbox
								v-for="badge in projectsStore.badges"
								:key="badge"
								:type="badge"
								screen="sidebar"
								:is-active="activeBadges.includes(badge)"
								:toggle="toggleBadgeActive"
							/>
						</div>
					</div>
					<div class="actions">
						<button type="button" @click="() => closeDialog()">{{ $t('cancel') }}</button>
						<button class="filter-btn" type="button" @click="onFilterBtnClick">{{ $t('projectList.filter') }}</button>
					</div>
				</div>
			</div>
		</div>
		<div class="filter-list">
			<div class="filter-item top-actions">
				<button type="button" @click="openDialog"><Icon name="ph:funnel" />{{ $t('projectList.addFilters') }}</button>
			</div>
			<div class="filter-item alternatives">
				<div class="name">{{ $t('projectList.findLibreVersions') }}</div>
				<div v-if="projectsStore.activeAlternative" class="alternative-item active">
					<div>
						<img :src="projectsStore.activeAlternative?.img" :alt="projectsStore.activeAlternative?.name + ' logo'" />
						<span>{{ projectsStore.activeAlternative?.name }}</span>
					</div>
					<span class="num">{{ projectsStore.activeAlternative?.count }}</span>
					<div class="close" @click="clearActiveAlterantive" @keyPress="clearActiveAlterantive">
						<Icon class="icon" name="ph:x" />
					</div>
				</div>
				<div class="search search-alter">
					<Icon class="icon" name="ph:magnifying-glass" />
					<input v-model="searchTermAlter" type="text" :placeholder="$t('projectList.searchPlaceholder')" />
					<div class="search-results" :class="{ open: searchTermAlter.length > 2 }">
						<div v-if="filteredAlternatives.length > 0" class="results-list">
							<AlternativeFilterBtn
								v-for="result in filteredAlternatives"
								:key="result.slug"
								:item="result"
								@click="
									() => {
										onAlternativeClick(result)
									}
								"
							/>
						</div>
						<div v-else>
							<div class="empty-search">{{ $t('noResults') }}</div>
						</div>
					</div>
				</div>
				<div class="recomendations-list">
					<AlternativeFilterBtn
						v-for="item in projectsStore.recommendedAlternatives()"
						:key="item.slug"
						:item="item"
						@click="
							() => {
								onAlternativeClick(item)
							}
						"
					/>
				</div>
			</div>
			<div class="filter-item hashtags">
				<div class="header">
					<div class="search">
						<Icon class="icon" name="ph:hash-bold" />
						<input v-model="searchTermHashtag" type="text" :placeholder="$t('projectList.searchHashtag')" />
						<div class="search-results" :class="{ open: searchTermHashtag.length > 2 }">
							<div v-if="filteredHashtags.length > 0" class="results-list">
								<HashtagLink v-for="hashtag in filteredHashtags" :key="hashtag.key" :tag="hashtag" />
							</div>
							<div v-else class="empty-search">{{ $t('noResults') }}</div>
						</div>
					</div>
					<button
						v-if="projectsStore.activeHashtag"
						class="close"
						@click="clearActiveHashtag"
						@keyPress="clearActiveHashtag"
					>
						<Icon class="icon" name="ph:x" />
					</button>
				</div>
				<div class="hashtags-list list">
					<NuxtLink
						v-for="tag in projectsStore.hashtags.slice(0, RECOMMENDED_HASHTAGS_QUANTITY)"
						:key="tag.key"
						class="hashtag active"
						:to="localePath(`/projects?hashtag=${tag.key}`)"
					>
						<span class="hash">#</span>
						{{ tag.name }}
					</NuxtLink>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.filters
	position: sticky
	top: 70px
	width: 340px
	background: var(--bg-2)
	border-radius: $border-r
	color: var(--font-color)
	padding: 2px
	max-height: calc(100vh - 40px)
	margin-top: 82px
	box-shadow: var(--box-shadow)
	z-index: 90

	.picker-dialog
		position: fixed
		display: none
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 400

		&.open
			display: block

		.wrapper
			position: relative
			height: 100%
			width: 100%

			.close-background
				width: 100%
				height: 100%
				background: rgba(117, 117, 117, 0.2)
				backdrop-filter: blur(2px)

			.filter-selection
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				background: var(--bg-2)
				border: var(--border-light)
				border-radius: $border-r
				padding: $sp-xxs
				width: 840px
				box-shadow: var(--box-shadow-center)

				.header
					position: relative
					display: flex
					align-items: center
					gap: $sp-m

					.name
						display: flex
						align-items: center
						gap: 12px
						padding: $sp-s
						font-size: toRem(24)
						font-weight: 500

						.icon
							width: 28px
							height: 28px

				.actions
					display: flex
					justify-content: space-between
					padding: $sp-xs $sp-s
					gap: $sp-xxs
					background: var(--bg-2)

					button
						padding: 12px $sp-m
						font-size: toRem(17)
						font-weight: 500
						border-color: var(--primary-soft)

					.filter-btn
						background: var(--secondary-bg-2)
						border-color: var(--secondary)

	.filter-title
		font-size: toRem(14)
		margin-bottom: $sp-s
		color: var(--soft-font-color)

		span
			font-weight: 600

	.filters-containers
		padding: 40px

		.platform-filters-list
			display: flex
			align-items: center
			flex-wrap: wrap
			gap: 12px
			margin-bottom: 40px

		.badges-filters-list
			display: flex
			align-items: center
			flex-wrap: wrap
			gap: 12px

	.icon
		width: $sp-s
		height: $sp-s

	.filter-list
		border-radius: $border-r
		display: flex
		flex-direction: column
		gap: $sp-xxxs
		padding: $sp-xxs
		max-height: calc(100vh - 90px - 2px - 2px)
		overflow-y: auto
		background: var(--bg-1)

		.search
			position: relative
			padding: 5px 12px
			border: solid 1px var(--grey)
			border-radius: $border-r
			display: flex
			align-items: center
			gap: $sp-xxs
			margin: 0 $sp-xxs
			background: var(--bg-2)

			&:hover,
			&:focus-within
				border-color: var(--soft-font-color)

				.icon
					color: var(--font-color)

			.icon
				color: var(--soft-font-color)
				width: 18px
				height: 18px

			input
				font-size: 14px
				background: none
				border: none

	.filter-item
		background: var(--bg-2)
		padding: $sp-s
		border-radius: $border-r
		display: flex
		flex-direction: column
		gap: $sp-xs

		&.top-actions
			align-items: center
			button
				font-size: toRem(16)
				display: flex
				align-items: center
				// width: fit-content
				gap: $sp-xxs

				.icon
					width: 20px
					height: 20px

		.name
			font-size: 14px
			font-weight: 500
			color: var(--font-color)
			display: flex
			align-items: center
			justify-content: flex-start
			gap: $sp-xs
			margin-bottom: $sp-xxs

			.icon
				width: $sp-s
				height: $sp-s
				color: var(--font-color)
				fill: var(--font-color)

		.filter-type
			display: flex
			align-items: center
			justify-content: space-between

			.count
				border-radius: 50%
				background: var(--secondary-bg)
				font-weight: 600
				width: $sp-s
				height: $sp-s
				display: flex
				align-items: center
				justify-content: center
				padding-top: 1px
				color: var(--secondary)

		.filter-title
			font-size: 14px
			span
				font-weight: 600

		.filter-add
			display: flex
			align-items: center
			position: relative
			gap: $sp-xxs

	&.alternatives
		display: flex
		flex-direction: column
		gap: $sp-xs
		padding: $sp-s $sp-xs
		margin-bottom: 12px

	.hashtags-list
		flex-wrap: wrap
		width: 100%

	.hashtags
		display: flex
		flex-direction: column
		padding: $sp-s $sp-xs
		margin-bottom: 12px
		gap: $sp-xs

		.items
			display: flex
			flex-wrap: wrap

		.header
			display: flex
			justify-content: space-between
			align-items: flex-start

			.close
				width: $sp-m
				height: $sp-m
				padding: $sp-xxxs
				background: var(--yellow)
				border: none
				border-radius: 50%
				display: flex
				justify-content: center
				align-items: center
				color: #333

				.icon
					width: 100%
					height: 100%

				&:hover
					background: #333
					color: var(--yellow)

		.search
			margin: 0px
			margin-bottom: $sp-xxs
			max-width: 180px
			padding: $sp-xxxs $sp-xxs
			border-top: none
			border-left: none
			border-right: none
			border-width: 2px
			border-radius: $border-r $border-r 0 0
			background: var(--bg-2)

			input
				width: 100%

			&:hover,
			&:focus-within
				background: var(--bg)
				border-color: var(--primary)

				.icon
					color: var(--font-color)

	.search
		&:focus-within
			.search-results
				opacity: 1

	.search-results
		opacity: 0
		.hashtag
			padding: $sp-xxs $sp-xs
			width: 100%
			border-radius: $border-r
			text-decoration: none

			&:hover
				background: var(--bg-1)


@media screen and (max-width: $desktop)
	.filters
		display: none
</style>
