<script setup lang="ts">
import { ref, watch } from 'vue'

const TAG_COUNT = 3

const localePath = useLocalePath()
const projectsStore = useProjectsStore()

const { project } = defineProps<{
	project: ProjectCard
}>()
const currentStep = ref<number>(0)
const idxPlatform = ref<number>(0)
const rotate = ref<boolean>(false)
const reference = ref<HTMLDivElement>()
const sliderRef = ref<HTMLDivElement>()
const selectedImg = ref<number>(0)
const zoomOpen = ref<boolean>(false)

const { selectedView } = storeToRefs(projectsStore)

const getStep = () => {
	let step = 0
	switch (selectedView.value) {
		case 'funders':
			step = 1
			break
		case 'devs':
			step = 2
			break
		case 'translators':
			step = 3
			break
	}
	return step
}

onBeforeMount(() => {
	currentStep.value = getStep()
})

watch(selectedView, () => {
	currentStep.value = getStep()
})

const nextStep = () => {
	currentStep.value = currentStep.value === 3 ? 0 : currentStep.value + 1
}
const prevStep = () => {
	currentStep.value = currentStep.value === 0 ? 3 : currentStep.value - 1
}

const onImgClick = (idx: number) => {
	selectedImg.value = idx
	document.body.style.overflow = 'hidden'
	zoomOpen.value = true
}

const closeZoomDialog = () => {
	selectedImg.value = 0
	document.body.style.overflow = 'auto'
	zoomOpen.value = false
}

const formatedTags = computed(() => {
	const tags = project.tags
	if (projectsStore.activeHashtag) {
		const first = projectsStore.activeHashtag.key
		tags.sort((a, b) => (a.key == first ? -1 : b.key == first ? 1 : 0))
	}
	return {
		visibles: tags.slice(0, TAG_COUNT),
		hidden: tags.slice(TAG_COUNT)
	}
})
</script>

<template>
	<div ref="reference" class="project-card" :class="{ rotate }">
		<ImageZoomDialog
			v-if="zoomOpen && project.screenshots && project.screenshots.length > 0"
			:images="project.screenshots"
			:active-img="selectedImg"
			:set-active-img="(idx) => (selectedImg = idx)"
			:open="zoomOpen"
			:close-dialog="closeZoomDialog"
		/>
		<div class="main-section" :style="rotate ? '' : 'z-index: 80'">
			<div class="rotate-btn" @click="() => (rotate = true)" @keyPress="() => (rotate = true)">
				<IconRotate />
			</div>
			<NuxtLink class="header" :to="localePath(`/project/${project.slug}`)">
				<ProjectLogo :project="project" />
				<div class="name">{{ project.name }}</div>
			</NuxtLink>
			<div class="description">
				<p>{{ project.description }}</p>
			</div>
			<HashtagList :items="formatedTags" />
			<div v-if="project.badges.length > 0" class="badges-list list">
				<BadgeBox v-for="badge in project.badges" :key="badge" :type="badge" design="box" />
			</div>
			<div v-if="project.platforms[0]" class="platform-list list">
				<template v-for="(platform, index) in project.platforms">
					<div v-if="platform.type === 'multiple'" :key="index" class="platform-list list">
						<PlatformBox v-for="subItem in platform.platformsList" :key="subItem" :type="subItem" />
					</div>
					<PlatformBox v-else :key="platform.type" :type="platform.type" />
				</template>
			</div>
		</div>
		<div class="switch-column">
			<div class="actions">
				<button class="next" type="button" @click="nextStep" @keyPress="nextStep">
					<Icon class="icon" name="ph:caret-right" />
				</button>
				<button class="prev" type="button" @click="prevStep" @keyPress="nextStep">
					<Icon class="icon" name="ph:caret-left" />
				</button>
			</div>
			<div ref="sliderRef" class="slide-wrapper">
				<div class="rotate-btn" @click="() => (rotate = false)" @keyPress="() => (rotate = false)">
					<IconRotateFill />
				</div>
				<div class="slide" :style="`left: -${currentStep * (sliderRef?.offsetWidth ?? 0)}px`">
					<div class="for-users">
						<div v-if="project.alternativeTo.length > 0" class="alternative-to">
							<span>{{ $t('libreAlternativeTo') }}</span>
							<img
								v-for="alternative in project.alternativeTo"
								:key="alternative.name"
								:src="alternative.img"
								:alt="`${alternative.name} logo.`"
							/>
						</div>
						<div v-if="project.screenshots && project.screenshots.length > 0" class="screenshots-scroll">
							<NuxtImg
								v-for="(img, idx) in project.screenshots"
								:key="idx"
								class="display-img"
								:src="img.src"
								:alt="img.alt"
								format="webp"
								sizes="xs:100vw md:275px"
								@click="() => onImgClick(idx)"
								@key-press="() => onImgClick(idx)"
							/>
						</div>
						<div v-else class="empty-screenshots">{{ $t('noScreenshots') }}</div>
					</div>
					<div class="for-funders">
						<div class="team">
							<div v-if="project.fromOrganization && project.organization" class="organization">
								<Icon class="icon" name="ph:briefcase" />
								<span class="highlight">{{ project.organization.name }}</span>
							</div>
							<div v-else>
								<Icon class="icon" name="ph:user" />
								<span class="highlight">{{ project.members }}</span>
								{{ $t('member') + (project.members > 1 ? 's' : '') }}
							</div>
						</div>
						<div class="finances">
							<template v-if="project.finances.actualName || project.finances.totalCollected">
								<FinancesBar
									v-if="project.finances.actualName"
									:label="project.finances.actualName"
									:collected="project.finances.actualCollected"
									:goal="project.finances.actualGoal"
								/>
								<FinancesBar
									v-if="project.finances.totalCollected"
									label="Total"
									:collected="project.finances.totalCollected"
									:goal="project.finances.totalGoal"
								/>
							</template>
							<div v-else class="empty-finances">{{ $t('noPublicFinances') }}</div>
						</div>

						<div
							v-if="
								(project.finances.donationOptions && project.finances.donationOptions.length > 0) ||
								project.finances.customDonation
							"
							class="donation-options"
						>
							<NuxtLink
								v-if="project.finances.customDonation"
								:to="project.finances.customDonation.url"
								target="_blank"
								class="donation-circle"
								rel="noreferrer"
							>
								<div class="border-gradient">
									<IconDonationCustom />
								</div>
							</NuxtLink>
							<DonationCircle v-for="option in project.finances.donationOptions" :key="option.type" :option="option" />
						</div>
						<div v-else>No donation options</div>
					</div>
					<div class="for-devs">
						<div v-if="project.platforms[0]" class="select-platform list">
							<PlatformBtn
								v-for="(platform, idx) in project.platforms"
								:key="idx"
								:set-idx="
									() => {
										idxPlatform = idx
									}
								"
								:type="platform.type"
								:active="project.platforms[idxPlatform].type === platform.type"
								:multiple-items="platform.platformsList"
							/>
						</div>
						<div class="coding-langs list">
							<div v-for="dev in project.platforms[idxPlatform].codingLangs" :key="dev" class="software">{{ dev }}</div>
						</div>
						<RepositoryBox
							:platform="project.platforms[idxPlatform]"
							:last-import="project.externalData?.lastRepoImport"
						/>
						<div class="license">
							{{ project.platforms[idxPlatform].license ? project.platforms[idxPlatform].license : $t('noLicense') }}
							<Icon class="icon" name="ph:scales" />
						</div>
					</div>
					<div class="for-translators">
						<div class="language-count">
							<span>{{ project.languages.length }}</span> {{ $t('languages') }}
						</div>
						<LanguagesBox :languages="project.languages" />
						<div v-if="project.localizationSoftware" class="localization-software">
							<a
								v-if="project.localizationSoftware.type === 'weblate'"
								:href="project.localizationSoftware.url"
								class="images"
							>
								<img src="/img/weblate.svg" alt="weblate logo" />
								<img
									v-if="project.localizationSoftware.badge"
									:src="project.localizationSoftware.badge"
									alt="weblate badge of the project"
								/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.project-card
	display: flex
	gap: 2px
	flex-shrink: 0
	box-shadow: var(--box-shadow)

	.rotate-btn
		display: none

	.main-section
		display: flex
		min-height: 292px
		padding: $sp-xs 40px
		flex-direction: column
		justify-content: center
		align-items: flex-start
		gap: $sp-xs
		flex-shrink: 0
		border-radius: $border-r
		background: var(--bg-2)

		&:hover .header .name::before
			opacity: 1

		.header
			display: flex
			height: 47px
			padding: 6px 0px
			align-items: center
			gap: $sp-xs
			flex-shrink: 0
			text-decoration: none

			.name
				color: var(--font-color)
				font-size: 18px
				font-style: normal
				font-weight: 700
				line-height: normal
				cursor: pointer
				position: relative

				&::before
					content: ''
					position: absolute
					background: var(--font-color)
					width: 100%
					height: 1px
					opacity: 0
					bottom: -$sp-xxxs
					transition: all 0.3s ease-in-out

		.description
			flex-shrink: 0
			color: var(--font-color)
			font-style: normal
			font-weight: 500
			line-height: normal

			p
				font-size: toRem(14)

		.badges-list
			margin-bottom: $sp-xs

		.hashtags-list
			margin-bottom: $sp-xs
			flex-wrap: wrap
			gap: $sp-xxs

			.hashtag
				padding: 0
				cursor: auto

		.platform-list
			display: flex
			flex-wrap: wrap
			gap: $sp-xxs

		.platforms-list .platform
			padding: 2px $sp-xxs
			background: var(--bg)
			border-radius: $border-r

		.software-list
			padding: $sp-xxxl $sp-s
			background: var(--bg-1)
			border-radius: $border-r
			color: var(--soft-font-color)
			font-weight: 600

	.switch-column
		width: 300px
		align-items: center
		flex-shrink: 1
		position: relative

		.slide-wrapper
			overflow: hidden
			position: relative
			height: 100%
			background: var(--bg-2)
			border-radius: $border-r

		.slide
			max-height: 100%
			height: 100%
			position: absolute
			display: flex
			transition: all 0.5s ease-in-out

		.actions
			transition: all 0.2s ease-in-out
			position: absolute

			button
				padding: $sp-xxxs
				flex-shrink: 0
				display: flex
				align-items: center
				justify-content: center
				background: var(--bg-2)
				border-color: var(--primary)
				width: 38px
				height: 38px

				.icon
					color: var(--primary)

				&:hover
					background: var(--bg)

		.for-users
			padding: $sp-xs 12px
			display: flex
			flex-direction: column
			gap: 12px

			.alternative-to
				display: flex
				align-items: center
				justify-content: center
				gap: $sp-xxs
				font-size: toRem(14)

				img
					width: 28px
					height: 28px

			.empty-screenshots
				height: 100%
				padding: $sp-s $sp-xs
				text-align: center
				display: flex
				justify-content: center
				align-items: center
				color: var(--soft-font-color)

			.screenshots-scroll
				padding-bottom: $sp-xxs
				display: flex
				flex-direction: column
				overflow-y: scroll
				gap: $sp-xxs
				height: 100%

				& > img
					// height: 100%
					max-height: 100%
					width: 100%
					object-fit: contain
					border-radius: $border-r
					border: 1px solid var(--font-color)

		.for-funders
			display: flex
			padding: $sp-s $sp-xs
			flex-direction: column
			justify-content: space-between
			align-items: center
			flex-shrink: 0

			.team
				color: var(--soft-font-color)
				font-size: 14px
				font-style: normal
				font-weight: 600
				line-height: normal

				.highlight
					font-weight: 700
					color: var(--font-color)
					font-size: toRem(16)

				.organization
					.highlight
						font-weight: 700
						color: var(--soft-font-color)
						font-size: 14px

				.icon
					height: 20px
					width: 20px
					margin-right: $sp-xxs

				& > div
					display: flex
					justify-content: center
					align-items: flex-end
					gap: $sp-xxs

			.finances
				width: 80%
				display: flex
				flex-direction: column
				gap: $sp-xs

				.empty-finances
					text-align: center
					font-weight: 600
					font-size: toRem(14)
					color: var(--soft-font-color)

			.donation-options
				display: flex
				gap: $sp-xxs

		.for-devs
			display: flex
			width: 303px
			height: 100%
			padding: $sp-s $sp-xs $sp-m $sp-xs
			flex-direction: column
			justify-content: space-between
			align-items: center
			flex-shrink: 0

			.select-platform
				display: flex
				gap: $sp-xxs

			.coding-langs
				display: flex
				width: 246px
				height: 62px
				padding: 10px $sp-s
				justify-content: center
				align-items: center
				align-content: center
				gap: $sp-xxs
				flex-shrink: 0
				flex-wrap: wrap
				border-radius: $border-r
				border: 1px solid var(--primary)
				background: var(--bg-1)
				color: var(--font-color)
				font-size: 14px
				font-style: normal
				font-weight: 600
				line-height: normal

			.license
				display: flex
				align-items: center
				color: var(--font-color)
				font-size: 14px
				gap: $sp-xxs
				font-weight: 500
				padding: $sp-xxs

				.icon
					width: 20px
					height: 20px
					color: var(--soft-font-color)

		.for-translators
			color: var(--font-color)
			font-size: 14px
			font-style: normal
			font-weight: 500
			line-height: normal
			padding: $sp-s $sp-xs
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			gap: $sp-s

			.localization-software
				display: flex
				flex-direction: column
				gap: $sp-xxxl

				.images
					display: flex
					align-items: center
					justify-content: center
					gap: $sp-xs

			.localization-badge
				padding: 2px $sp-xxs
				border-radius: $border-r
				border: 1px solid var(--green)
				background: #44514b
				align-items: center
				display: flex
				gap: $sp-xxs

			.languages
				display: flex
				align-items: center
				gap: $sp-xs

			.language-count span
				font-weight: 700
				color: var(--font-color)
				font-size: toRem(16)

// Green and Blue
@media screen and (max-width: $laptop)
	.project-card
		flex-direction: column
		width: 100%
		position: relative

		.rotate-btn
			display: block
			position: absolute
			right: 18px
			top: 12px
			width: $sp-m
			height: $sp-m
			z-index: 20

		& > div
			transition-timing-function: cubic-bezier(.175, .885, .32, 1.275)
			transition-duration: .5s
			transition-property: transform, opacity

		&.rotate
			margin-bottom: $sp-s
			.main-section
				transform: rotateY(180deg)

			.switch-column
				opacity: 1
				transform: rotateY(0deg)

		.main-section
			width: 100%
			padding: 18px $sp-xs
			transform: rotateY(0deg)

			.description
				max-width: 90vw
				p
					width: 100%
					font-weight: 400
					letter-spacing: 0

				.icon
					width: 18px
					height: 18px

			.badges-list
				gap: $sp-xs
				margin-bottom: $sp-xxs

		.switch-column
			position: absolute
			opacity: 0
			top: 0px
			left: 0px
			height: 100%
			transform: rotateY(-180deg)
			width: 100%

			.actions
				bottom: -$sp-s
				left: 50%
				transform: translateX(-50%)
				z-index: 30
				display: flex
				flex-direction: row-reverse
				gap: 12px

				button
					width: $sp-l
					height: $sp-l

				.icon
					width: 100%
					height: 100%

			.slide-wrapper
				// height: 100%
				width: 100%

			.slide
				width: 100%
				& > div
					min-width: 100%

			.for-funders
				padding: $sp-s 12px $sp-l 12px

				.team
					padding: 0 $sp-xs
					width: 100%
					& > div
						// width: 100%
						justify-content: flex-start

			.for-users
				padding: $sp-xs 12px $sp-m 12px
				.screenshots-scroll
					overflow-x: scroll
					flex-direction: row

					img
						width: 85vw

// Yellow, Red and black
@media screen and (min-width: $laptop)
	.project-card
		&:hover
			.actions
				right: -64px

		.actions
			right: -$sp-xs
			padding: $sp-xs

			button
				margin-bottom: $sp-xxs
				cursor: pointer

		.slide
			& > div
				min-width: 300px

		.main-section
			width: 560px

			.header
				width: 421px

			.platform-list
				gap: $sp-xxs
</style>
