<script setup lang="ts">
import { displayNumber } from '~/utils/strings'
const localePath = useLocalePath()
const props = defineProps<{ type: CarrouselType }>()

interface ProjectPreview {
	logoUrl: string
	name: string
	goalName: string
	goalAmount: number
	collected: number
	slug?: string
}

const projects: { closeToGoal: ProjectPreview[]; successfullyFunded: ProjectPreview[] } = {
	closeToGoal: [
		{
			logoUrl: 'https://ams1.vultrobjects.com/web-veenk-org/projects/lemmy/lemmy-logo.svg',
			name: 'Lemmy',
			goalName: 'version 1.0',
			goalAmount: 12500,
			collected: 4102,
			slug: 'lemmy'
		},
		{
			logoUrl: 'https://ams1.vultrobjects.com/web-veenk-org/projects/ardour/ardour-logo.png',
			name: 'Ardour',
			goalName: 'April 2024',
			goalAmount: 8100,
			collected: 8100,
			slug: 'ardour'
		},
		{
			logoUrl: 'https://ams1.vultrobjects.com/web-veenk-org/projects/drawio/drawio-logo.png',
			name: 'Drawio',
			goalName: 'monthly',
			goalAmount: 469.61,
			collected: 112.8,
			slug: 'drawio'
		}
	],
	successfullyFunded: [
		{
			logoUrl: 'https://ams1.vultrobjects.com/web-veenk-org/projects/krita-logo.svg',
			name: 'Krita',
			goalName: 'in January',
			goalAmount: 560,
			collected: 560
		},
		{
			logoUrl: '/img/projects-logos/krita-logo.svg',
			name: 'Meetiko',
			goalName: 'in January',
			goalAmount: 4800,
			collected: 4800
		},
		{
			logoUrl: '/img/projects-logos/krita-logo.svg',
			name: 'Peertube',
			goalName: 'in January',
			goalAmount: 1200,
			collected: 1200
		}
	]
}
</script>

<template>
	<div class="projects-carrousel">
		<div v-for="item in projects[props.type]" class="project-item">
			<NuxtLink class="brand" :to="localePath(`/project/${item.slug}`)">
				<img :src="item.logoUrl" />
				<span>{{ item.name }}</span>
			</NuxtLink>
			<div v-if="props.type !== 'closeToGoal'" class="goal-info">
				<span class="price">
					<i>{{ item.goalAmount }} €</i>
				</span>
				<span> collected {item.goalName}</span>
			</div>
			<div v-else class="remaining-info">
				<span class="price">
					{{ displayNumber(item.goalAmount - item.collected) }}€ <span class="text">left</span>
				</span>
				<FinancesBar :label="item.goalName" infoPosition="bottom" :collected="item.collected" :goal="item.goalAmount" />
			</div>
		</div>
	</div>
</template>

<style lang="sass" scoped>
.projects-carrousel
	display: flex
	justify-content: center
	gap: 8vw
	width: 100%
	position: relative

	.view-more
		display: none
		position: absolute
		top: -40px
		right: 0
		display: flex
		align-items: flex-start
		gap: $sp-xxxl
		font-size: 13px
		letter-spacing: 0
		cursor: pointer

		div
			border-bottom: solid 1px var(--soft-font-color)
			display: block
			padding-bottom: 2px
			transition: all 0.2s ease-in-out

		&:hover div
			padding-bottom: 0px
			font-weight: bold

		.icon
			width: 20px
			height: 20px

	.project-item
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between
		gap: 1vw
		width: 100%
		min-width: 240px
		max-width: 340px
		background: var(--bg-2)
		border-radius: $border-r
		padding: $sp-s $sp-s $sp-xxs $sp-s
		box-shadow: var(--box-shadow)
		border: solid 1px var(--black)

		.brand
			display: flex
			flex-direction: column
			align-items: center
			gap: 12px
			font-weight: 700
			font-size: toRem(22)
			letter-spacing: 0
			color: var(--font-color)
			text-decoration: none

			img
				height: 42px

		.remaining-info
			width: 100%
			display: flex
			flex-direction: column
			align-items: center

		.price
			font-size: toRem(18)
			font-weight: 500
			color: var(--font-color)

	& .text
		color: var(--soft-font-color)
		font-size: toRem(14)
		font-weight: 400
		margin-left: 2px
		letter-spacing: 0.4px

		.goal-info
			font-size: toRem(15)
			padding-bottom: $sp-xxs

			.price
				font-size: 20px
				letter-spacing: 0
				word-spacing: -2px
				margin-right: $sp-xxs
				background: var(--veenk-gradient-diagonal)
				background-clip: text
				-webkit-text-fill-color: transparent

// Green and Blue
@media screen and (max-width: $laptop)

	.projects-carrousel
		overflow-x: auto
		padding: $sp-s 14vw

		.project-item
			padding-top: $sp-m

			.brand
				font-size: toRem(24)
				flex-direction: row
				gap: $sp-s
				img
					width: $sp-l

// Red and dark
@media screen and (min-width: $desktop)
	.projects-carrousel
		justify-content: center
</style>
