<script setup lang="ts">
defineProps<{ project: ProjectMinimal }>()
</script>
<template>
	<div class="img-box">
		<img :src="project.logoUrl" :alt="`Logo icon for ${project.name}`" />
	</div>
</template>

<style scoped lang="sass">
.img-box
	width: $sp-l
	aspect-ratio: 1/1
	display: flex
	align-items: center
	justify-content: center

	img
		width: 100%
		height: 100%
		object-fit: contain
		border-radius: $border-r
		overflow: hidden
		font-size: 11px
</style>
