<script setup lang="ts">
const props = defineProps<{ data: ProjectMinimal }>()
const isOpen = ref<boolean>(false)

const closeDialog = () => {
	setTimeout(() => {
		isOpen.value = false
	}, 200)
}
</script>

<template>
	<div class="not-ready">
		<div class="contribute-dialog" :class="{ open: isOpen }">
			<div class="contribute-wrapper">
				{{ $t('projectList.fillForm') }}
				<div>
					<a href="https://my.liberaforms.org/add-project-veenk" target="_blank" rel="noreferrer">
						my.liberaforms.org/add-project-veenk
					</a>
				</div>
			</div>
		</div>
		<div class="name">
			<div class="logo">
				<img :src="props.data.logoUrl" :alt="`${props.data.name} logo`" />
			</div>
			{{ props.data.name }}
		</div>
		<div>{{ $t('helpFillProject') }}</div>
		<button type="button" class="btn" @click="() => (isOpen = true)" @focusOut="closeDialog">
			{{ $t('contribute') }}
		</button>
	</div>
</template>

<style scoped lang="sass">
.not-ready
	display: flex
	width: 800px
	padding: $sp-xl 40px
	justify-content: space-around
	align-items: center
	gap: $sp-xs
	border-radius: $border-r
	background: var(--bg-2, #454545)
	position: relative
	box-shadow: var(--box-shadow)

	.name
		color: var(--font-color)
		font-size: 18px
		font-style: normal
		font-weight: 700
		line-height: normal
		cursor: pointer
		position: relative
		display: flex
		flex-direction: column
		align-items: center
		min-width: 260px

		&::before
			content: ''
			position: absolute
			background: var(--font-color)
			width: 100%
			height: 1px
			opacity: 0
			bottom: -$sp-xxxl
			transition: all 0.3s ease-in-out

	.logo img
		height: 40px

	.btn
		width: 148px
		border: solid 2px var(--primary-soft)
		background: var(--bg-2)
		color: var(--font-color)
		border-bottom-width: $sp-xxxs
		border-radius: 8px
		padding: 12px $sp-s $sp-xxs $sp-s
		font-size: toRem(16)
		cursor: pointer
		transition: all 0.2s ease-in-out
		box-sizing: content-box
		user-select: none
		letter-spacing: 0
		text-decoration: none

		&:hover
			font-weight: 600
			background: var(--bg-1)
			color: var(--font-color)

	.contribute-dialog
		display: none
		padding: 2px
		border-radius: $border-r
		background: var(--veenk-gradient)
		position: absolute
		max-width: 500px
		top: -90px
		right: -$sp-s
		z-index: 120
		box-shadow: var(--box-shadow)

		.contribute-wrapper
			border-radius: $border-r
			background: var(--bg)
			padding: 40px

		a
			display: block
			margin-top: $sp-s

		&.open
			display: block

// Green and Blue
@media screen and (max-width: $laptop)
	.not-ready
		width: 100%
		flex-direction: column
		.contribute-dialog
			width: 95%
			left: 2.5%
			top: initial
			bottom: -100px

			.contribute-wrapper
				padding: 40px $sp-s
				line-height: 1.4

				a
					text-align: center
</style>
