<script setup lang="ts">
import { newsIcons } from '~/constants/news'
import { useNewsStore } from '~/stores/news'

const { news } = useNewsStore()
</script>

<template>
	<div class="news-bar">
		<div class="scroll-wrapper">
			<!-- <div v-for="item in news" class="news-item">
				<span
					:style="{
						color: `var(--${item.color})`,
					}"
				>
					<Icon :name="newsIcons[item.type].icon" :color="`var(--${newsIcons[item.type].color})`" />
				</span>
				{{ item.text }}
			</div> -->
		</div>
	</div>
</template>

<style scoped lang="sass">
.news-bar
	background: var(--bg)
	width: 100vw
	box-shadow: var(--box-shadow-center)
	border-left: none
	border-right: none
	overflow-x: auto
	height: 40px
	margin-top: 6px

	.scroll-wrapper
		display: flex
		align-items: center
		gap: 40px
		box-shadow: var(--box-shadow-inset-light)
		padding: $sp-xxs 40px

		.news-item:last-child
			padding-right: 40px

	.news-item
		min-width: fit-content
		span
			width: $sp-s
			height: $sp-s

.news-item
	user-select: none
	display: flex
	justify-content: flex-start
	align-items: center
	cursor: pointer
	gap: $sp-xxs
	letter-spacing: 0

	svg
		width: 100%
		height: 100%
</style>
