<script setup lang="ts">
import { newsIcons } from '~/constants/news'
import { useNewsStore } from '~/stores/news'

const newsStore = useNewsStore()
</script>

<template>
	<div class="news-widget">
		<!-- <div v-for="item in newsStore.news" class="news-item">
			<span
				:style="{
					color: `var(--${item.color})`,
				}"
			>
				<Icon :name="newsIcons[item.type].icon" :color="`var(--${newsIcons[item.type].color})`" />
			</span>
			{{ item.text }}
		</div> -->
	</div>
</template>

<style scoped lang="sass">
.news-widget
	display: flex
	flex-direction: column
	gap: $sp-xxs

	.news-item
		width: 210px
		background: var(--bg-2)
		border-radius: $border-r
		border: var(--soft-font-color)
		color: var(--font-color)
		border-bottom-width: 3px
		border-radius: $border-r
		padding: $sp-xxxs $sp-xs
		font-size: 12px
		transition: all 0.2s ease-in-out
		box-sizing: content-box
		box-shadow: var(--box-shadow)

		span
			width: 20px
			height: 20px

		&:hover
			font-weight: 600

.news-item
	user-select: none
	display: flex
	justify-content: flex-start
	align-items: center
	cursor: pointer
	gap: $sp-xxs
	letter-spacing: 0

	svg
		width: 100%
		height: 100%
</style>
