<script setup lang="ts">
defineProps<{ languages: LocaleKey[] }>()
const { locale } = useI18n()
</script>

<template>
	<div class="language-list">
		<div v-for="lang in languages.slice(0, 16)" :class="{ active: lang === locale }">
			{{ $t(`langs.${getLangName(lang)}`) }}
		</div>
	</div>
</template>

<style scoped lang="sass">
.language-list
	display: flex
	padding: $sp-xs $sp-s
	justify-content: center
	align-items: center
	gap: $sp-xxs
	flex-wrap: wrap
	border-radius: $border-r
	border: 1px solid var(--soft-font-color)
	background: var(--bg-1)
	color: var(--font-color)
	font-size: 14px
	font-style: normal
	font-weight: 700
	line-height: normal
	overflow-y: auto

	.active
		color: var(--green-active)
</style>
