<script lang="ts" setup>
interface AlternativeFilterBtnProps {
	item: Alternative
	onClick: () => void
}
const props = defineProps<AlternativeFilterBtnProps>()
</script>

<template>
	<button class="alternative-item alternative-btn" @click="onClick" type="button">
		<img :src="props.item.img" :alt="`Small square logo of ${props.item.name}`" />
		<div>
			<span>{{ props.item.name }}</span>
			<div>
				<i18n-t keypath="projectList.hasAlternatives" tag="i">
					<template #count>
						<span class="num">{{ props.item.count }}</span>
					</template>
				</i18n-t>
			</div>
		</div>
	</button>
</template>

<style lang="sass">
.alternative-item
	display: flex
	align-items: center
	gap: $sp-xs
	font-size: 13px
	padding: $sp-xxs
	border: none
	background: none
	color: var(--font-color)

	& > div
		display: flex
		flex-wrap: wrap
		justify-content: left
		gap: $sp-xxs
		row-gap: $sp-xxxs

	img
		width: 28px
		height: 28px

	&.alternative-btn
		border-radius: $border-r
		transition: all 0.3s ease-in-out

		span
			font-weight: 600
			text-transform: capitalize

	&.active
		border-left: solid 3px var(--red-dark)
		padding: $sp-xxs $sp-xs
		background: color-mix(in srgb, var(--red-dark) 20%, transparent)
		border-radius: 0 $border-r $border-r 0
		margin-bottom: $sp-s
		justify-content: space-between

		& > div
			display: flex
			justify-content: space-between
			align-items: center
			gap: $sp-xxs

			span
				width: min-content

		.num
			color: var(--red)
			background: rgba(255, 255, 255, 0.1)
			border-radius: 50%
			width: 28px
			height: 28px
			display: flex
			align-items: center
			justify-content: center
			margin-left: $sp-xxs
			font-size: toRem(16)
			background: var(--red-bg)

		span
			font-weight: 600

		.close
			width: 28px
			height: 28px
			padding: $sp-xxxs
			border-radius: 50%
			cursor: pointer

			&:hover
				background: rgba(255, 255, 255, 0.1)

			.icon
				width: 100%
				height: 100%
				color: var(--font-color)
</style>
