<script setup lang="ts">
const animDur = '2s'
const initColor = 'rgba(125, 125, 125, 0.2)'

let animationInterval: undefined | NodeJS.Timeout
let animation = false
let defLines: number[] = []

interface SVGElement extends Element {
	beginElement(): SVGElement
}

function runAnimation() {
	animation = true
	animationInterval = setInterval(() => {
		const lineNum = Math.floor(Math.random() * (10 - 1 + 1) + 1)
		const idx = defLines.indexOf(lineNum)
		if (idx < 0) {
			const line = document.getElementById('anim' + lineNum) as unknown as SVGElement
			if (line) line.beginElement()
			defLines.push(lineNum)
			const toRemove = lineNum
			setTimeout(() => {
				defLines.splice(defLines.indexOf(toRemove), 1)
			}, 1000)
		}
	}, 500)
}

function setAnimation() {
	if (window.scrollY < 800) {
		animation = true
		runAnimation()
	}

	window.addEventListener('scroll', () => {
		if (window.scrollY < 800) {
			if (!animation) {
				runAnimation()
			}
		} else if (animation || animationInterval) {
			animation = false
			clearInterval(animationInterval)
			animationInterval = undefined
			defLines = []
		}
	})
}

if (window) setAnimation()
</script>

<template>
	<svg class="background" viewBox="0 0 2216 1168" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path
			d="M-309.705 848.772C-309.705 848.772 -110.98 685.497 252.795 627.441C616.562 569.388 683.59 538.996 761.585 473.088C839.579 407.179 1015.94 55.7599 1348.38 -98.1062"
			stroke="url(#gradient-line-1)"
			stroke-width="4.00131"
			stroke-miterlimit="1.5"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M-255.145 928.643C-255.145 928.643 -49.0765 671.998 307.212 650.41C663.494 628.824 771.496 573.899 843.193 502.041C976.35 368.614 1068.85 130.652 1400.18 2.05176"
			stroke="url(#gradient-line-2)"
			stroke-width="4.00157"
			stroke-miterlimit="1.5"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M-205.332 944.555C-205.332 944.555 -15.002 684.855 343.175 663.396C701.353 641.938 801.815 595.482 878.186 528.888C1015.32 409.333 1125.69 151.299 1458.77 23.4626"
			stroke="url(#gradient-line-3)"
			stroke-width="4.00024"
			stroke-miterlimit="1.5"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M-205.332 1003.2C-205.332 1003.2 -30.5553 714.441 327.753 695.562C691.431 676.401 791.801 649.241 911.234 559.902C1030.21 470.909 1125.69 209.944 1458.77 82.1069"
			stroke="url(#gradient-line-4)"
			stroke-width="4.00024"
			stroke-miterlimit="1.5"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M-128.72 969.924C-128.72 969.924 57.5125 712.769 418.749 716.912C779.986 721.057 875.586 655.815 976.269 595.349C1113.04 513.215 1204.7 270.384 1544.52 169.449"
			stroke="url(#gradient-line-5)"
			stroke-width="4.00024"
			stroke-miterlimit="1.5"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M-68.6084 991.599C-68.6084 991.599 100.107 748.605 461.393 752.751C822.686 756.899 898.101 699.63 1046.22 595.732C1167.97 510.327 1274.68 270.623 1614.55 169.646"
			stroke="url(#gradient-line-6)"
			stroke-width="4.00024"
			stroke-miterlimit="1.5"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M-18.5521 1067.39C-18.5521 1067.39 171.223 791.339 529.955 786.236C910.078 780.829 1026.73 692.356 1098.01 624.098C1171.36 553.872 1312.47 274.139 1645.55 146.302"
			stroke="url(#gradient-line-7)"
			stroke-width="4.00024"
			stroke-miterlimit="1.5"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M20.3418 1059.56C20.3418 1059.56 238.76 807.282 600.004 811.291C961.253 815.3 1047.87 731.508 1129.59 675.549C1249.41 593.515 1357.96 350.394 1697.77 249.299"
			stroke="url(#gradient-line-8)"
			stroke-width="4.00024"
			stroke-miterlimit="1.5"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M150.049 1064.67C232.532 986.167 397.206 864.732 637.303 850.347C995.481 828.889 1103.66 773.638 1205.36 688.209C1302.04 607.009 1419.81 338.25 1752.9 210.414"
			stroke="url(#gradient-line-9)"
			stroke-width="4.00024"
			stroke-miterlimit="1.5"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M264.237 1074.27C348.8 995.736 511.018 880.374 744.651 866.375C1102.83 844.917 1217.05 783.982 1312.71 704.237C1444.69 594.23 1527.16 354.278 1860.25 226.442"
			stroke="url(#gradient-line-10)"
			stroke-width="4.00024"
			stroke-miterlimit="1.5"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<defs>
			<radialGradient
				id="gradient-line-1"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-19 1067) rotate(-28.9493) scale(1902.75 1053.19)"
				x1="30%"
				y1="70%"
			>
				<stop offset="0%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						id="anim1"
						attributeName="stop-color"
						:values="`${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin=""
						restart="always"
						repeatCount="1"
					/>
				</stop>
				<stop offset="50%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin="anim1.begin"
						repeatCount="1"
					/>
				</stop>
				<stop offset="100%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor};`"
						:dur="animDur"
						begin="anim1.begin"
						repeatCount="1"
					/>
				</stop>
			</radialGradient>
			<radialGradient
				id="gradient-line-2"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-19 1067) rotate(-28.9493) scale(1902.75 1053.19)"
				x1="30%"
				y1="70%"
			>
				<stop offset="0%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						id="anim2"
						attributeName="stop-color"
						:values="`${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin=""
						restart="always"
						repeatCount="1"
					/>
				</stop>
				<stop offset="50%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin="anim2.begin"
						repeatCount="1"
					/>
				</stop>
				<stop offset="100%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor};`"
						:dur="animDur"
						begin="anim2.begin"
						repeatCount="1"
					/>
				</stop>
			</radialGradient>
			<radialGradient
				id="gradient-line-3"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-19 1067) rotate(-28.9493) scale(1902.75 1053.19)"
				x1="30%"
				y1="70%"
			>
				<stop offset="0%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						id="anim3"
						attributeName="stop-color"
						:values="`${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin=""
						restart="always"
						repeatCount="1"
					/>
				</stop>
				<stop offset="50%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin="anim3.begin"
						repeatCount="1"
					/>
				</stop>
				<stop offset="100%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor};`"
						:dur="animDur"
						begin="anim3.begin"
						repeatCount="1"
					/>
				</stop>
			</radialGradient>
			<radialGradient
				id="gradient-line-4"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-19 1067) rotate(-28.9493) scale(1902.75 1053.19)"
				x1="30%"
				y1="70%"
			>
				<stop offset="0%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						id="anim4"
						attributeName="stop-color"
						:values="`${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin=""
						restart="always"
						repeatCount="1"
					/>
				</stop>
				<stop offset="50%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin="anim4.begin"
						repeatCount="1"
					/>
				</stop>
				<stop offset="100%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor};`"
						:dur="animDur"
						begin="anim4.begin"
						repeatCount="1"
					/>
				</stop>
			</radialGradient>
			<radialGradient
				id="gradient-line-5"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-19 1067) rotate(-28.9493) scale(1902.75 1053.19)"
				x1="30%"
				y1="70%"
			>
				<stop offset="0%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						id="anim5"
						attributeName="stop-color"
						:values="`${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin=""
						restart="always"
						repeatCount="1"
					/>
				</stop>
				<stop offset="50%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin="anim5.begin"
						repeatCount="1"
					/>
				</stop>
				<stop offset="100%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor};`"
						:dur="animDur"
						begin="anim5.begin"
						repeatCount="1"
					/>
				</stop>
			</radialGradient>
			<radialGradient
				id="gradient-line-6"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-19 1067) rotate(-28.9493) scale(1902.75 1053.19)"
				x1="30%"
				y1="70%"
			>
				<stop offset="0%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						id="anim6"
						attributeName="stop-color"
						:values="`${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin=""
						restart="always"
						repeatCount="1"
					/>
				</stop>
				<stop offset="50%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin="anim6.begin"
						repeatCount="1"
					/>
				</stop>
				<stop offset="100%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor};`"
						:dur="animDur"
						begin="anim6.begin"
						repeatCount="1"
					/>
				</stop>
			</radialGradient>
			<radialGradient
				id="gradient-line-7"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-19 1067) rotate(-28.9493) scale(1902.75 1053.19)"
				x1="30%"
				y1="70%"
			>
				<stop offset="0%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						id="anim7"
						attributeName="stop-color"
						:values="`${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin=""
						restart="always"
						repeatCount="1"
					/>
				</stop>
				<stop offset="50%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin="anim7.begin"
						repeatCount="1"
					/>
				</stop>
				<stop offset="100%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor};`"
						:dur="animDur"
						begin="anim7.begin"
						repeatCount="1"
					/>
				</stop>
			</radialGradient>
			<radialGradient
				id="gradient-line-8"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-19 1067) rotate(-28.9493) scale(1902.75 1053.19)"
				x1="30%"
				y1="70%"
			>
				<stop offset="0%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						id="anim8"
						attributeName="stop-color"
						:values="`${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin=""
						restart="always"
						repeatCount="1"
					/>
				</stop>
				<stop offset="50%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin="anim8.begin"
						repeatCount="1"
					/>
				</stop>
				<stop offset="100%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor};`"
						:dur="animDur"
						begin="anim8.begin"
						repeatCount="1"
					/>
				</stop>
			</radialGradient>
			<radialGradient
				id="gradient-line-9"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-19 1067) rotate(-28.9493) scale(1902.75 1053.19)"
				x1="30%"
				y1="70%"
			>
				<stop offset="0%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						id="anim9"
						attributeName="stop-color"
						:values="`${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin=""
						restart="always"
						repeatCount="1"
					/>
				</stop>
				<stop offset="50%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin="anim9.begin"
						repeatCount="1"
					/>
				</stop>
				<stop offset="100%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor};`"
						:dur="animDur"
						begin="anim9.begin"
						repeatCount="1"
					/>
				</stop>
			</radialGradient>
			<radialGradient
				id="gradient-line-10"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-19 1067) rotate(-28.9493) scale(1902.75 1053.19)"
				x1="30%"
				y1="70%"
			>
				<stop offset="0%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						id="anim10"
						attributeName="stop-color"
						:values="`${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin=""
						restart="always"
						repeatCount="1"
					/>
				</stop>
				<stop offset="50%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor}; ${initColor};`"
						:dur="animDur"
						begin="anim10.begin"
						repeatCount="1"
					/>
				</stop>
				<stop offset="100%" :stop-color="initColor" stop-opacity="0.75">
					<animate
						attributeName="stop-color"
						:values="`${initColor}; ${initColor}; ${initColor}; #3AE3CC; #F7BB36; #F73676; ${initColor};`"
						:dur="animDur"
						begin="anim10.begin"
						repeatCount="1"
					/>
				</stop>
			</radialGradient>
		</defs>
	</svg>
</template>
