<script setup lang="ts">
const localePath = useLocalePath()
type Container = { slug: string; url: string; className?: string; id?: string; hideOnMobile?: boolean }
const projectContainers: Container[] = [
	{
		slug: 'sharkey',
		url: 'https://ams1.vultrobjects.com/web-veenk-org/projects/sharkey/sharkey-logo.png',
		className: 'project is-building',
		id: 'building-project'
	},
	{
		slug: 'open-street-map',
		url: 'https://ams1.vultrobjects.com/web-veenk-org/projects/open-street-map/open-street-map-logo.png'
	},
	{
		slug: 'joplin',
		url: 'https://ams1.vultrobjects.com/web-veenk-org/projects/joplin/joplin-logo.svg',
		hideOnMobile: true
	},
	{
		slug: 'drawio',
		url: 'https://ams1.vultrobjects.com/web-veenk-org/projects/drawio/drawio-logo.png',
		hideOnMobile: true
	},
	{
		slug: 'pixelfed',
		url: 'https://ams1.vultrobjects.com/web-veenk-org/projects/pixelfed/pixelfed-logo.png'
	}
]
const containers = ref<Container[]>([projectContainers[0]])

onMounted(() => {
	getContainers()
	window.addEventListener('resize', () => {
		debounce(getContainers, 100)
	})
	return () => {
		window.removeEventListener('resize', getContainers)
	}
})

const getContainers = () => {
	const isMobile = window.innerWidth < 768
	if (isMobile) {
		containers.value = projectContainers.filter((p) => !p.hideOnMobile)
	} else {
		containers.value = projectContainers
	}
}
</script>

<template>
	<div class="build-animation">
		<div class="build-section">
			<NuxtLink
				v-for="item in containers"
				:to="localePath(`/project/${item.slug}`)"
				:class="`${item.className ?? 'project'}`"
				:id="item.id"
			>
				<Icon v-if="item.id === 'building-project'" class="icon" name="ph:hammer" color="var(--yellow)" />
				<img :src="item.url" :alt="`${item.slug} logo`" />
			</NuxtLink>
		</div>
	</div>
</template>

<style scoped lang="sass">
.build-animation
	.build-section
		display: flex
		align-items: center
		justify-content: center
		gap: 40px

		#building-project
			position: relative
			background: var(--yellow-bg)
			border: solid 1px var(--yellow)

		#building-project .icon
			position: absolute
			color: var(--yellow)
			animation-direction: alternate
			transform-origin: 0% 60%

		.is-building .icon
			animation: buildHamemr 0.2s infinite cubic-bezier(0.77, 0, 0.175, 1)

		@keyframes buildHamemr
			0%
				transform: rotate(0)

			100%
				transform: rotate(34deg)

		.project
			border-radius: 50%
			width: 90px
			height: 90px
			background: var(--bg-2)
			border: solid 1px var(--soft-font-color)
			padding: $sp-xs

			img
				height: 100%
				width: 100%
				border-radius: $border-r

// Green and Blue
@media screen and (max-width: $laptop)
	.build-animation
		width: 100vw
		margin-top: $sp-xxl

		.build-section
			.project
				width: 70px
				height: 70px
				padding: 12px

	#building-project .icon
		top: -40px
		left: -18px
		width: 42px
		height: 42px

// Red and black
@media screen and (min-width: $desktop)
	.build-animation
		padding: $sp-xxl
		width: 100%

		.build-section
			gap: 100px
			position: relative
			z-index: 8

	#building-project .icon
		position: absolute
		top: -64px
		left: -$sp-s
		width: 60px
		height: 60px
		color: var(--yellow)
		animation-direction: alternate
		transform-origin: 0% 60%
</style>
