<script setup lang="ts">
import { codingLangs } from '~/constants/codingLangs'

const props = defineProps<{ type: CodingLangType }>()
</script>

<template>
	<div class="lang">{{ codingLangs[props.type] ?? '' }}</div>
</template>

<style scoped lang="sass"></style>
