<template>
	<div id="contactDialog" class="contact-dialog">
		<button id="copyClipboardBtn" aria-label="Copy email">
			<span>hey@veenk.org</span>
			<!-- <Icon name="ph:copy" /> -->
		</button>
	</div>
</template>

<style lang="sass" scoped>
.contact-dialog
	display: none
	position: fixed
	background: var(--bg-2)
	border: var(--border-light)
	border-color: var(--secondary)
	border-radius: $border-r
	padding: $sp-xxxl
	box-shadow: var(--box-shadow)
	z-index: 300
	font-size: toRem(16)

	&.visible
		display: block

	button
		padding: $sp-xxs $sp-xxs $sp-xxs $sp-xs
		display: flex
		align-items: center
		gap: $sp-xs
		border: none
		color: var(--font-color)

	svg
		width: 28px
		height: 28px
		color: var(--secondary)
</style>
