<template>
	<footer>
		<div class="bottom">veenk.org · <Icon class="icon" name="ph:copyleft" /> by-nc-nd · {{new Date().getFullYear()}}</div>
	</footer>
</template>

<style lang="sass" scoped>
footer
	width: 100%

	.bottom
		width: 100%
		padding: $sp-s 40px
		display: flex
		justify-content: center
		align-items: center
		background: var(--bg-2)
		color: var(--font-color)

	.icon
		width: 22px
		margin: 0 $sp-xxs
</style>
