<script setup lang="ts">
const localePath = useLocalePath()
const colorMode = useColorMode()

const switchLang = ref()
const isDrawerOpen = ref(false)

const toggleTheme = () => {
	colorMode.preference = colorMode.value === 'dark' ? 'light' : 'dark'
}

const openDrawer = () => {
	isDrawerOpen.value = true
	document.body.style.overflow = 'hidden'
}

const closeDrawer = () => {
	isDrawerOpen.value = false
	document.body.style.overflow = 'auto'
}
</script>

<template>
	<div class="header-bar">
		<SwitchLang ref="switchLang" />
		<ContactDialog />
		<div class="logo">
			<NuxtLink :to="localePath('/')">
				<img src="/veenk-logo.svg" alt="Veenk Logo" />
			</NuxtLink>
		</div>
		<nav class="wide-screen">
			<ul>
				<li>
					<NuxtLink :to="localePath('/projects')" exact-active-class="active">{{ $t('nav.projects') }}</NuxtLink>
				</li>
				<li>
					<NuxtLink :to="localePath('/roadmap')" exact-active-class="active">{{ $t('nav.roadmap') }}</NuxtLink>
				</li>
				<svg viewBox="0 0 61 24">
					<g transform="matrix(1,0,0,1,-3293,-2322)">
						<g transform="matrix(1,0,0,1,2362.05,2297.78)">
							<g transform="matrix(0.39313,5.39837e-33,5.22474e-33,0.39313,-139.765,-285.453)">
								<path
									d="M2819.99,816.472C2820.64,801.61 2833.41,789.739 2849.03,789.739C2865.08,789.739 2878.11,802.257 2878.11,817.676C2878.11,833.095 2865.08,845.613 2849.03,845.613C2837.32,845.613 2827.21,838.94 2822.61,829.336C2816.23,830.07 2809.18,830.592 2801.99,830.592C2794.8,830.592 2787.74,830.07 2781.37,829.336C2776.76,838.94 2766.66,845.613 2754.94,845.613C2738.89,845.613 2725.87,833.095 2725.87,817.676C2725.87,802.257 2738.89,789.739 2754.94,789.739C2770.57,789.739 2783.33,801.61 2783.99,816.472C2789.66,817.053 2795.78,817.443 2801.99,817.443C2808.2,817.443 2814.32,817.053 2819.99,816.472Z"
									fill="currentColor"
								></path>
							</g>
						</g>
					</g>
				</svg>
				<li>
					<NuxtLink :to="localePath('/our-mission')" exact-active-class="active">{{ $t('nav.ourMission') }}</NuxtLink>
				</li>
				<li>
					<NuxtLink :to="localePath('/donate')" exact-active-class="active">{{ $t('nav.donate') }}</NuxtLink>
				</li>
			</ul>
		</nav>
		<div class="actions wide-screen">
			<button
				class="lang-btn"
				@click="
					(e) => {
						switchLang.displaySwitchLang(e)
					}
				"
				@focusout="() => switchLang.hideSwitchLang()"
				aria-label="Change Languague"
			>
				<Icon class="icon" name="ph:translate" />
			</button>
			<button @click="toggleTheme" aria-label="Toggles theme">
				<Icon class="moon-svg icon" name="ph:moon" />
				<Icon class="sun-svg icon" name="ph:sun" />
			</button>
			<!-- <button class="contact-btn" aria-label="Display email">
				<Icon class="icon" name="ph:envelope-simple" />
			</button> -->
		</div>
		<div class="header-menu" :class="{ open: isDrawerOpen }">
			<Icon class="icon" @click="openDrawer" name="ph:list" />
			<div class="close-background" @click="closeDrawer"></div>
			<div class="navigation">
				<div class="drawer">
					<div class="close" @click="closeDrawer"><Icon class="icon" name="ph:x" /></div>
					<div class="full-logo">
						<img src="/veenk-logo.svg" alt="Veenk logo" />
					</div>
					<nav>
						<ul>
							<li>
								<NuxtLink :to="localePath('/projects')">{{ $t('nav.projects') }}</NuxtLink>
							</li>
							<li>
								<NuxtLink :to="localePath('/roadmap')">{{ $t('nav.roadmap') }}</NuxtLink>
							</li>
							<li>
								<NuxtLink :to="localePath('/our-mission')">{{ $t('nav.ourMission') }}</NuxtLink>
							</li>
							<li>
								<NuxtLink :to="localePath('/donate')">{{ $t('nav.donate') }}</NuxtLink>
							</li>
						</ul>
					</nav>
					<div class="actions">
						<button
							class="lang-btn"
							@click="(e) => switchLang.displaySwitchLang(e)"
							@focusout="() => switchLang.hideSwitchLang()"
						>
							<Icon class="icon" name="ph:translate" />
						</button>
						<button title="Toggles light & dark" @click="toggleTheme">
							<Icon class="moon-svg icon" name="ph:moon" />
							<Icon class="sun-svg icon" name="ph:sun" />
						</button>
						<!-- <button class="contact-btn">
							<Icon class="icon" name="ph:envelope-simple" />
						</button> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="sass" scoped>
.header-bar
	width: 100%
	height: 50px
	background: var(--bg-2)
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 $sp-s
	color: var(--font-color)
	font-weight: 400
	letter-spacing: 0.5px
	position: fixed
	top: 0
	z-index: 100
	box-shadow: var(--box-shadow)

	.logo
		width: 140px
		height: 100%
		padding: 12px 0

		img
			height: 100%

	.actions
		display: flex
		justify-content: flex-end
		gap: 20px
		width: 140px

		button
			background: none
			border: none
			cursor: pointer
			border-radius: 50%
			padding: $sp-xxxs
			transition: all 0.1s ease-in-out
			height: $sp-m_px
			width: $sp-m_px

			&:hover
				background-color: var(--bg-1)
				transform: scale(1.1)

		span
			height: 100%
			width: 100%

		a
			color: inherit

	.header-menu
		display: flex
		align-items: center

		.icon
			width: 28px
			height: 28px

		.close-background
			z-index: 150

	.theme-btn
		position: relative
		z-index: 40

	html[data-theme='dark']
		.moon-svg
			&:hover
				color: var(--yellow)

	html[data-theme='light']
		.sun-svg
			&:hover
				color: var(--purple)

// Green
@media screen and (max-width: $tablet)
	.header-menu
		&.open
			.navigation
				transform: translateX(20vw)

	.navigation
		width: 80vw

// Blue
@media screen and (min-width: $tablet) and (max-width: $laptop)
	.header-menu
		&.open
			.navigation
				transform: translateX(50vw)

	.navigation
		width: 50vw

// green and blue
@media screen and (max-width: $laptop)
	.header-bar
		.wide-screen
			display: none

	.header-menu
		&.open
			.close-background
				display: block

	.navigation
		position: fixed
		top: 0
		left: 0
		bottom: 0
		transform: translateX(100vw)
		transition: all .2s ease-in-out
		z-index: 200

		.drawer
			width: 100%
			float: right
			height: 100%
			background: var(--bg-2)
			padding: $sp-s 40px
			position: relative
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-between

		.close
			position: absolute
			top: $sp-xs
			right: $sp-s

			svg
				width: $sp-s
				height: $sp-s

		.full-logo
			width: 60%
			margin-top: 10vh

			img
				width: 100%

		ul
			display: flex
			flex-direction: column
			gap: 60px
			text-align: center

			a
				font-size: toRem(20)

		.actions
			display: flex
			gap: 40px
			width: auto

			button
				width: 38px
				height: 38px

// Yellow and more
@media screen and (min-width: $laptop)
	.header-bar
		.header-menu
			display: none
		nav
			ul
				display: flex
				gap: $sp-xxs
				align-items: center

				li
					text-align: center
					width: 125px
				a
					text-decoration: none
					&.active
						font-weight: bold
						color: var(--font-color)

				svg
					color: var(--primary)
					height: 15px
					margin: 0 $sp-m

// add color bar to help visualize breakpoints
.header-bar
	border-bottom: solid 1px var(--green)

@media screen and (min-width: $tablet)
	.header-bar
		border-bottom: solid 1px var(--secondary)

@media screen and (min-width: $laptop)
	.header-bar
		border-bottom: solid 1px var(--yellow)

@media screen and (min-width: $desktop)
	.header-bar
		border-bottom: solid 1px var(--red)

@media screen and (min-width: $ultrawide)
	.header-bar
		border-bottom: solid 1px var(--black)
</style>
