<script setup lang="ts">
interface ImageZoomDialogProps {
	images: Image[]
	activeImg: number
	open: boolean
	setActiveImg: (idx: number) => void
	closeDialog: () => void
}
const props = defineProps<ImageZoomDialogProps>()
</script>

<template>
	<div class="img-zoom-dialog" :class="{ open }">
		<div class="wrapper">
			<div class="close-background" @click="closeDialog" @keyPress="closeDialog" />
			<div class="slider-section">
				<NuxtImg
					class="display-img"
					:src="images[props.activeImg].src"
					:alt="images[props.activeImg].alt"
					format="webp"
					sizes="100vw md:1280px"
					placeholder
				/>
				<div class="bottom-slider">
					<div
						v-for="(item, idx) in props.images"
						class="thumb"
						:class="{ active: props.activeImg === idx }"
						@click="() => setActiveImg(idx)"
						@keyPress="() => setActiveImg(idx)"
					>
						<NuxtImg :src="item.src" :alt="`Thumbnail number ${idx}`" format="webp" sizes="100vw sm:50vw md:275px" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.img-zoom-dialog
	position: fixed
	display: none
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 400

	.wrapper
		position: relative
		height: 100%
		width: 100%

		.close-background
			width: 100%
			height: 100%
			// background: rgba(0, 0, 0, 0.6)
			background: rgba(117, 117, 117, 0.8)
			backdrop-filter: blur(2px)

		.slider-section
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			height: 80vh
			// max-width: 1200px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			padding-top: $sp-s
			gap: 0px
			// background: rgba(0, 0, 0, 0.2)
			border-radius: $border-r

			img
				height: 85%
				border: solid 1px var(--font-color)
				box-shadow: var(--box-shadow-center)
				border-radius: $border-r

			.bottom-slider
				display: flex
				gap: $sp-xs
				width: 100%
				justify-content: center
				background: rgba(0, 0, 0, 0.2)
				padding: $sp-xs $sp-xs $sp-xxs
				border-radius: $border-r

				.thumb
					border: solid 2px transparent
					border-radius: $border-r
					overflow: hidden
					transition: all .2s ease-in-out
					cursor: pointer

					img
						height: $sp-xxl
						filter: grayscale(1)
						transition: all .2s ease-in-out
						border: none

					&:hover
						border-color: var(--white)
						img
							filter: grayscale(0)

					&.active
						border-color: var(--secondary)
						cursor: initial

						img
							filter: grayscale(0)

	&.open
		display: block

		.close-background
			display: block

// Mobile only
@media screen and (max-width: $tablet)
	.img-zoom-dialog
		.wrapper
			.slider-section
				width: 95vw
				height: auto

				img
					max-height: 50vh
					max-width: 100%
					height: auto

				.bottom-slider
					.thumb
						img
							height: auto
							max-width: 50vw
							max-height: $sp-xxl
</style>
