<script setup lang="ts">
import instances from '~/constants/instances'
</script>

<template>
	<div class="instances-list">
		<div class="instance-card" v-for="instance in instances">
			<img :src="`/img/${instance.type}-logo.svg`" :alt="`Logo ${instance.type}`" />
			<i18n-t keypath="widgets.instance" tag="div" scope="global">
				<template #software>
					<a :href="instance.softwareUrl" target="_blank" rel="noreferrer">
						<span>{{ instance.software }}</span>
					</a>
				</template>
			</i18n-t>
			<div class="stats">
				<div class="visit-link" v-if="instance.type !== 'peeko'">
					{{ $t('widgets.visit') }}
					<a :href="`https://${instance.url}`" target="_blank" rel="noreferrer">
						{{ instance.url }}
					</a>
				</div>
				<div v-else style="margin-bottom: 4px">{{ $t('widgets.at') }} https://<span>peeko.chat</span></div>
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.instances-list
	display: flex
	justify-content: center
	align-items: flex-start
	gap: 8vw
	position: relative
	overflow: hidden
	width: fit-content

.instance-card
	background: var(--bg)
	width: 260px
	min-width: 260px
	display: flex
	flex-direction: column
	align-items: center
	gap: $sp-xs
	padding: $sp-s 20px
	position: relative
	transition: all 0.4s ease-in-out
	transition-delay: 0.2s
	font-size: toRem(14)
	border: solid 1px var(--primary)
	border-radius: $border-r

	img
		height: 55px
		margin: $sp-xs
		transition: all 0.2s ease-in-out

	.status-indicator
		content: ''
		position: absolute
		top: 10px
		right: 10px
		width: 6px
		height: 6px
		border-radius: 50%

	a
		font-size: 1em
		text-decoration-color: var(--font-color)

	.visit-link
		font-size: 1.28em
		a
			margin-left: 6px
			text-decoration-color: var(--primary)

	&:hover
		color: var(--font-color)

		img
			filter: grayscale(0)
		a
			color: var(--font-color)
			text-decoration-color: var(--secondary)

			&:hover
				color: var(--secondary)

		.visit-link
			a
				text-decoration-color: var(--primary)

				&:hover
					color: var(--primary)

// Green and Blue
@media screen and (max-width: $laptop)
	.instances-list
		position: relative
		overflow: clip

		&::before
			content: ''
			border-bottom: 4px solid var(--primary)
			position: absolute
			width: 140%
			border-radius: 50%
			top: -30px
			left: 50%
			transform: translate(-50%)
			height: 140px

	.instance-card
		font-size: toRem(14)
		padding: 20px

		&:first-child
			margin-left: 10vw
		&:last-child
			margin-right: 10vw

		img
			height: 46px

// Yellow
@media screen and (min-width: $laptop) and (max-width: $desktop)
	.instances-list
		gap: 3vw

	.instance-card
		padding: $sp-s
		width: 20vw
		min-width: auto
		font-size: toRem(13)
		gap: $sp-xs

		img
			height: 4vw
			margin-bottom: $sp-xxs

// Red and black
@media screen and (min-width: $desktop)
	.instances-list
		gap: $sp-xl
	.instance-card
		color: var(--soft-font-color)
		img
			// filter: grayscale(1)

		a
			text-decoration-color: var(--soft-font-color)
			color: var(--soft-font-color)

	.instances-list > div:nth-child(2),
	.instances-list > div:nth-child(3)
		margin-top: $sp-xxs
</style>
