<script setup lang="ts"></script>

<template>
	<div class="join-us-container">
		<div class="circles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="button-wrapper">
			<a class="border-color" href="#join-us">
				<div class="text">
					<i>{{ $t('home.join') }}</i>
				</div>
			</a>
		</div>
	</div>
</template>

<style scoped lang="sass">
.join-us-container
		position: absolute
		left: 0
		top: 74px // 24px + 50px
		z-index: 10

		a
			text-decoration: none

		.circles
			position: relative

			div
				position: absolute
				border: solid 1px var(--bg-1)
				border-radius: 50%

				&:nth-child(1)
					top: $sp-s
					left: - $sp-xl
					width: 160px
					height: 160px

				&:nth-child(2)
					top: 70px
					left: -40px
					width: 135px
					height: 135px

				&:nth-child(3)
					top: 100px
					left: 25px
					width: 90px
					height: 90px

				&:nth-child(4)
					top: 110px
					left: 65px
					width: 65px
					height: 65px

		.button-wrapper
			width: 105px
			height: 105px
			display: flex
			justify-content: center
			align-items: center
			position: absolute
			top: 55px
			left: 55px
			cursor: pointer

			.border-color
				width: 100%
				height: 100%
				border-radius: 50%
				display: flex
				justify-content: center
				align-items: center
				background: var(--veenk-gradient-diagonal)

			.text
				width: 95%
				height: 95%
				border-radius: 50%
				background: var(--bg-2)
				font-size: toRem(17)
				font-weight: 600
				text-transform: uppercase
				display: flex
				justify-content: center
				align-items: center

				i
					text-align: center
					background: var(--veenk-gradient-diagonal)
					background-clip: text
					-webkit-text-fill-color: transparent
					user-select: none
					padding: 2px

@media screen and (max-width: $laptop)
	.join-us-container
		display: none
</style>
