<script setup lang="ts">
export interface Props {
	profile: Profile
}

const props = defineProps<Props>()
</script>

<template>
	<div class="patron-user">
		<div class="img-box">
			<img v-if="props.profile.avatar" :src="props.profile.avatar" alt="Imagen del usuario" />
			<div v-else class="no-avatar">{{ props.profile.username.slice(0, 2) }}</div>
		</div>
		<div>
			<div class="name">{{ props.profile.username }}</div>
			<div class="subline">through LiberaPay</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.patron-user
	display: flex
	align-items: center
	gap: $sp-xs

	.img-box
		width: $sp-l
		height: $sp-l

		img
			border-left: solid 3px var(--green)
			height: 100%
			border-radius: 50%

		.no-avatar
			display: flex
			align-items: center
			justify-content: center
			height: 100%
			width: 100%
			border: solid 1px var(--green)
			background: var(--green-bg)
			border-left-width: 3px
			border-radius: 50%
			font-size: 18px
			font-weight: 600
			text-transform: capitalize

	.name
		font-size: 14px
		font-weight: 600

	.subline
		font-size: 12px
		font-weight: 400
</style>
