<script setup lang="ts">
import { getTimeFromNow } from '~/shared/utils/dates'
import { repositories } from '~/constants/repositories'
import icons from '~/components/Icon/Repo'

interface RepositoryBoxProps {
	platform: ProjectPlatform
	lastImport: ImportedRepoData
}

const { platform, lastImport } = defineProps<RepositoryBoxProps>()

const repoInfo = computed(() => {
	if (!lastImport) return platform.repositories[0]
	return lastImport.repos[platform.type]
})
</script>

<template>
	<div class="repository-box">
		<a
			v-if="platform.repositories[0]"
			class="repository"
			:href="platform.repositories[0].url"
			target="_blank"
			rel="noreferrer"
		>
			<div v-if="lastImport" class="import-info">
				<div class="wrapper">
					<div class="tooltip">
						<div>{{ $t('lastImport') }}:</div>
						<span>{{ getTimeFromNow(lastImport.date) }}</span>
					</div>
				</div>
				<Icon name="ph:clock-counter-clockwise" />
			</div>
			<div class="repo-brand">
				<component :is="icons[platform.repositories[0].type]" />
				<div>{{ repositories[platform.repositories[0].type].name }}</div>
			</div>
			<div class="repo-stats" v-if="repoInfo">
				<div>
					<Icon class="icon" name="ph:star-duotone" />
					{{ repoInfo.stars }}
				</div>
				<div v-if="repoInfo.forks">
					<Icon class="icon" name="ph:git-fork-duotone" />
					{{ repoInfo.forks }}
				</div>
			</div>
		</a>
		<div v-else>{{ $t('noRepositories') }}</div>
	</div>
</template>

<style scoped lang="sass">
.repository
	display: flex
	width: 246px
	height: 75px
	padding: 12px $sp-xs
	flex-direction: column
	justify-content: space-between
	align-items: center
	flex-shrink: 0
	border-radius: $border-r
	border: solid 2px var(--primary-soft)
	background: var(--primary-soft)
	color: var(--font-color)
	text-decoration: none
	position: relative

	&:hover
		border: solid 2px var(--primary)

	.import-info
		position: absolute
		top: $sp-xxs
		right: $sp-xxs

		.wrapper
			position: relative

			.tooltip
				display: none
				position: absolute
				background: var(--bg)
				padding: $sp-xxs $sp-xs
				top: -$sp-l
				right: - $sp-xs
				width: 160px
				font-size: 12px
				text-align: center
				gap: $sp-xxs
				border-radius: $border-r
				box-shadow: var(--box-shadow)
				border: var(--border-light)
				color: var(--font-color)

				span
					font-weight: 600
					margin-top: $sp-xxxs
					display: block

		&:hover
			.tooltip
				display: block

	.repo-brand
		display: flex
		padding: 0px 5px
		justify-content: center
		align-items: center
		gap: $sp-xxs

		.icon
			width: 18px
			height: 18px

	.repo-stats
		display: flex
		height: 18px
		padding: 0px 5px
		justify-content: center
		align-items: center
		gap: $sp-xxs
		flex-shrink: 0
		font-size: 14px
		font-weight: 600
		line-height: normal

		.icon
			color: var(--font-color)
			width: 18px
			height: 18px

		& > div
			display: flex
			align-items: center
			gap: $sp-xxxs
</style>
