<script lang="ts" setup>
const { images } = defineProps<{ images: Image[] }>()

let slider: HTMLDivElement

const step = ref<number>(1)
const selectedImg = ref<number>(0)
const zoomOpen = ref<boolean>(false)

const onImgClick = (idx: number) => {
	selectedImg.value = idx
	document.body.style.overflow = 'hidden'
	zoomOpen.value = true
}

const closeZoomDialog = () => {
	selectedImg.value = 0
	document.body.style.overflow = 'auto'
	zoomOpen.value = false
}
</script>

<template>
	<div class="slider">
		<div class="wrapper">
			<div v-for="(img, idx) in images" class="img-box">
				<img :src="img.src" alt="alt-text" @click="() => onImgClick(idx)" @keypress="() => onImgClick(idx)" />
			</div>
		</div>
		<div class="steps-indicator">
			<div v-for="(img, idx) in images" :class="idx === step - 1 ? 'active' : ''" />
		</div>
		<ImageZoomDialog
			:images="images"
			:activeImg="selectedImg"
			:open="zoomOpen"
			:setActiveImg="(idx) => (selectedImg = idx)"
			:closeDialog="closeZoomDialog"
		/>
	</div>
</template>

<style lang="sass" scoped>
.slider
	height: 100%
	padding: 0 16px
	margin-bottom: 24px

	& > .wrapper
		display: flex
		justify-content: flex-start
		gap: 16px
		overflow-x: auto
		padding: 16px
		border: solid 1px var(--bg-1)
		border-radius: var(--br)

	.img-box
		// container-type: size
		// container-name: image-container

		img
			border-radius: var(--br)
			height: 290px
			width: auto
			display: block
			box-shadow: var(--box-shadow)
			border: solid 1px var(--font-color)

	// @container image-container (min-width: 1000)
	// 	img
	// 		height: 80px

	.steps-indicator
		width: 100%
		margin-top: 24px
		display: flex
		display: none
		justify-content: center
		gap: 8px

		div
			width: 14px
			height: 8px
			border-radius: 2px
			background: var(--grey)

		.active
			background: var(--primary-active)
</style>
