<script lang="ts" setup></script>
<template>
	<div class="sponsor-section">
		<a href="https://tuta.com/" rel="sponsored noreferrer noopener" target="_blank">
			<img src="/img/tuta-logo.svg" alt="Tuta logo" />
		</a>
		<p class="text">{{ $t('home.tutaText') }}</p>
	</div>
</template>

<style lang="sass" scoped>
.sponsor-section
	padding: $sp-l $sp-m
	gap: $sp-m
	background: var(--bg-0)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	box-shadow: var(--box-shadow-inset)
	a
		height: 68px
		padding: $sp-xs $sp-m
		background: var(--white)
		border-radius: $border-r
		box-shadow: var(--box-shadow)
		img
			height: 100%
	.text
		font-size: toRem(14)
		font-weight: 500
		line-height: 1.2em
		text-align: center

// Blue and more
@media screen and (min-width: $tablet)
	.sponsor-section
		padding: $sp-l
		flex-direction: row
		gap: $sp-l

		.text
			font-size: toRem(18)
			max-width: toRem(340)
			text-align: left

// Blue and more
@media screen and (min-width: $laptop)
	.sponsor-section
		margin: auto

// Red and more
@media screen and (min-width: $desktop)
	.sponsor-section
		border-radius: $border-r
		max-width: 1390px
		margin-bottom: $sp-xxl
</style>
