<script setup lang="ts">
const { locale, locales } = useI18n()
const switchLocalePath = useSwitchLocalePath()

const visibleSwitch = ref(false)
// const switchLang = useTemplateRef('switch-lang')
const tooltip = ref<HTMLDivElement | null>(null)

const displaySwitchLang = (e: MouseEvent) => {
	if (visibleSwitch.value || tooltip.value === null) return

	const isMobile = window.innerWidth < 768
	if (isMobile) {
		let bottom = tooltip.value.offsetHeight
		let left = e.pageX - 40
		tooltip.value.style.bottom = `${bottom}px`
		tooltip.value.style.left = `${left}px`
	} else {
		let top = 58
		let left = e.pageX - 80
		tooltip.value.style.top = `${top}px`
		tooltip.value.style.left = `${left}px`
	}
	visibleSwitch.value = true
}

function hideSwitchLang() {
	// timeout allow click on link before hide element
	setTimeout(() => {
		visibleSwitch.value = false
	}, 200)
}

defineExpose({
	displaySwitchLang,
	hideSwitchLang,
})
</script>

<template>
	<div class="switch-lang" :class="{ visible: visibleSwitch }" ref="tooltip">
		<ul>
			<li v-for="{ code, name } in locales" :key="code" :class="{ active: locale === code }">
				<NuxtLink :to="switchLocalePath(code)">{{ name }}</NuxtLink>
			</li>
		</ul>
	</div>
</template>

<style scoped lang="sass">
.switch-lang
	display: none
	position: fixed
	background: var(--bg-2)
	border: var(--border-light)
	border-radius: $border-r
	width: 160px
	padding: $sp-xxs
	box-shadow: var(--box-shadow)
	z-index: 300

	&.visible
		display: block

	ul
		display: flex
		flex-direction: column
		gap: 2px
		font-size: toRem(16)

		li
			user-select: none
			font-weight: 600

			a
				display: block
				border-radius: $border-r
				padding: $sp-xxs $sp-xs
				text-decoration: none

				&:hover
					background: var(--secondary-bg-2)
					color: inherit

		li.active
			font-weight: 700
			color: var(--secondary)

			&:hover
				background: inherit

			a
				cursor: auto
				color: inherit
</style>
