<script setup lang="ts">
const localePath = useLocalePath()
</script>

<template>
	<section class="values-section">
		<div class="float-icons">
			<Icon class="icon" name="ph:hand-fist" size="48" />
			<Icon class="icon" name="ph:lifebuoy" size="32" />
			<Icon class="icon" name="ph:heartbeat" size="64" />
			<Icon class="icon" name="ph:person" size="38" />
			<Icon class="icon" name="ph:translate" size="40" />
			<Icon class="icon" name="ph:copyleft" size="32" />
			<Icon class="icon" name="ph:leaf" size="64" />
			<Icon class="icon" name="ph:chart-pie-slice" size="42" />
		</div>
		<i18n-t keypath="home.weAreSolarpunk" tag="h2" scope="global">
			<template #solarpunk>
				<span>{{ $t('home.solarpunk') }}</span>
			</template>
		</i18n-t>

		<NuxtLink :to="localePath('/our-mission')">{{ $t('home.ourMission') }}</NuxtLink>
	</section>
</template>

<style lang="sass">
.values-section
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	gap: $sp-s
	height: 640px
	max-width: var(--max-width)
	margin: auto

	h2
		text-align: center
		margin-bottom: $sp-s
		color: var(--font-color)
		max-width: 600px
		+responsive-font(20, 28, 38, 42)

		span
			background: var(--veenk-gradient-diagonal)
			background-clip: text
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent

	.float-icons
		position: relative
		width: 100%

		.icon
			position: absolute
			width: $sp-m
			height: $sp-m
			color: var(--yellow)
			opacity: 0.8
			aspect-ratio: 1/1
			color: var(--yellow)
			opacity: 0.8

			&:nth-child(4), &:nth-child(6), &:nth-child(8)
				display: none

			&:nth-child(1)
				top: -160px
				left: $sp-l
				width: 38px
				height: 38px
			&:nth-child(2)
				color: var(--green)
				top: auto
				bottom: -300px
				left: $sp-l
				width: 26px
				height: 26px
			&:nth-child(3)
				color: var(--red)
				bottom: -124px
				left: 0px
				width: $sp-m
				height: $sp-m
			&:nth-child(6)
				color: var(--red)
			&:nth-child(5)
				top: auto
				bottom: -230px
				left: auto
				right: 18px
				width: 30px
				height: 30px
			&:nth-child(7)
				color: var(--green)
				top: -$sp-xl
				left: auto
				right: 40px
				width: 38px
				height: 38px


// Yellow and more
@media screen and (min-width: $laptop)
	.values-section
		h2
			max-width: 800px

	.float-icons
		& span:nth-child(1)
			top: -$sp-xxl
			left: 0

		& span:nth-child(2)
			top: -30px
			left: 100px

		& span:nth-child(3)
			bottom: -150px
			left: 40px

		& span:nth-child(4)
			left: 200px
			bottom: -200px

		& span:nth-child(5)
			top: -20px
			right: 40px

		& span:nth-child(6)
			bottom: -100px
			right: $sp-xxl

		& span:nth-child(7)
			bottom: -$sp-xxxl
			right: 0px

		& span:nth-child(8)
			right: 200px
			bottom: -320px
</style>
