<template>
	<svg width="874" height="383" viewBox="0 0 874 383" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_79_474)">
			<path
				d="M325.89 326.618L427.978 327.157"
				stroke="#F7BA37"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M412 326.618L514 327.158"
				stroke="#979797"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M346.881 275.726C346.881 273.581 345.139 271.839 342.992 271.839H66.8839C64.7424 271.839 63 273.581 63 275.726V378.494C63 380.638 64.7424 382.381 66.8839 382.381H342.992C345.139 382.381 346.881 380.638 346.881 378.494V275.726Z"
				fill="var(--bg-1)"
				stroke="#F7BA37"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M513.998 327.158V305.932C513.998 304.897 514.406 303.91 515.135 303.181C515.863 302.452 516.854 302.044 517.884 302.044C521.891 302.044 527.555 302.044 527.555 302.044"
				stroke="#979797"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M513.998 327.157V348.227C513.998 350.371 515.737 352.115 517.884 352.115H527.555"
				stroke="#979797"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M723.791 61.2923L728.163 56.918L732.534 61.2923"
				stroke="#6CD8A5"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linecap="round"
			/>
			<path
				d="M491.858 230.612H555.057C556.087 230.612 557.073 231.021 557.807 231.75C558.535 232.48 558.943 233.469 558.943 234.5C558.943 243.924 558.943 255.575 558.943 265C558.943 267.148 560.682 268.889 562.829 268.889C585.6 268.889 701.506 268.889 724.277 268.889C726.424 268.889 728.163 267.148 728.163 265C728.163 237.428 728.163 244.492 728.163 232.5"
				stroke="#6CD8A5"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M685 284C693.837 284 701 276.837 701 268C701 259.163 693.837 252 685 252C676.163 252 669 259.163 669 268C669 276.837 676.163 284 685 284Z"
				fill="var(--bg-2)"
				stroke="#6CD8A5"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M685 259C683.22 259 681.48 259.528 680 260.517C678.52 261.506 677.366 262.911 676.685 264.556C676.004 266.2 675.826 268.01 676.173 269.756C676.52 271.502 677.377 273.105 678.636 274.364C679.895 275.623 681.498 276.48 683.244 276.827C684.99 277.174 686.8 276.996 688.444 276.315C690.089 275.634 691.494 274.48 692.483 273C693.472 271.52 694 269.78 694 268C693.997 265.614 693.048 263.326 691.361 261.639C689.674 259.952 687.386 259.003 685 259ZM685 265.923C685.184 265.923 685.36 265.996 685.49 266.126C685.619 266.256 685.692 266.432 685.692 266.615C685.692 266.799 685.619 266.975 685.49 267.105C685.36 267.235 685.184 267.308 685 267.308H681.538V268.692H683.615C683.799 268.692 683.975 268.765 684.105 268.895C684.235 269.025 684.308 269.201 684.308 269.385C684.308 269.568 684.235 269.744 684.105 269.874C683.975 270.004 683.799 270.077 683.615 270.077H681.609C681.73 270.674 682.007 271.228 682.412 271.683C682.816 272.139 683.333 272.479 683.912 272.671C684.49 272.863 685.108 272.898 685.705 272.774C686.301 272.65 686.854 272.371 687.308 271.965C687.375 271.901 687.454 271.851 687.541 271.818C687.628 271.785 687.721 271.77 687.813 271.774C687.906 271.778 687.997 271.8 688.081 271.839C688.165 271.879 688.24 271.935 688.302 272.004C688.364 272.073 688.412 272.154 688.441 272.242C688.471 272.33 688.483 272.423 688.477 272.516C688.47 272.608 688.445 272.699 688.402 272.781C688.36 272.864 688.302 272.937 688.23 272.997C687.577 273.581 686.778 273.977 685.917 274.143C685.057 274.308 684.167 274.238 683.344 273.938C682.52 273.639 681.793 273.121 681.24 272.441C680.687 271.761 680.329 270.944 680.204 270.077H679.462C679.278 270.077 679.102 270.004 678.972 269.874C678.842 269.744 678.769 269.568 678.769 269.385C678.769 269.201 678.842 269.025 678.972 268.895C679.102 268.765 679.278 268.692 679.462 268.692H680.154V267.308H679.462C679.278 267.308 679.102 267.235 678.972 267.105C678.842 266.975 678.769 266.799 678.769 266.615C678.769 266.432 678.842 266.256 678.972 266.126C679.102 265.996 679.278 265.923 679.462 265.923H680.204C680.329 265.056 680.687 264.239 681.24 263.559C681.793 262.879 682.52 262.361 683.344 262.062C684.167 261.762 685.057 261.692 685.917 261.857C686.778 262.023 687.577 262.419 688.23 263.003C688.302 263.063 688.36 263.136 688.402 263.219C688.445 263.301 688.47 263.392 688.477 263.484C688.483 263.577 688.471 263.67 688.441 263.758C688.412 263.846 688.364 263.927 688.302 263.996C688.24 264.065 688.165 264.121 688.081 264.161C687.997 264.2 687.906 264.222 687.813 264.226C687.721 264.23 687.628 264.215 687.541 264.182C687.454 264.149 687.375 264.099 687.308 264.035C686.854 263.629 686.301 263.35 685.705 263.226C685.108 263.102 684.49 263.137 683.912 263.329C683.333 263.521 682.816 263.861 682.412 264.317C682.007 264.772 681.73 265.326 681.609 265.923H685Z"
				fill="#6CD8A5"
			/>
			<path
				d="M139.487 159.149L135.115 163.523L130.744 159.149"
				stroke="#F7456F"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linecap="round"
			/>
			<path
				d="M378.374 157.897C378.374 157.897 280.055 157.837 259.137 157.823C256.992 157.822 255.254 156.081 255.254 153.935C255.254 137.596 255.254 89.1639 255.254 73.4695C255.254 70.7081 253.015 68.5 250.254 68.5H198.5"
				stroke="#F7456F"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M255 132C263.837 132 271 124.837 271 116C271 107.163 263.837 100 255 100C246.163 100 239 107.163 239 116C239 124.837 246.163 132 255 132Z"
				fill="var(--bg-2)"
				stroke="#F7456F"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M259.973 111.991H256.663C256.421 111.977 252.203 111.68 248.187 108.312C247.993 108.149 247.756 108.045 247.505 108.011C247.254 107.978 246.999 108.017 246.769 108.124C246.539 108.231 246.345 108.401 246.209 108.615C246.073 108.829 246 109.076 246 109.33V122.637C246 122.891 246.072 123.139 246.209 123.352C246.345 123.566 246.539 123.736 246.769 123.843C246.998 123.95 247.254 123.99 247.505 123.957C247.756 123.923 247.993 123.819 248.187 123.656C251.328 121.021 254.591 120.266 255.981 120.055V122.693C255.98 122.912 256.034 123.128 256.138 123.322C256.241 123.515 256.391 123.68 256.573 123.802L257.488 124.411C257.665 124.529 257.867 124.603 258.078 124.627C258.29 124.651 258.504 124.623 258.702 124.547C258.901 124.471 259.078 124.349 259.22 124.19C259.361 124.032 259.463 123.841 259.516 123.635L260.495 119.946C261.507 119.822 262.433 119.315 263.083 118.529C263.733 117.744 264.058 116.74 263.991 115.722C263.925 114.705 263.471 113.751 262.724 113.058C261.977 112.364 260.993 111.982 259.973 111.991ZM258.226 123.294V123.303L257.311 122.693V119.976H259.108L258.226 123.294ZM259.973 118.645H257.311V113.322H259.973C260.679 113.322 261.356 113.602 261.855 114.102C262.354 114.601 262.635 115.278 262.635 115.984C262.635 116.689 262.354 117.366 261.855 117.866C261.356 118.365 260.679 118.645 259.973 118.645Z"
				fill="#F7456F"
			/>
			<path d="M437 73.5V316.5" stroke="#666666" stroke-width="1.5" />
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M496.763 148.999C496.763 144.09 492.779 140.104 487.872 140.104H386.891C381.984 140.104 378 144.09 378 148.999V166.792C378 171.706 381.984 175.692 386.891 175.692H487.872C492.779 175.692 496.763 171.706 496.763 166.792V148.999Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="410.083" y="162.66">{{ $t('home.visibilityCap') }}</tspan>
			</text>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M496.763 221.895C496.763 216.986 492.779 213 487.872 213H386.891C381.984 213 378 216.986 378 221.895V239.688C378 244.602 381.984 248.588 386.891 248.588H487.872C492.779 248.588 496.763 244.602 496.763 239.688V221.895Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="403.28" y="235.66">{{ $t('home.donations') }}</tspan>
			</text>
			<path
				d="M368.105 228L372.424 232.427L368 236.748"
				stroke="#6CD8A5"
				stroke-width="1.5"
				stroke-miterlimit="10"
				stroke-linecap="round"
			/>
			<path
				d="M367 232C358.431 231.89 228.626 230.673 182.939 230.441C180.185 230.427 178 228.192 178 225.438V191.5"
				stroke="#6CD8A5"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M201.109 35.6157C202.84 35.6157 204.247 37.0216 204.247 38.7531V193.564C204.247 195.296 202.84 196.702 201.109 196.702H66.8854C65.1552 196.702 63.75 195.296 63.75 193.564V38.7531C63.75 37.021 65.1552 35.6157 66.8854 35.6157H201.109Z"
				fill="var(--bg-1)"
				stroke="#F7456F"
				stroke-width="1.5"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="68.103" y="21.6605">{{ $t('home.nonProfitInvestors') }}</tspan>
			</text>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M192.763 54.8883C192.763 52.74 191.022 51 188.877 51H77.8859C75.7413 51 74 52.74 74 54.8883V82.6996C74 84.843 75.7413 86.5879 77.8859 86.5879H188.877C191.022 86.5879 192.763 84.843 192.763 82.6996V54.8883Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M93.8462 68.6C93.8462 68.7591 93.7813 68.9117 93.6659 69.0243C93.5505 69.1368 93.394 69.2 93.2308 69.2H90.7692C90.606 69.2 90.4495 69.1368 90.3341 69.0243C90.2187 68.9117 90.1538 68.7591 90.1538 68.6C90.1538 68.4409 90.2187 68.2883 90.3341 68.1757C90.4495 68.0632 90.606 68 90.7692 68H93.2308C93.394 68 93.5505 68.0632 93.6659 68.1757C93.7813 68.2883 93.8462 68.4409 93.8462 68.6ZM100 65.6V75.2C100 75.5183 99.8703 75.8235 99.6395 76.0485C99.4087 76.2736 99.0957 76.4 98.7692 76.4H85.2308C84.9043 76.4 84.5913 76.2736 84.3605 76.0485C84.1297 75.8235 84 75.5183 84 75.2V65.6C84 65.2817 84.1297 64.9765 84.3605 64.7515C84.5913 64.5264 84.9043 64.4 85.2308 64.4H88.3077V63.8C88.3077 63.3226 88.5022 62.8648 88.8484 62.5272C89.1946 62.1896 89.6642 62 90.1538 62H93.8462C94.3358 62 94.8054 62.1896 95.1516 62.5272C95.4978 62.8648 95.6923 63.3226 95.6923 63.8V64.4H98.7692C99.0957 64.4 99.4087 64.5264 99.6395 64.7515C99.8703 64.9765 100 65.2817 100 65.6ZM89.5385 64.4H94.4615V63.8C94.4615 63.6409 94.3967 63.4883 94.2813 63.3757C94.1659 63.2632 94.0094 63.2 93.8462 63.2H90.1538C89.9906 63.2 89.8341 63.2632 89.7187 63.3757C89.6033 63.4883 89.5385 63.6409 89.5385 63.8V64.4ZM98.7692 68.7208V65.6H85.2308V68.7208C87.3079 69.8231 89.6351 70.4004 92 70.4C94.3649 70.4004 96.6921 69.8231 98.7692 68.7208Z"
				fill="var(--font-color)"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="110.28" y="73.6605">{{ $t('home.entities') }}</tspan>
			</text>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M200.29 290.888C200.29 288.74 198.549 287 196.404 287H77.8858C75.7412 287 74 288.74 74 290.888V318.7C74 320.843 75.7412 322.588 77.8858 322.588H196.404C198.549 322.588 200.29 320.843 200.29 318.7V290.888Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="85.232" y="309.66">{{ $t('home.designers') }}</tspan>
			</text>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M193.104 101.888C193.104 99.74 191.363 98 189.218 98H78.2264C76.0819 98 74.3406 99.74 74.3406 101.888V129.7C74.3406 131.843 76.0819 133.588 78.2264 133.588H189.218C191.363 133.588 193.104 131.843 193.104 129.7V101.888Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M200.29 334.888C200.29 332.74 198.549 331 196.404 331H77.8858C75.7412 331 74 332.74 74 334.888V362.7C74 364.843 75.7412 366.588 77.8858 366.588H196.404C198.549 366.588 200.29 364.843 200.29 362.7V334.888Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="85.416" y="352.66">{{ $t('home.developers') }}</tspan>
			</text>
			<path
				d="M506.2 162.27L501.829 157.895L506.2 153.521"
				stroke="#F7456F"
				stroke-width="1.5"
				stroke-miterlimit="10"
				stroke-linecap="round"
			/>
			<path
				d="M508 158C547.002 158 567.104 158 599 158"
				stroke="#F7456F"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M192.763 150.888C192.763 148.74 191.022 147 188.877 147H77.8859C75.7413 147 74 148.74 74 150.888V178.7C74 180.843 75.7413 182.588 77.8859 182.588H188.877C191.022 182.588 192.763 180.843 192.763 178.7V150.888Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M335.29 290.888C335.29 288.74 333.549 287 331.404 287H212.886C210.741 287 209 288.74 209 290.888V318.7C209 320.843 210.741 322.588 212.886 322.588H331.404C333.549 322.588 335.29 320.843 335.29 318.7V290.888Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M335.29 334.888C335.29 332.74 333.549 331 331.404 331H212.886C210.741 331 209 332.74 209 334.888V362.7C209 364.843 210.741 366.588 212.886 366.588H331.404C333.549 366.588 335.29 364.843 335.29 362.7V334.888Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="220.102" y="352.66">{{ $t('home.everyone') }}</tspan>
			</text>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M496.763 317.895C496.763 312.986 492.779 309 487.872 309H386.891C381.984 309 378 312.986 378 317.895V335.688C378 340.602 381.984 344.588 386.891 344.588H487.872C492.779 344.588 496.763 340.602 496.763 335.688V317.895Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="407.459" y="331.66">{{ $t('home.organize') }}</tspan>
			</text>
			<path
				d="M437.156 81.3554C456.02 81.3554 471.312 66.0535 471.312 47.1777C471.312 28.3019 456.02 13 437.156 13C418.292 13 403 28.3019 403 47.1777C403 66.0535 418.292 81.3554 437.156 81.3554Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M442.348 47.1768C442.523 43.1869 445.962 40 450.168 40C454.491 40 458 43.3606 458 47.5C458 51.6394 454.491 55 450.168 55C447.015 55 444.292 53.2086 443.053 50.6303C441.335 50.8273 439.436 50.9674 437.5 50.9674C435.564 50.9674 433.662 50.8273 431.947 50.6303C430.705 53.2086 427.985 55 424.829 55C420.506 55 417 51.6394 417 47.5C417 43.3606 420.506 40 424.829 40C429.038 40 432.475 43.1869 432.652 47.1768C434.179 47.3327 435.828 47.4374 437.5 47.4374C439.172 47.4374 440.821 47.3327 442.348 47.1768Z"
				fill="url(#paint0_linear_79_474)"
			/>
			<path
				d="M649.197 302.044H766.516C768.663 302.044 770.401 300.299 770.401 298.155V236"
				stroke="#F7BA37"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M770 290C778.837 290 786 282.837 786 274C786 265.163 778.837 258 770 258C761.163 258 754 265.163 754 274C754 282.837 761.163 290 770 290Z"
				fill="var(--bg-2)"
				stroke="#F7BA37"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M677 352.451H691.646C693.793 352.451 695.532 350.711 695.532 348.562C695.532 343.828 695.532 335.891 695.532 331.157C695.532 329.009 697.271 327.269 699.418 327.269C703.799 327.269 710.313 327.269 710.313 327.269"
				stroke="#F7BA37"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M679 347.749C679 345.128 676.512 343 673.447 343H533.553C530.488 343 528 345.128 528 347.749V357.249C528 359.872 530.488 362 533.553 362H673.447C676.512 362 679 359.872 679 357.249V347.749Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="12"
				letter-spacing="0.01em"
			>
				<tspan x="540.161" y="356.802">{{ $t('home.supportHelp') }}</tspan>
			</text>
			<path
				d="M676.5 327.269C676.5 327.269 824.457 327.269 851.114 327.269C853.261 327.269 855 325.529 855 323.381V137.5C855 135.352 853.261 133.612 851.114 133.612C841.429 133.612 796.519 133.612 796.519 133.612"
				stroke="#F7BA37"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M808.81 23.6626C810.54 23.6626 811.947 25.0672 811.947 26.7992V239.239C811.947 240.971 810.54 242.376 808.81 242.376H595.887C594.154 242.376 592.75 240.972 592.75 239.239V26.7992C592.75 25.0667 594.154 23.6626 595.887 23.6626H808.81Z"
				fill="var(--bg-1)"
				stroke="#6CD8A5"
				stroke-width="1.5"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="628.219" y="9.6605">{{ $t('home.freeSoftwareProjects') }}</tspan>
			</text>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M679 322.749C679 320.128 676.512 318 673.447 318H533.553C530.488 318 528 320.128 528 322.749V332.249C528 334.872 530.488 337 533.553 337H673.447C676.512 337 679 334.872 679 332.249V322.749Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="12"
				letter-spacing="0.01em"
			>
				<tspan x="540.245" y="331.802">{{ $t('home.boostExisting') }}</tspan>
			</text>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M679 297.749C679 295.128 676.512 293 673.447 293H533.553C530.488 293 528 295.128 528 297.749V307.249C528 309.872 530.488 312 533.553 312H673.447C676.512 312 679 309.872 679 307.249V297.749Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="12"
				letter-spacing="0.01em"
			>
				<tspan x="540.076" y="306.802">{{ $t('home.createApplications') }}</tspan>
			</text>
			<path
				d="M855 197C863.837 197 871 189.837 871 181C871 172.163 863.837 165 855 165C846.163 165 839 172.163 839 181C839 189.837 846.163 197 855 197Z"
				fill="var(--bg-2)"
				stroke="#F7BA37"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M862.017 181.149L852.343 191.514C852.24 191.623 852.105 191.696 851.957 191.722C851.81 191.748 851.658 191.725 851.524 191.656C851.391 191.588 851.283 191.478 851.217 191.344C851.152 191.209 851.132 191.056 851.16 190.909L852.427 184.575L847.449 182.706C847.342 182.666 847.247 182.6 847.171 182.515C847.096 182.429 847.043 182.326 847.018 182.214C846.992 182.103 846.994 181.987 847.024 181.877C847.054 181.767 847.111 181.666 847.19 181.583L856.864 171.219C856.966 171.109 857.101 171.036 857.249 171.01C857.397 170.985 857.549 171.008 857.682 171.076C857.816 171.144 857.924 171.254 857.989 171.389C858.055 171.523 858.075 171.676 858.046 171.823L856.776 178.164L861.754 180.03C861.86 180.071 861.955 180.136 862.029 180.222C862.104 180.307 862.157 180.41 862.182 180.52C862.208 180.631 862.206 180.746 862.176 180.856C862.147 180.965 862.091 181.066 862.013 181.149H862.017Z"
				fill="#F7BA37"
			/>
			<path
				d="M855 250C863.837 250 871 242.837 871 234C871 225.163 863.837 218 855 218C846.163 218 839 225.163 839 234C839 242.837 846.163 250 855 250Z"
				fill="var(--bg-2)"
				stroke="#F7BA37"
				stroke-width="1.5"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<path
				d="M863.546 232.862L859.928 235.984L861.03 240.653C861.091 240.907 861.076 241.172 860.985 241.417C860.895 241.662 860.735 241.874 860.524 242.027C860.313 242.181 860.062 242.268 859.801 242.278C859.541 242.289 859.283 242.222 859.061 242.086L855 239.587L850.937 242.086C850.715 242.221 850.458 242.287 850.198 242.277C849.938 242.266 849.687 242.178 849.476 242.025C849.266 241.872 849.106 241.66 849.015 241.416C848.925 241.172 848.909 240.906 848.97 240.653L850.076 235.984L846.458 232.862C846.261 232.692 846.119 232.468 846.049 232.217C845.979 231.967 845.984 231.701 846.064 231.454C846.144 231.206 846.295 230.988 846.498 230.826C846.702 230.664 846.948 230.565 847.207 230.542L851.951 230.16L853.781 225.731C853.88 225.49 854.049 225.283 854.266 225.138C854.482 224.993 854.737 224.915 854.998 224.915C855.259 224.915 855.514 224.993 855.731 225.138C855.947 225.283 856.116 225.49 856.215 225.731L858.044 230.16L862.788 230.542C863.048 230.564 863.295 230.662 863.499 230.824C863.703 230.986 863.855 231.205 863.935 231.452C864.016 231.7 864.021 231.966 863.951 232.217C863.881 232.468 863.739 232.693 863.541 232.863L863.546 232.862Z"
				fill="#F7BA37"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M800.279 42.0626C800.279 39.9143 798.538 38.1743 796.393 38.1743H607.296C605.152 38.1743 603.41 39.9143 603.41 42.0626V69.8739C603.41 72.0174 605.152 73.7622 607.296 73.7622H796.393C798.538 73.7622 800.279 72.0174 800.279 69.8739V42.0626Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="647.41" y="60.6605">{{ $t('home.designLinux') }}</tspan>
			</text>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M800.28 92.8883C800.28 90.74 798.539 89 796.394 89H607.297C605.153 89 603.411 90.74 603.411 92.8883V120.7C603.411 122.843 605.153 124.588 607.297 124.588H796.394C798.539 124.588 800.28 122.843 800.28 120.7V92.8883Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="644" y="111.66">{{ $t('home.carpoolingApp') }}</tspan>
			</text>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M800.276 143.888C800.276 141.74 798.535 140 796.39 140H607.293C605.149 140 603.407 141.74 603.407 143.888V171.7C603.407 173.843 605.149 175.588 607.293 175.588H796.39C798.535 175.588 800.276 173.843 800.276 171.7V143.888Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="644" y="162.66">{{ $t('home.xmppClient') }}</tspan>
			</text>
			<path
				d="M627.544 150.909L628.504 149.949C628.608 149.845 628.667 149.703 628.667 149.556C628.667 149.408 628.608 149.267 628.504 149.163C628.4 149.059 628.258 149 628.111 149C627.963 149 627.822 149.059 627.718 149.163L626.707 150.174C625.663 149.411 624.404 149 623.111 149C621.818 149 620.559 149.411 619.515 150.174L618.504 149.163C618.4 149.059 618.259 149 618.111 149C617.964 149 617.822 149.059 617.718 149.163C617.614 149.267 617.555 149.408 617.555 149.556C617.555 149.703 617.614 149.845 617.718 149.949L618.678 150.909C617.6 152.042 616.999 153.547 617 155.111V157.889C617 159.51 617.644 161.064 618.79 162.21C619.936 163.356 621.49 164 623.111 164C624.732 164 626.286 163.356 627.432 162.21C628.578 161.064 629.222 159.51 629.222 157.889V155.111C629.223 153.547 628.622 152.042 627.544 150.909ZM623.111 150.111C624.437 150.113 625.707 150.64 626.645 151.577C627.582 152.515 628.109 153.786 628.111 155.111V155.667H618.111V155.111C618.113 153.786 618.64 152.515 619.577 151.577C620.514 150.64 621.785 150.113 623.111 150.111ZM624.222 153.722C624.222 153.558 624.271 153.397 624.363 153.259C624.454 153.122 624.584 153.016 624.736 152.953C624.889 152.889 625.056 152.873 625.218 152.905C625.38 152.937 625.528 153.017 625.645 153.133C625.761 153.25 625.841 153.398 625.873 153.56C625.905 153.722 625.888 153.889 625.825 154.041C625.762 154.194 625.655 154.324 625.518 154.415C625.381 154.507 625.22 154.556 625.055 154.556C624.834 154.556 624.622 154.468 624.466 154.312C624.31 154.155 624.222 153.943 624.222 153.722ZM620.333 153.722C620.333 153.558 620.382 153.397 620.474 153.259C620.565 153.122 620.695 153.016 620.848 152.953C621 152.889 621.168 152.873 621.329 152.905C621.491 152.937 621.639 153.017 621.756 153.133C621.872 153.25 621.952 153.398 621.984 153.56C622.016 153.722 622 153.889 621.936 154.041C621.873 154.194 621.767 154.324 621.63 154.415C621.493 154.507 621.331 154.556 621.167 154.556C620.946 154.556 620.734 154.468 620.577 154.312C620.421 154.155 620.333 153.943 620.333 153.722Z"
				fill="var(--font-color)"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M800.278 194.888C800.278 192.74 798.537 191 796.392 191H607.295C605.151 191 603.41 192.74 603.41 194.888V222.7C603.41 224.843 605.151 226.588 607.295 226.588H796.392C798.537 226.588 800.278 224.843 800.278 222.7V194.888Z"
				fill="var(--bg-2)"
				stroke="#979797"
				stroke-miterlimit="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="641.141" y="213.66">{{ $t('home.musicFediverse') }}</tspan>
			</text>
			<path
				d="M95.7333 162.32V161.947C95.7333 160.267 93.2113 159 89.8667 159C86.522 159 84 160.267 84 161.947V164.627C84 166.026 85.75 167.138 88.2667 167.471V167.842C88.2667 169.522 90.7887 170.789 94.1333 170.789C97.478 170.789 100 169.522 100 167.842V165.163C100 163.776 98.3053 162.663 95.7333 162.32ZM87.2 166.159C85.894 165.792 85.0667 165.189 85.0667 164.627V163.684C85.6107 164.071 86.3393 164.384 87.2 164.593V166.159ZM92.5333 164.593C93.394 164.384 94.1227 164.071 94.6667 163.684V164.627C94.6667 165.189 93.8393 165.792 92.5333 166.159V164.593ZM91.4667 169.374C90.1607 169.008 89.3333 168.404 89.3333 167.842V167.563C89.5087 167.569 89.686 167.574 89.8667 167.574C90.1253 167.574 90.378 167.565 90.626 167.551C90.9015 167.65 91.1821 167.734 91.4667 167.803V169.374ZM91.4667 166.385C90.9369 166.464 90.4021 166.503 89.8667 166.502C89.3312 166.503 88.7964 166.464 88.2667 166.385V164.792C88.7972 164.861 89.3317 164.895 89.8667 164.895C90.4017 164.895 90.9361 164.861 91.4667 164.792V166.385ZM95.7333 169.6C94.6723 169.757 93.5943 169.757 92.5333 169.6V168.003C93.0637 168.075 93.5982 168.11 94.1333 168.11C94.6683 168.111 95.2028 168.076 95.7333 168.007V169.6ZM98.9333 167.842C98.9333 168.404 98.106 169.008 96.8 169.374V167.809C97.6607 167.599 98.3893 167.287 98.9333 166.9V167.842Z"
				fill="var(--font-color)"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="110.28" y="169.66">{{ $t('home.patrons') }}</tspan>
			</text>
			<path
				d="M4 249C4 251.209 5.79086 253 8 253C10.2091 253 12 251.209 12 249C12 246.791 10.2091 245 8 245C5.79086 245 4 246.791 4 249ZM40 328.75C40.4142 328.75 40.75 328.414 40.75 328C40.75 327.586 40.4142 327.25 40 327.25V328.75ZM7.25 249V323H8.75V249H7.25ZM13 328.75H40V327.25H13V328.75ZM7.25 323C7.25 326.176 9.82436 328.75 13 328.75V327.25C10.6528 327.25 8.75 325.347 8.75 323H7.25Z"
				fill="#F7BA37"
			/>
			<path
				d="M40.6054 323.5L44.924 328.115L40.5 332.621"
				stroke="#F7BA37"
				stroke-width="1.5"
				stroke-miterlimit="10"
				stroke-linecap="round"
			/>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="220.038" y="309.66">{{ $t('home.experts') }}</tspan>
			</text>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="161.316" y="258.66">{{ $t('home.collaborators') }}</tspan>
			</text>
			<text
				fill="var(--font-color)"
				xml:space="preserve"
				style="white-space: pre"
				font-family="Montserrat"
				font-size="13"
				letter-spacing="0.01em"
			>
				<tspan x="110.28" y="120.66">{{ $t('home.donations') }}</tspan>
			</text>
			<path
				d="M98.7692 112.245H96.0708C96.1008 112.22 96.1315 112.196 96.1608 112.169C96.3944 111.965 96.5827 111.715 96.7138 111.435C96.845 111.156 96.9162 110.853 96.9231 110.545C96.9332 110.208 96.8733 109.873 96.7472 109.56C96.621 109.247 96.4313 108.963 96.1895 108.724C95.9477 108.486 95.6591 108.299 95.3413 108.175C95.0236 108.05 94.6833 107.991 94.3415 108.001C94.029 108.008 93.7212 108.078 93.4374 108.207C93.1536 108.336 92.9 108.522 92.6923 108.752C92.405 109.08 92.1714 109.45 92 109.849C91.8286 109.45 91.595 109.08 91.3077 108.752C91.1 108.522 90.8464 108.336 90.5626 108.207C90.2788 108.078 89.971 108.008 89.6585 108.001C89.3167 107.991 88.9764 108.05 88.6587 108.175C88.3409 108.299 88.0523 108.486 87.8105 108.724C87.5687 108.963 87.379 109.247 87.2528 109.56C87.1267 109.873 87.0668 110.208 87.0769 110.545C87.0838 110.853 87.155 111.156 87.2862 111.435C87.4173 111.715 87.6056 111.965 87.8392 112.169C87.8685 112.194 87.8992 112.218 87.9292 112.245H85.2308C84.9043 112.245 84.5913 112.373 84.3605 112.6C84.1297 112.828 84 113.136 84 113.458V115.883C84 116.204 84.1297 116.513 84.3605 116.74C84.5913 116.967 84.9043 117.095 85.2308 117.095V121.945C85.2308 122.267 85.3604 122.575 85.5913 122.803C85.8221 123.03 86.1351 123.158 86.4615 123.158H91.0769C91.1585 123.158 91.2368 123.126 91.2945 123.069C91.3522 123.012 91.3846 122.935 91.3846 122.855V115.883H85.2308V113.458H91.3846V115.883H92.6154V113.458H98.7692V115.883H92.6154V122.855C92.6154 122.935 92.6478 123.012 92.7055 123.069C92.7632 123.126 92.8415 123.158 92.9231 123.158H97.5385C97.8649 123.158 98.1779 123.03 98.4087 122.803C98.6396 122.575 98.7692 122.267 98.7692 121.945V117.095C99.0957 117.095 99.4087 116.967 99.6395 116.74C99.8703 116.513 100 116.204 100 115.883V113.458C100 113.136 99.8703 112.828 99.6395 112.6C99.4087 112.373 99.0957 112.245 98.7692 112.245ZM88.6546 111.26C88.547 111.164 88.4607 111.047 88.4012 110.916C88.3416 110.786 88.31 110.645 88.3085 110.502C88.3046 110.334 88.3347 110.168 88.397 110.012C88.4593 109.856 88.5526 109.714 88.6713 109.594C88.7901 109.474 88.932 109.378 89.0887 109.313C89.2454 109.248 89.4137 109.214 89.5838 109.214H89.6215C89.7667 109.215 89.91 109.246 90.0423 109.305C90.1747 109.364 90.2933 109.449 90.3908 109.555C91.0362 110.273 91.2638 111.464 91.3438 112.201C90.5931 112.123 89.3846 111.899 88.6546 111.26ZM95.3469 111.26C94.6169 111.896 93.4054 112.121 92.6546 112.2C92.7462 111.403 93 110.237 93.6154 109.555C93.7128 109.449 93.8315 109.364 93.9638 109.306C94.0962 109.247 94.2395 109.216 94.3846 109.214H94.4223C94.5924 109.215 94.7606 109.25 94.9171 109.316C95.0735 109.382 95.215 109.478 95.3333 109.598C95.4516 109.719 95.5442 109.861 95.6059 110.017C95.6675 110.174 95.6969 110.34 95.6923 110.508C95.6898 110.65 95.6577 110.79 95.598 110.919C95.5384 111.049 95.4524 111.165 95.3454 111.26H95.3469Z"
				fill="var(--font-color)"
			/>
			<path
				d="M768.006 279.324C767.6 280.212 766.246 282.282 762.439 282.282C762.248 282.282 762.065 282.206 761.93 282.071C761.795 281.936 761.719 281.753 761.719 281.562C761.719 277.755 763.789 276.401 764.677 275.995C764.763 275.956 764.856 275.934 764.95 275.93C765.045 275.927 765.139 275.942 765.228 275.975C765.316 276.009 765.397 276.059 765.467 276.123C765.536 276.188 765.592 276.265 765.631 276.351C765.67 276.437 765.692 276.53 765.695 276.625C765.699 276.719 765.683 276.814 765.65 276.902C765.617 276.991 765.567 277.072 765.502 277.141C765.438 277.21 765.36 277.266 765.274 277.305C764.696 277.569 763.418 278.418 763.193 280.807C765.583 280.582 766.434 279.305 766.696 278.727C766.735 278.64 766.791 278.563 766.86 278.499C766.929 278.434 767.01 278.384 767.099 278.351C767.187 278.318 767.282 278.302 767.376 278.306C767.471 278.309 767.564 278.331 767.65 278.37C767.736 278.409 767.813 278.465 767.878 278.534C767.942 278.604 767.992 278.685 768.025 278.773C768.059 278.862 768.074 278.956 768.071 279.051C768.067 279.145 768.045 279.238 768.006 279.324ZM778.987 266.363C778.965 266.012 778.816 265.681 778.568 265.432C778.319 265.184 777.988 265.035 777.637 265.013C776.504 264.946 773.611 265.049 771.21 267.45L766.759 271.904C766.693 271.971 766.613 272.024 766.526 272.06C766.439 272.097 766.345 272.115 766.25 272.116C766.059 272.116 765.876 272.04 765.741 271.905C765.605 271.77 765.529 271.587 765.529 271.396C765.529 271.205 765.605 271.021 765.74 270.886L768.13 268.495C768.18 268.444 768.214 268.38 768.228 268.311C768.242 268.241 768.235 268.169 768.208 268.103C768.181 268.038 768.135 267.982 768.076 267.942C768.017 267.902 767.947 267.881 767.876 267.881H765.531C765.341 267.88 765.153 267.917 764.978 267.989C764.802 268.061 764.643 268.168 764.509 268.302L761.422 271.391C761.233 271.58 761.1 271.818 761.038 272.079C760.977 272.34 760.989 272.612 761.074 272.866C761.159 273.12 761.313 273.345 761.518 273.516C761.724 273.688 761.973 273.798 762.238 273.836L765.701 274.319L769.68 278.298L770.163 281.762C770.201 282.027 770.311 282.277 770.483 282.482C770.654 282.688 770.88 282.841 771.134 282.925C771.282 282.975 771.437 283 771.593 283C771.782 283 771.969 282.963 772.143 282.891C772.318 282.819 772.476 282.713 772.61 282.579L775.699 279.492C775.833 279.357 775.939 279.198 776.011 279.023C776.084 278.847 776.121 278.66 776.12 278.47V276.124C776.12 276.053 776.099 275.984 776.059 275.925C776.019 275.866 775.963 275.819 775.897 275.792C775.832 275.765 775.759 275.758 775.689 275.772C775.62 275.786 775.556 275.82 775.505 275.871L773.114 278.261C773.044 278.331 772.96 278.386 772.868 278.422C772.776 278.459 772.678 278.475 772.579 278.472C772.48 278.468 772.383 278.444 772.293 278.402C772.204 278.359 772.125 278.298 772.06 278.223C771.942 278.081 771.882 277.898 771.892 277.713C771.902 277.528 771.981 277.354 772.114 277.224L776.548 272.79C778.951 270.388 779.054 267.495 778.987 266.362V266.363Z"
				fill="#F7BA37"
			/>
			<path
				d="M628.974 203.711L623.349 202.024C623.265 201.999 623.177 201.993 623.09 202.008C623.004 202.024 622.922 202.059 622.852 202.111C622.781 202.163 622.724 202.232 622.685 202.31C622.646 202.388 622.625 202.475 622.625 202.562V210.174C622.049 209.659 621.313 209.357 620.542 209.319C619.77 209.281 619.008 209.509 618.384 209.965C617.76 210.421 617.311 211.077 617.113 211.824C616.915 212.571 616.979 213.364 617.295 214.069C617.61 214.774 618.159 215.35 618.848 215.7C619.537 216.049 620.326 216.152 621.081 215.99C621.837 215.828 622.514 215.412 623 214.811C623.486 214.21 623.751 213.46 623.75 212.687V206.693L628.651 208.163C628.735 208.189 628.823 208.194 628.91 208.179C628.996 208.164 629.078 208.128 629.148 208.076C629.219 208.024 629.276 207.956 629.315 207.877C629.354 207.799 629.375 207.713 629.375 207.625V204.25C629.375 204.129 629.336 204.011 629.264 203.914C629.192 203.817 629.09 203.746 628.974 203.711Z"
				fill="var(--font-color)"
			/>
			<path
				d="M628.938 49H618.812C618.067 49 617.351 49.2963 616.824 49.8238C616.296 50.3512 616 51.0666 616 51.8125V56.875C616 57.3226 616.178 57.7518 616.494 58.0682C616.811 58.3847 617.24 58.5625 617.688 58.5625H621.062L620.508 61.844C620.503 61.8749 620.5 61.9062 620.5 61.9375C620.5 62.5342 620.737 63.1065 621.159 63.5285C621.581 63.9504 622.153 64.1875 622.75 64.1875C623.347 64.1875 623.919 63.9504 624.341 63.5285C624.763 63.1065 625 62.5342 625 61.9375C625 61.9062 624.997 61.8749 624.992 61.844L624.438 58.5625H627.812C628.26 58.5625 628.689 58.3847 629.006 58.0682C629.322 57.7518 629.5 57.3226 629.5 56.875V49.5625C629.5 49.4133 629.441 49.2702 629.335 49.1648C629.23 49.0593 629.087 49 628.938 49ZM618.812 50.125H626.125V52.9375C626.125 53.0867 626.184 53.2298 626.29 53.3352C626.395 53.4407 626.538 53.5 626.688 53.5C626.837 53.5 626.98 53.4407 627.085 53.3352C627.191 53.2298 627.25 53.0867 627.25 52.9375V50.125H628.375V55.1875H617.125V51.8125C617.125 51.3649 617.303 50.9357 617.619 50.6193C617.936 50.3028 618.365 50.125 618.812 50.125Z"
				fill="var(--font-color)"
			/>
			<path
				d="M630 105.046H628.207L625.5 102.298C625.407 102.203 625.297 102.128 625.176 102.077C625.055 102.026 624.924 102 624.793 102H617.767C617.603 102 617.442 102.042 617.297 102.121C617.152 102.199 617.029 102.313 616.938 102.452L615.084 105.272C615.029 105.356 615 105.454 615 105.554V108.6C615 108.87 615.105 109.128 615.293 109.318C615.48 109.509 615.735 109.616 616 109.616H617.062C617.173 110.053 617.423 110.44 617.774 110.716C618.124 110.993 618.556 111.143 619 111.143C619.444 111.143 619.876 110.993 620.226 110.716C620.577 110.44 620.827 110.053 620.938 109.616H625.062C625.173 110.053 625.423 110.44 625.774 110.716C626.124 110.993 626.556 111.143 627 111.143C627.444 111.143 627.876 110.993 628.226 110.716C628.577 110.44 628.827 110.053 628.938 109.616H630C630.265 109.616 630.52 109.509 630.707 109.318C630.895 109.128 631 108.87 631 108.6V106.062C631 105.792 630.895 105.534 630.707 105.344C630.52 105.153 630.265 105.046 630 105.046ZM617.767 103.015H624.793L626.793 105.046H616.438L617.767 103.015ZM619 110.123C618.802 110.123 618.609 110.064 618.444 109.952C618.28 109.841 618.152 109.682 618.076 109.497C618 109.311 617.981 109.107 618.019 108.91C618.058 108.713 618.153 108.532 618.293 108.39C618.433 108.248 618.611 108.151 618.805 108.112C618.999 108.073 619.2 108.093 619.383 108.17C619.565 108.247 619.722 108.377 619.831 108.544C619.941 108.711 620 108.907 620 109.108C620 109.377 619.895 109.636 619.707 109.826C619.52 110.016 619.265 110.123 619 110.123ZM627 110.123C626.802 110.123 626.609 110.064 626.444 109.952C626.28 109.841 626.152 109.682 626.076 109.497C626 109.311 625.981 109.107 626.019 108.91C626.058 108.713 626.153 108.532 626.293 108.39C626.433 108.248 626.611 108.151 626.805 108.112C626.999 108.073 627.2 108.093 627.383 108.17C627.565 108.247 627.722 108.377 627.831 108.544C627.941 108.711 628 108.907 628 109.108C628 109.377 627.895 109.636 627.707 109.826C627.52 110.016 627.265 110.123 627 110.123Z"
				fill="var(--font-color)"
			/>
		</g>
		<defs>
			<linearGradient
				id="paint0_linear_79_474"
				x1="458"
				y1="40"
				x2="417.029"
				y2="55.0839"
				gradientUnits="userSpaceOnUse"
			>
				<stop stop-color="#F73676" />
				<stop offset="0.49" stop-color="#F7BB36" />
				<stop offset="1" stop-color="#3AE3CC" />
			</linearGradient>
			<clipPath id="clip0_79_474">
				<rect width="874" height="383" fill="var(--font-color)" />
			</clipPath>
		</defs>
	</svg>
</template>
