<script setup lang="ts">
export interface Props {
	label: string
	url: string
}

const props = defineProps<Props>()
</script>

<template>
	<a class="btn btn-website" :href="props.url">
		<Icon class="icon" name="ph:globe" />
		{{ props.label }}
	</a>
</template>

<style scoped lang="sass">
.btn-website
	font-size: 13px
	display: flex
	align-items: center
	// background: var(--secondary-bg-2)
	border-bottom: solid 1px var(--secondary-dark)
	padding: $sp-xxxl $sp-xxs
	gap: $sp-xxs
	// border-radius: $border-r
	color: var(--font-color)
	cursor: pointer
	user-select: none
	transition: all 0.1s ease-in-out
	text-decoration: none

	.icon
		width: 20px
		height: 20px
		color: var(--secondary-dark)

	&:hover

	&:active
		transition: none
		transform: translateY(1px)
		border-bottom-width: 1px
		box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0)
</style>
