<script setup lang="ts">
interface IMobileFiltersProps {
	badges: BadgeType[]
	platforms: PlatformAPI[]
	activePlatforms: PlatformTypeRaw[]
	activeBadges: BadgeType[]
	closeDrawer: () => void
}
const props = defineProps<IMobileFiltersProps>()

const emit = defineEmits(['filterClick', 'cancelClick', 'platformToggle', 'badgeToggle'])
</script>

<template>
	<div class="filters-mobile-wrapper">
		<div class="title">Platforms</div>
		<div class="platforms-list">
			<div class="scroll-wrapper">
				<PlatformCheckbox
					v-for="platform in props.platforms"
					:key="platform.type"
					:type="platform.type"
					screen="drawer"
					:toggle="(type) => emit('platformToggle', type)"
					:is-active="activePlatforms.includes(platform.type)"
				/>
			</div>
		</div>
		<div class="title">Badges</div>
		<div class="badges-list">
			<div class="scroll-wrapper">
				<BadgeCheckbox
					v-for="badge in props.badges"
					:key="badge"
					:type="badge"
					screen="drawer"
					:toggle="(type) => emit('badgeToggle', type)"
					:is-active="activeBadges.includes(badge)"
				/>
			</div>
		</div>

		<div class="actions">
			<button type="button" @click="emit('cancelClick')">Cancel</button>
			<button class="filter-btn" type="button" @click="emit('filterClick')">Filter</button>
		</div>
	</div>
</template>

<style scoped lang="sass">
.filters-mobile-wrapper
	overflow-y: auto
	height: 100%
	background: var(--bg-2)
	border-radius: 20px 20px 0 0
	box-shadow: var(--box-shadow-inset)
	padding-top: $sp-xs
	padding-bottom: $sp-xl

	.title
		font-size: toRem(16)
		font-weight: 600
		padding: $sp-s $sp-s $sp-xxs 40px

	.scroll-wrapper
		display: flex
		flex-wrap: wrap
		gap: 12px
		width: 700px
		min-width: 100%
		padding: $sp-xs $sp-s
		border-top: solid 1px var(--primary-soft)
		background: var(--bg-1)
		box-shadow: var(--box-shadow-inset)

		label
			transition: all 0.2s ease-in-out

	.platforms-list
		width: 100%
		overflow-x: auto

	.badges-list
		display: block
		width: 100%
		overflow-x: auto
		box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2)

		.scroll-wrapper
			flex-wrap: nowrap
			width: fit-content
			min-width: 100vw

	.actions
		display: flex
		justify-content: center
		position: absolute
		bottom: 0
		padding: $sp-xxs
		width: 100vw
		gap: $sp-xxs
		background: var(--bg-2)
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2)

		button
			width: 100%
			max-width: 240px
			padding: 12px
			font-size: toRem(17)
			font-weight: 500
			border-color: var(--primary-soft)

		.filter-btn
			background: var(--secondary-bg-2)
			border-color: var(--secondary)
			flex-basis: 200%
			max-width: 360px

// Yellow and more
@media screen and (min-width: $laptop)
	.filters-mobile
		display: none
</style>
