<script setup lang="ts">
import FiltersDrawer from './FiltersDrawer.vue'
const projectsStore = useProjectsStore()

const applyFiltersFromStore = () => {
	activeBadges.value = projectsStore.params.badges
	activePlatforms.value = projectsStore.params.platforms
}

const drawerOpen = ref<boolean>(false)

const activePlatforms = ref<PlatformTypeRaw[]>([])
const activeBadges = ref<BadgeType[]>([])

const openDrawer = () => {
	document.body.style.overflow = 'hidden'
	applyFiltersFromStore()
	drawerOpen.value = true
}

const closeDrawer = () => {
	document.body.style.overflow = 'auto'
	drawerOpen.value = false
}

const applyFilters = () => {
	projectsStore.applyFilters({
		activePlatforms: activePlatforms.value,
		activeBadges: activeBadges.value
	})
	closeDrawer()
}

const platformToggle = (type: PlatformTypeRaw) => {
	if (activePlatforms.value.includes(type)) {
		const without = activePlatforms.value.filter((val) => val !== type)
		activePlatforms.value = without
	} else {
		activePlatforms.value = [...activePlatforms.value, type]
	}
}

const badgeToggle = (type: BadgeType) => {
	if (activeBadges.value.includes(type)) {
		const without = activeBadges.value.filter((val) => val !== type)
		activeBadges.value = without
	} else {
		activeBadges.value = [...activeBadges.value, type]
	}
}
</script>
<template>
	<div class="filters-mobile" :class="{ open: drawerOpen }">
		<div class="close-background" @click="closeDrawer" @keyPress="closeDrawer" />
		<div class="filters-drawer">
			<div class="drawer">
				<FiltersDrawer
					:badges="projectsStore.badges"
					:platforms="projectsStore.platforms"
					:closeDrawer="closeDrawer"
					:activePlatforms
					:active-badges
					@filterClick="applyFilters"
					@cancelClick="closeDrawer"
					@platformToggle="platformToggle"
					@badgeToggle="badgeToggle"
				/>
			</div>
		</div>
	</div>
	<div class="filters-btn" @click="openDrawer" @keyPress="openDrawer">
		<Icon class="icon" name="ph:sliders" />
	</div>
</template>

<style lang="sass" scoped>
.filters-btn
	position: fixed
	bottom: $sp-s
	right: $sp-s
	border-radius: 50%
	background: var(--font-color)
	width: $sp-l
	height: $sp-l
	z-index: 81
	display: flex
	align-items: center
	justify-content: center
	box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1)

	.icon
		width: $sp-m
		height: $sp-m
		color: var(--bg)

.filters-mobile
	position: absolute

	&.open
		.filters-drawer
			transform: translateY(0vh)
		.close-background
			display: block

// Green, Blue and Yellow
@media screen and (max-width: $desktop)
	.filters-drawer
		transform: translateY(100vh)
		position: fixed
		left: 0
		bottom: 0
		width: 100vw
		height: 72vh
		transition: all .3s ease-in-out
		z-index: 160

		.drawer
			border-radius: 20px 20px 0 0
			background: var(--primary-soft)
			width: 100%
			height: 100%
			position: relative
			overflow: hidden
			padding-top: $sp-xxs

		.close
			position: absolute
			top: $sp-xs
			right: $sp-s
			svg
				width: $sp-s
				height: $sp-s

// Red and more
@media screen and (min-width: $desktop)
	.filters-mobile
		display: none
</style>
