@use "sass/vars" as *
@use "sass/_mixins" as *
@use "sass/helpers" as *
@use "sass/layout" as *

html
	font-family: $f-montserrat
	background-size: 224px
	position: relative
	scroll-behavior: smooth

body
	line-height: 1
	background: var(--bg)
	min-width: $mobile_raw * 1px
	+simple-font

h1, h2, h3
	color: var(--font-color)
	font-family: $f-montserrat
	margin-bottom: 72px
	line-height: 1.3

h1
	text-align: center
	+responsive-font(28, 34, 50, 50)
h2
	+responsive-font(20, 28, 42, 48)

p
	line-height: 1.3
	+simple-font
	+responsive-font(14, 15, 16, 16)

img, svg, picture
	display: block

svg
	color: var(--font-color)

button
	border: solid 1px var(--primary)
	border-bottom-width: $sp-xxxs
	border-radius: $border-r
	padding: $sp-xxs $sp-s
	font-size: toRem(20)
	line-height: 1
	color: var(--font-color)
	background: var(--bg-2)
	font-family: $f-montserrat
	cursor: pointer
	+responsive-font(16, 18 ,20, 20)

a
	font-size: 1em
	color: var(--font-color)
	text-decoration-color: var(--primary)
	text-underline-offset: 6px

ul
	list-style-type: none

input:focus
	outline: none

input
	border: none
	background: transparent
	color: var(--font-color)

input[type=checkbox], input[type=radio]
	visibility: hidden

hr
	border: none
	border-top: solid 1px var(--soft-font-color)
