@use "sass:math"
@use "sass:map"
@use "sass/layout"
@use "sass/mixins"

.container
	width: 100vw
	display: flex
	row-gap: 8px

	.row
		width: 100%
		display: flex
		flex-wrap: wrap
		padding: layout.$space-x + px

		& div:last-child
			margin-right: 0

+mixins.generate-columns(layout.$col-num, layout.$gap)
.mr-0
	margin-right: 0

@each $key, $val in layout.$screens
	$space-x: map.get(layout.$screen-space-x, $key)
	$gap: map.get(layout.$screen-gap, $key)
	$col-num: map.get(layout.$screen-col-num, $key)
	@if $key != "mobile"
		@media screen and ( min-width: $val + px)
			.container
				padding: $space-x + px

				&:last-child
					margin-right: 0
			+mixins.generate-columns(4, $gap)
			+mixins.generate-columns($col-num, $gap)

@each $key, $val in layout.$screens
	@if $key != "mobile"
		@media screen and ( min-width: $val + px)
			.#{$key}-mr-0
				margin-right: 0

.flex-center
	display: flex
	justify-content: center
	align-items: center
	padding-inline: var(--space-x)

$screen-flex-items: ("mobile": 1, "tablet": 2, "laptop": 3, "desktop": 4, "ultrawide": 5)

$gap: map.get(layout.$screen-gap, "mobile")

.flex-container
	display: flex
	flex-wrap: wrap
	gap: $gap + px

.flex-item
	width: 100%

@each $key, $val in layout.$screens
	$gap: map.get(layout.$screen-gap, $key)
	$num: map.get($screen-flex-items, $key)
	@if $key != "mobile"
		@media screen and ( min-width: $val + px)
			.flex-container
				gap: $gap + px
			.flex-item
				width: calc( 100% / $num - #{math.div($gap * ($num - 1), $num)}px )
