@use "sass/vars" as *
@use "sass/layout" as *
@use "sass/_helpers" as *

.wrap
	flex-wrap: wrap

.flex-center
	display: flex
	justify-content: center
	align-items: center

.sun-svg,
.light-mode .moon-svg
	display: none !important

.moon-svg,
.light-mode .sun-svg
	display: block !important

.search-results
	display: none
	position: absolute
	top: 34px
	left: 50%
	transform: translateX(-50%)
	padding: $sp-xxxs
	background: var(--bg-2)
	width: 110%
	border: var(--border-light)
	border-radius: $border-r
	z-index: 32
	font-size: toRem(14)

	&.open
		display: block

	.results-list
		display: flex
		flex-direction: column
		align-items: flex-start
		gap: $sp-xxs

	button
		color: var(--font-color)
		font-size: toRem(14)
		width: 100%

		&:hover
			background: var(--bg-1)

	.empty-search
		padding: 15px $sp-xs

.list
	display: flex
	align-items: center
	gap: $sp-xs

// Yellow and more
@media screen and (min-width: $laptop)
	a
		transition: all 0.2s ease-in-out

		&:hover
			color: var(--primary-active)
			text-underline-offset: $sp-xxxs

// Green, Blue and Yellow
@media screen and (max-width: $desktop)

	.close-background
		background: rgba(0, 0, 0, 0.4)
		backdrop-filter: blur(2px)
		position: fixed
		opacity: 0
		inset: 0
		transition: all .2s ease-in-out
		transition-delay: .2s
		animation: fadeIn .3s forwards
		display: none
		z-index: 110

// Yellow and more
@media screen and (min-width: $laptop)
	.page
		padding: 160px 40px
