@use "./sass/mixins" as m

+m.newProp('primary', #979797)
+m.newProp('primary-text', #ccc)
+m.newProp('primary-soft', #696969)
+m.newProp('primary-dark', black)
+m.newProp('primary-active', white)
+m.newProp('primary-font-color', #363636)

+m.newProp('grey', #797979)
+m.newProp('white', #d1d1d1)
+m.newProp('green', #6cd8a5)
+m.newProp('green-active', #6cd8a5)
+m.newProp('green-font', #cff3e2)
+m.newProp('green-bg', #2a312e)
+m.newProp('green-bg-2', #44514b)
+m.newProp('green-dark', #458466)
+m.newProp('red', #f7456f)
+m.newProp('red-bg', #352d2f)
+m.newProp('red-dark', #84454c)

+m.newProp('secondary', #629eef)
+m.newProp('secondary-dark', #8d9fc3)
+m.newProp('secondary-bg', #223246)
+m.newProp('secondary-bg-2', #333845)

+m.newProp('yellow', #f7ba37)
+m.newProp('purple', #4617c7)
+m.newProp('yellow-bg', #413c32)

:root
	--veenk-gradient: linear-gradient(45deg, rgba(108, 216, 165, 1) 0%, rgba(247, 186, 55, 1) 50%,rgba(247, 69, 111, 1) 100%)
	--veenk-gradient-diagonal: linear-gradient(120deg,rgba(108, 216, 165, 1) 0%,rgba(247, 186, 55, 1) 50%,rgba(247, 69, 111, 1) 100%)
	--max-width: 1360px
	--box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3)
	--box-shadow-center: 0px 0px 8px 0px rgba(0, 0, 0, 0.3)
	--box-shadow-inset: inset 0px 0px 6px rgba(0, 0, 0, 0.7)
	--box-shadow-inset-light: inset 0 0 8px 0 rgba(255, 255, 255, 0.2)

	--text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
	--color-accent: #6cd8a5
	/* --bg-transition: background .3s ease-in-out; */
	--border-light: solid 1px var(--primary)

	--active: var(--veenk-gradient)
	--svg-active: url(#veenk-gradient)

	--bg-0: #252525
	--bg: #2c2c2c
	--bg-1: #383838
	--bg-2: #454545
	--font-color: #d1d1d1
	--soft-font-color: #9e9e9e
	--black: #666666
	--font-color-for-black: white

	--blur-gradient: linear-gradient(rgba(69, 69, 69, 0) 0%, rgb(69, 69, 69) 100%)

	--dark: #2c2c2c
	--light: #cacaca

	--gray-orange: var(--bg-2)

	--text-max-length: 640px

	.display-img
		filter: brightness(0.9)

.light-mode
	--primary: #ff8d60
	--primary-text: #ff8d60
	--primary-soft: #FFB887
	--primary-light: #FFE9D6
	--primary-dark: #874C23
	--primary-active: #ff8331
	--white: white

	--active: var(--primary)
	--svg-active: var(--primary)

	--bg-0: #ffeee6

	--bg: #fff5f0
	--bg-1: #FFE9D6
	--bg-2: white

	--font-color: #575757
	--soft-font-color: #8a8a8a
	--primary-font-color: #fff5f0

	--grey: #b8b8b8

	--yellow-bg: rgb(255, 253, 236)
	--red-bg: rgb(255, 238, 242)
	--red-dark: var(--red)

	--secondary: #629eef
	--secondary-dark: #89b6f0
	--secondary-bg: #629eef
	--secondary-bg-2: #e8efff

	--green-active: #2cc27c
	--green-bg: #e1f8ee
	--green-bg-2: #f3fffa
	--green-font: #45a87a

	--black: #595959

	--box-shadow: 0px 2px 14px 0px rgba(255, 184, 135, 0.4)
	--box-shadow-center: 0px 0px 14px 0px rgba(255, 184, 135, 0.3)
	--box-shadow-inset: inset 0px 0px 8px rgba(255, 184, 135, 0.5)
	--box-shadow-inset-light: none
	--text-shadow: 0px 2px 4px rgba(255, 141, 96, 0.4)

	--blur-gradient: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%)

	--dark: #ff8d60
	--light: white
	--border-light: solid 1px var(--primary)

	--gray-orange: var(--primary)

	.display-img
		filter: brightness(1)
