<script setup lang="ts">
import { badges } from '~/constants/tags'

const { type, design = 'simple' } = defineProps<{ type: BadgeType; design?: 'box' | 'simple' }>()
</script>

<template>
	<div class="badge" :class="{ box: design === 'box' }">
		<Icon class="icon" :name="badges[type].icon" />
		<span>{{ $t(`badges.${type}`) }}</span>
	</div>
</template>

<style scoped lang="sass">
.badge
	color: white
	font-weight: 500
	display: flex
	align-items: center
	font-size: 13px
	letter-spacing: 0
	display: flex
	gap: 6px

	&.box
		padding: $sp-xxxs 10px
		border-radius: 20px
		border: 1px solid var(--green)
		background: var(--green-bg-2)

	.icon
		color: var(--green)
		width: 20px
		height: 20px

	span
		color: var(--green-font)
		font-weight: 400

.platform
	display: flex
	padding: 2px $sp-xxs
	justify-content: center
	align-items: center
	gap: $sp-xxs
	border-radius: 3px
	background: var(--dark)
	color: var(--light)
	font-size: 13px
	font-weight: 500

	span
		margin-top: 2px

	.icon
		width: 18px
		height: 18px
		color: var(--light)

.platform-btn
	border: none
	border-radius: $border-r
	width: 40px
	height: 40px
	padding: 1px
	padding-bottom: 3px
	background: var(--soft-font-color)
	cursor: pointer
	transition: all 0.2s ease-in-out
	opacity: .7

	.border-gradient
		height: 100%
		width: 100%
		background: var(--bg-2)
		border-radius: $border-r
		display: flex
		justify-content: center
		align-items: center
		transition: all 0.2s ease-in-out

	.icon
		color: var(--soft-font-color)
		width: $sp-s
		height: $sp-s
		transition: all 0.2s ease-in-out

	&:hover
		background: var(--primary-soft)
		opacity: 1

		.icon
			color: var(--primary-soft)

	&.gradient
		// background: var(--veenk-gradient)
		background: var(--active)
		cursor: initial
		opacity: 1

		.icon
			// fill: url(#veenk-gradient)
			fill: var(--svg-active)

	&.multiple
		width: fit-content

		.border-gradient
			padding: $sp-xxxs $sp-xxs
			display: flex
			gap: $sp-xxs

		.icon
			height: 100%

.donation-circle
	display: flex
	width: 40px
	height: 40px
	justify-content: center
	align-items: center
	padding: 1px
	gap: $sp-xxs
	font-size: toRem(13)
	font-weight: 400
	line-height: normal
	border-radius: 50%
	background: var(--primary)
	cursor: pointer

	.icon
		width: 22px
		height: 22px
		fill: var(--font-color)
		flex-shrink: 0

	.border-gradient
		background: var(--bg)
		border-radius: 50%
		height: 100%
		width: 100%
		display: flex
		justify-content: center
		align-items: center

	&.gradient
		background: var(--veenk-gradient)
		.icon
			fill: url(#veenk-gradient)

	&:hover
		background: var(--bg-2)
		color: var(--bg-1)
		.border-gradient
			background: var(--primary-active)
		.icon
			fill: var(--bg-1)
			color: var(--bg-1)
</style>
