<script setup lang="ts">
import { badges } from '~/constants/tags'

interface BadgeCheckboxProps {
	type: BadgeType
	isActive: boolean
	screen: 'sidebar' | 'drawer'
	toggle: (type: BadgeType) => void
}

const { type, isActive, screen, toggle } = defineProps<BadgeCheckboxProps>()
</script>

<template>
	<div class="badge-checkbox">
		<input type="checkbox" :id="`checkbox-${type}-${screen}`" :checked="isActive" @change="toggle(type)" />
		<label class="badge" :for="`checkbox-${type}-${screen}`">
			<Icon class="icon" :name="badges[type].icon" />
			<span>{{ $t(`badges.${type}`) }}</span>
		</label>
	</div>
</template>

<style scoped lang="sass">
.badge
	color: white
	font-weight: 500
	display: flex
	align-items: center
	font-size: 13px
	letter-spacing: 0
	display: flex
	gap: 6px

	&.box
		padding: $sp-xxxs 10px
		border-radius: 20px
		border: 1px solid var(--green)
		background: var(--green-bg-2)

	.icon
		width: 20px
		height: 20px
		color: var(--light)


.badge-checkbox
	input
		position: absolute

	label
		position: relative
		padding: $sp-xxs $sp-xs
		padding-left: 40px
		background: var(--bg)
		border: solid 1px var(--grey)
		color: var(--soft-font-color)
		border-radius: 3px
		user-select: none
		cursor: pointer

		span
			white-space: nowrap

		.icon, span
			color: var(--soft-font-color)

		&::before
			position: absolute
			content: ''
			top: 50%
			transform: translateY(-50%)
			left: $sp-xs
			width: 12px
			height: 12px
			background: var(--bg)
			border-radius: 3px
			border: solid 1px var(--soft-font-color)

	input[type=checkbox]:checked + label
		color: var(--font-color)
		background: var(--secondary-bg-2)
		border-color: var(--secondary)

		.icon
			color: var(--font-color)

		&::before
			background: var(--secondary)
			border-color: var(--secondary)
</style>
