<script setup lang="ts">
interface ISearchBtnProps {
	img?: string
	name: string
}
const props = defineProps<ISearchBtnProps>()

const emit = defineEmits(['click'])
</script>

<template>
	<button class="alternative-item alternative-btn" type="button" @click="emit('click')">
		<img :src="props.img" :alt="`Small square logo of ${props.name}`" />
		<span>{{ props.name }}</span>
	</button>
</template>

<style scoped lang="sass"></style>
