<script setup lang="ts">
const props = defineProps<{
	placeholder: string
	modelValue: string
}>()

const emit = defineEmits(['update:modelValue'])

const updateValue = (event: Event) => {
	const target = event.target as HTMLInputElement
	emit('update:modelValue', target.value)
}
</script>

<template>
	<div class="search-input">
		<Icon class="icon" name="ph:magnifying-glass" />
		<input type="text" :placeholder="props.placeholder" :value="modelValue" @input="updateValue" />
	</div>
</template>

<style scoped lang="sass">
.search-input
	width: 100%
	display: flex
	position: relative
	padding: $sp-xxs $sp-xs
	align-self: center
	position: relative
	gap: $sp-xs
	align-items: center
	border: solid 1px var(--primary-soft)
	border-radius: $border-r
	margin: auto
	background: var(--bg-2)

	input
		font-size: toRem(16)
		width: 100%

	.icon
		min-width: $sp-s
		height: $sp-s
		color: var(--font-color)
</style>
