<script setup lang="ts">
const { locale } = useI18n()
</script>

<template>
	<Html :lang="locale">
		<HeaderBar />
		<slot />
		<svg width="0" height="0">
			<defs>
				<linearGradient id="veenk-gradient" x1="1" y1="8" x2="22.5" y2="0.5" gradientUnits="userSpaceOnUse">
					<stop stop-color="#6CD8A5"></stop>
					<stop offset="0.48084" stop-color="#F7BA37"></stop>
					<stop offset="1" stop-color="#F7456F"></stop>
				</linearGradient>
			</defs>
		</svg>
		<Footer />
	</Html>
</template>
