<script setup lang="ts">
const projectQuery = useRoute().query.project
const projectSlug = projectQuery ? (projectQuery as string) : null
</script>

<template>
	<main class="donate-page page">
		<div class="widget-wrapper">
			<FinancesWidgetManager />
		</div>
		<h1>{{ $t('donatePage.weHelpYou') }}</h1>
		<DonateManager :project-slug="projectSlug" />
		<!-- <ProjectsCarrouselManager type="closeToGoal" /> -->
	</main>
</template>

<style scoped lang="sass">
.donate-page
	position: relative

	h1
		margin: auto

	.widget-wrapper
		position: absolute
		top: 82px
		right: $sp-m

// Green and Blue
@media screen and (max-width: $laptop)
	.donate-page
		padding: 160px 0

		h1
			max-width: 90vw

		.widget-wrapper
			display: none

// Yellow
@media screen and (min-width: $laptop) and (max-width: $desktop)
	.donate-page
		padding-left: 40px
		padding-right: 40px
		padding-bottom: $sp-xxl

		h1
			max-width: 580px

// Yellow and more
@media screen and (min-width: $laptop)
	.donate-page
		padding-left: 40px
		padding-right: 40px
		padding-bottom: $sp-xxl

		h1
			max-width: 580px
</style>
