<script setup lang="ts">
import { useNewsStore } from '~/stores/news'
const { news, setNews } = useNewsStore()

const headers = new Headers()
headers.set('Content-Type', 'application/json')
headers.set('secure-veenk-origin', 'true')

const { data } = await useFetch<New[]>('http://localhost:3000/news', {
	headers: headers
})

if (data.value) setNews(data.value)

onMounted(() => {
	const height = window.innerHeight
	const isMobile = window.innerWidth < 768

	const el = document.getElementById('heroSection')
	if (el && isMobile) {
		el.style.height = height - 330 + 'px'
	}

	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			const words = entry.target.querySelectorAll('.animate-word')

			if (!words) return
			words.forEach((word) => {
				if (entry.isIntersecting) {
					word.classList.add('glow-up-animation')
					return
				}

				word.classList.remove('glow-up-animation')
			})
		})
	})

	const wrapper = document.querySelector('.libre-list')
	if (wrapper) observer.observe(wrapper)
})
</script>

<template>
	<main class="home-page">
		<section id="heroSection" class="hero-section">
			<!-- <NewsBar v-if="news.length > 0" /> -->
			<JoinUsCircle />
			<!-- <img class="big-text" src={bigText.src} /> -->
			<div class="where-software-grows">
				{{ $t('home.whereSoftwareGrows') }}
			</div>
			<!-- <img class="background" src={backgroundLines.src} /> -->
			<BackgroundLines />
			<div class="right-widgets-list">
				<FinancesWidgetManager />
				<NewsWidgetManager :news="news" />
			</div>
		</section>
		<section class="community-section">
			<div class="community-container">
				<div class="title">
					{{ $t('home.ourCommunity') }}
				</div>
				<InstancesList />
			</div>
		</section>
		<section class="explanation-section">
			<div class="wrapper">
				<div class="title-container">
					<i18n-t keypath="home.buildAndBoost" tag="h2" scope="global">
						<template #build
							><span>{{ $t('home.build') }}</span></template
						>
						<template #boost
							><span>{{ $t('home.boost') }}</span></template
						>
					</i18n-t>
					<p>{{ $t('home.ourObjective') }}</p>
				</div>
				<BuildAnimation />
			</div>
		</section>
		<section class="alternatives-section">
			<svg viewBox="0 0 1440 404" fill="none">
				<g>
					<path
						d="M429 180C142.5 236 78 302.5 -32 387.5H1665.5V-286C1589.5 -92 1524.91 30.1949 1231.5 126.5C937.5 223 715.5 124 429 180Z"
						fill="var(--primary)"
					/>
				</g>
				<g filter="url(#filter1_d_374_747)">
					<path
						d="M431.339 184.032C144.418 237.831 79.4093 303.834 -31.2399 387.987L1664.84 387.987C1667.91 -11.094 1671.38 -272.462 1671.38 -272.462C1593.89 -79.0516 1528.36 42.6439 1234.23 136.694C939.494 230.934 718.261 130.233 431.339 184.032Z"
						fill="var(--bg-1)"
					/>
					<path
						d="M1663.85 386.987L-28.2763 386.987C-19.657 380.414 -11.3091 373.955 -3.10377 367.606C40.3484 333.984 79.8039 303.455 134.403 275.517C200.238 241.831 288.12 211.904 431.524 185.015C558.443 161.217 672.487 167.68 785.867 174.104C800.514 174.934 815.15 175.764 829.802 176.527C957.845 183.199 1086.99 184.824 1234.53 137.646C1381.7 90.5904 1471.78 36.5834 1534.77 -29.9364C1596.67 -95.2987 1632.32 -172.667 1670.31 -267.113C1670.29 -265.331 1670.26 -263.113 1670.23 -260.465C1670.12 -252.539 1669.98 -240.77 1669.79 -225.4C1669.42 -194.661 1668.89 -149.518 1668.26 -91.9039C1667.01 23.1332 1665.38 187.89 1663.85 386.987Z"
						stroke="var(--primary)"
						stroke-opacity="0.5"
						stroke-width="2"
					/>
				</g>
				<defs>
					<filter
						id="filter0_d_374_747"
						x="-46.2"
						y="-302.2"
						width="1725.9"
						height="701.9"
						filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB"
					>
						<feFlood flood-opacity="0" result="BackgroundImageFix" />
						<feColorMatrix
							in="SourceAlpha"
							type="matrix"
							values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
							result="hardAlpha"
						/>
						<feOffset dy="-2" />
						<feGaussianBlur stdDeviation="7.1" />
						<feComposite in2="hardAlpha" operator="out" />
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0" />
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_374_747" />
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_374_747" result="shape" />
					</filter>
					<filter
						id="filter1_d_374_747"
						x="-43.2399"
						y="-280.462"
						width="1726.62"
						height="684.45"
						filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB"
					>
						<feFlood flood-opacity="0" result="BackgroundImageFix" />
						<feColorMatrix
							in="SourceAlpha"
							type="matrix"
							values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
							result="hardAlpha"
						/>
						<feOffset dy="4" />
						<feGaussianBlur stdDeviation="6" />
						<feComposite in2="hardAlpha" operator="out" />
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" />
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_374_747" />
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_374_747" result="shape" />
					</filter>
				</defs>
			</svg>
			<div class="wrapper">
				<div class="title-container">
					<i18n-t keypath="home.helpYouFind" tag="h2" scope="global">
						<template #libre
							><span>{{ $t('home.libre') }}</span></template
						>
					</i18n-t>
				</div>
				<div class="alternatives-list">
					<div class="alternative">
						<div class="box">
							<img
								src="https://ams1.vultrobjects.com/web-veenk-org/projects/kdenlive/kdenlive-logo.png"
								class="libre"
							/>
							<img
								src="https://ams1.vultrobjects.com/web-veenk-org/alternatives/adobe-premiere-logo.svg"
								class="private"
							/>
						</div>
						<div class="color-shadow" />
					</div>
					<div class="alternative">
						<div class="box">
							<img
								src="https://ams1.vultrobjects.com/web-veenk-org/projects/blender/blender-logo.png"
								class="libre"
								alt="Blender logo"
							/>
							<img
								src="https://ams1.vultrobjects.com/web-veenk-org/alternatives/C4D-logo.png"
								class="private"
								alt="Cinema 4D logo"
							/>
						</div>
						<div class="color-shadow" />
					</div>
					<div class="alternative">
						<div class="box">
							<img
								src="https://ams1.vultrobjects.com/web-veenk-org/projects/pixelfed/pixelfed-logo.png"
								class="libre"
								alt="Pixelfed logo"
							/>
							<img
								src="https://ams1.vultrobjects.com/web-veenk-org/alternatives/instagram-logo.svg"
								class="private"
								alt="Instagram logo"
							/>
						</div>
						<div class="color-shadow" />
					</div>
				</div>
				<!-- <div>{{$t('home.whatLibreMeans')}}</div> -->
				<div class="libre-wrapper">
					<div class="libre-title">{{ $t('home.whatFossMean') }}</div>
					<div class="libre-list">
						<div class="animate-word">{{ $t('home.openSource') }}</div>
						<div class="animate-word">{{ $t('home.freeOfCharge') }}</div>
						<div class="animate-word">{{ $t('home.privacy') }}</div>
						<div class="animate-word">{{ $t('home.community') }}</div>
					</div>
				</div>
			</div>
			<div class="bottom"><div /></div>
		</section>
		<section class="become-patron">
			<h2>
				<i18n-t keypath="home.becomePatron" tag="div" scope="global">
					<template #patron
						><span>{{ $t('home.patron') }}</span></template
					>
				</i18n-t>
				<IconHearth />
			</h2>
			<div>
				<ul>
					<li>
						<Icon class="icon" name="ph:magnifying-glass" /> <span>{{ $t('home.find') }}</span>
					</li>
					<li>
						<Icon class="icon" name="ph:info" /> <span>{{ $t('home.check') }}</span>
					</li>
					<li>
						<Icon class="icon" name="ph:piggy-bank" /> <span>{{ $t('home.donate') }}</span>
					</li>
					<li>
						<svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256">
							<path
								d="M229.12,142.65a22.43,22.43,0,0,0-19.55-3.88l-4.32,1C227,119.55,238,99.51,238,80c0-25.36-20.39-46-45.46-46A45.51,45.51,0,0,0,156,52a45.51,45.51,0,0,0-36.54-18C94.39,34,74,54.64,74,80c0,11.38,3.63,22.49,11.29,34.36a29.73,29.73,0,0,0-16.56,8.43L45.52,146H16A14,14,0,0,0,2,160v40a14,14,0,0,0,14,14H120a6,6,0,0,0,1.46-.18l64-16a7.16,7.16,0,0,0,.89-.3L225.17,181l.33-.15a22.6,22.6,0,0,0,3.62-38.18ZM119.46,46a33.16,33.16,0,0,1,31,20.28,6,6,0,0,0,11.1,0,33.16,33.16,0,0,1,31-20.28C210.68,46,226,61.57,226,80c0,20.24-16.18,43-46.8,65.75l-14.87,3.42A26,26,0,0,0,140,114H99.67C90.36,101.67,86,90.81,86,80,86,61.57,101.32,46,119.46,46ZM14,200V160a2,2,0,0,1,2-2H42v44H16A2,2,0,0,1,14,200Zm206.28-30-38.2,16.27L119.26,202H54V154.49l23.21-23.22A17.88,17.88,0,0,1,89.94,126H140a14,14,0,0,1,0,28H112a6,6,0,0,0,0,12h32a6,6,0,0,0,1.34-.15l67-15.41.24-.06A10.6,10.6,0,0,1,220.28,170Z"
							/>
						</svg>
						<span>{{ $t('home.giveFeedback') }}</span>
					</li>
					<li>
						<Icon class="icon" name="ph:bell" /> <span>{{ $t('home.getNotifications') }}</span>
					</li>
				</ul>
				<div class="img-box">
					<img src="/img/elena-pintando.jpg" class="display-img" :alt="$t('alt.elenaPintando')" />
					<div class="circle-shadow" />
				</div>
			</div>
		</section>
		<!-- <section class="projects-list close-to-goal">
			<h3>{{ $t('home.closeToGoal') }}</h3>
			<ProjectCarrousel type="closeToGoal" />
		</section> -->
		<div class="divider">
			<hr />
			<div>
				<i>{{ $t('home.ourTools') }}, {{ $t('home.ourFreedom') }}</i>
			</div>
		</div>
		<section class="how-we-work">
			<h2>{{ $t('home.makeSoftwareGrow') }}</h2>
			<div class="visual-explanation">
				<div class="blocks-container">
					<i18n-t keypath="home.weOrganizeCollaborators" tag="div" scope="global">
						<template #collaborators
							><b>{{ $t('home.collaborators') }}</b></template
						>
					</i18n-t>
					<i18n-t keypath="home.giveVisibility" tag="div" scope="global">
						<template #visibility
							><b>{{ $t('home.visibility') }}</b></template
						>
					</i18n-t>
					<i18n-t keypath="home.facilitatePoolingDonations" tag="div" scope="global">
						<template #collection
							><b>{{ $t('home.collection') }}</b></template
						>
					</i18n-t>
				</div>
				<VisualExplanation />
			</div>
			<div class="visual-explanation-mb">
				<i18n-t class="text-block" keypath="home.weOrganizeCollaborators" tag="div" scope="global">
					<template #collaborators
						><b>{{ $t('home.collaborators') }}</b></template
					>
				</i18n-t>
				<div class="collaborators-visual">
					<div class="simple-box">{{ $t('home.developers') }}</div>
					<div class="simple-box">{{ $t('home.designers') }}</div>
					<div class="simple-box">{{ $t('home.experts') }}</div>
					<div class="simple-box">{{ $t('home.everyone') }}</div>
				</div>
				<div class="veenk-visual">
					<svg class="icon" viewBox="0 0 61 24">
						<g transform="matrix(1,0,0,1,-3293,-2322)">
							<g transform="matrix(1,0,0,1,2362.05,2297.78)">
								<g transform="matrix(0.39313,5.39837e-33,5.22474e-33,0.39313,-139.765,-285.453)">
									<path
										d="M2819.99,816.472C2820.64,801.61 2833.41,789.739 2849.03,789.739C2865.08,789.739 2878.11,802.257 2878.11,817.676C2878.11,833.095 2865.08,845.613 2849.03,845.613C2837.32,845.613 2827.21,838.94 2822.61,829.336C2816.23,830.07 2809.18,830.592 2801.99,830.592C2794.8,830.592 2787.74,830.07 2781.37,829.336C2776.76,838.94 2766.66,845.613 2754.94,845.613C2738.89,845.613 2725.87,833.095 2725.87,817.676C2725.87,802.257 2738.89,789.739 2754.94,789.739C2770.57,789.739 2783.33,801.61 2783.99,816.472C2789.66,817.053 2795.78,817.443 2801.99,817.443C2808.2,817.443 2814.32,817.053 2819.99,816.472Z"
										fill="currentColor"
									></path>
								</g>
							</g>
						</g>
					</svg>
				</div>
				<div class="organize-visual">
					<div class="simple-box">
						<Icon class="icon" name="ph:lightning" />
						{{ $t('home.createProjects') }}
					</div>
					<div class="simple-box">
						<Icon class="icon" name="ph:rocket-launch" />
						{{ $t('home.boostExisting') }}
					</div>
					<div class="simple-box">
						<Icon class="icon" name="ph:lifebuoy" />
						{{ $t('home.supportHelp') }}
					</div>
				</div>
				<div class="text-block red">
					<i18n-t keypath="home.giveVisibility" tag="p" scope="global">
						<template #visibility
							><b>{{ $t('home.visibility') }}</b></template
						>
					</i18n-t>
				</div>
				<div class="visibility-visual">
					<div class="simple-box">
						<Icon class="icon" name="ph:briefcase" />
						{{ $t('home.entities') }}
					</div>
					<div class="simple-box">
						<Icon class="icon" name="ph:gift" />
						{{ $t('home.donations') }}
					</div>
					<div class="simple-box">
						<Icon class="icon" name="ph:piggy-bank" />
						{{ $t('home.patrons') }}
					</div>
				</div>
				<i18n-t class="text-block green" keypath="home.facilitatePoolingDonations" tag="div" scope="global">
					<template #collection
						><b>{{ $t('home.collection') }}</b></template
					>
				</i18n-t>
				<div class="projects-visual">
					<div>
						<div class="simple-box">
							<Icon class="icon" name="ph:paint-brush-broad" />
							{{ $t('home.designLinux') }}
						</div>
					</div>
					<div>
						<div class="simple-box">
							<Icon class="icon" name="ph:car-profile" />
							{{ $t('home.carpoolingApp') }}
						</div>
					</div>
					<div>
						<div class="simple-box">
							<Icon class="icon" name="ph:bug-droid" />
							{{ $t('home.xmppClient') }}
						</div>
					</div>
					<div>
						<div class="simple-box">
							<Icon class="icon" name="ph:music-note" />
							{{ $t('home.musicFediverse') }}
						</div>
					</div>
				</div>
			</div>
		</section>
		<a id="join-us" />
		<section class="looking-for-members">
			<div class="left">
				<div class="overflow">
					<h2>{{ $t('home.lookingFor') }} {{ $t('home.newMembers') }}</h2>
				</div>
				<p>{{ $t('home.involveAsYouWant') }}</p>
			</div>
			<div class="video-wrapper">
				<div class="box">
					<iframe
						title="Como formar parte de Veenk"
						width="560"
						height="315"
						src="https://veedeo.org/videos/embed/fe5a9672-ea97-43b2-ab50-45e4d4a94008?title=0&warningTitle=0&p2p=0"
						frameborder="0"
						sandbox="allow-same-origin allow-scripts allow-popups"
					/>
					<!-- <svg
						viewBox="0 0 152 155"
						style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
					>
						<g transform="matrix(1,0,0,1,-3632,-8186)">
							<g transform="matrix(1,0,0,6.88748,2363.83,2309.78)">
								<g id="logo" transform="matrix(2.95032,0,0,0.428361,-10024.6,-539.774)">
									<g transform="matrix(0.895369,0,0,0.895369,477.256,-430.86)">
										<path
											d="M3746.89,4126.21C3747.35,4125.52 3748.1,4125.07 3748.93,4124.99C3749.75,4124.91 3750.6,4125.19 3751.18,4125.78C3751.18,4125.78 3751.18,4125.78 3751.18,4125.78C3752.11,4126.7 3752.27,4128.15 3751.57,4129.26C3749.28,4133 3747.97,4137.46 3747.97,4142.24C3747.97,4155.56 3758.2,4166.37 3770.8,4166.37C3775.72,4166.37 3780.28,4164.72 3784.01,4161.91C3785.06,4161.09 3786.58,4161.17 3787.52,4162.11C3787.52,4162.11 3787.52,4162.11 3787.52,4162.11C3788.07,4162.66 3788.35,4163.42 3788.29,4164.19C3788.24,4164.97 3787.85,4165.68 3787.22,4166.14C3782.56,4169.44 3776.9,4171.39 3770.8,4171.39C3755,4171.39 3742.18,4158.32 3742.18,4142.23C3742.18,4136.31 3743.91,4130.81 3746.89,4126.21ZM3757.1,4120.43C3756.52,4119.84 3756.24,4119.02 3756.36,4118.2C3756.48,4117.38 3756.98,4116.66 3757.7,4116.27C3761.64,4114.23 3766.08,4113.07 3770.8,4113.07C3786.59,4113.07 3799.41,4126.13 3799.41,4142.23C3799.41,4146.68 3798.43,4150.89 3796.68,4154.67C3796.28,4155.49 3795.51,4156.07 3794.61,4156.22C3793.71,4156.37 3792.78,4156.1 3792.13,4155.45C3792.13,4155.45 3792.13,4155.45 3792.13,4155.45C3791.29,4154.61 3791.06,4153.35 3791.55,4152.27C3792.88,4149.22 3793.62,4145.82 3793.62,4142.24C3793.62,4128.92 3783.39,4118.11 3770.8,4118.11C3766.99,4118.11 3763.41,4119.1 3760.26,4120.84C3759.23,4121.42 3757.94,4121.26 3757.1,4120.43Z"
										></path>
									</g>
									<g transform="matrix(5.43679e-17,0.887895,-0.649635,3.97787e-17,6024.44,140.126)">
										<path
											d="M3531.93,3330.25C3532.38,3329.23 3533.18,3328.61 3534.05,3328.61C3534.92,3328.61 3535.72,3329.23 3536.17,3330.25C3538.01,3334.43 3540.67,3340.46 3542.55,3344.71C3543,3345.74 3543.01,3347.02 3542.58,3348.07C3542.15,3349.11 3541.34,3349.76 3540.46,3349.76C3536.74,3349.76 3531.41,3349.76 3527.68,3349.76C3526.79,3349.76 3525.97,3349.11 3525.54,3348.05C3525.1,3346.99 3525.11,3345.7 3525.57,3344.66C3527.45,3340.41 3530.09,3334.41 3531.93,3330.25Z"
										></path>
									</g>
								</g>
							</g>
						</g>
					</svg> -->
				</div>
				<div class="circle-shadow" />
			</div>
		</section>

		<SponsorSection />

		<section class="finances-section">
			<h2>{{ $t('finances.ourFinances') }}</h2>
			<FinancesWidgetManager />
		</section>

		<ValuesSection />
	</main>
</template>

<style lang="sass" scoped>
.home-page
	width: 100vw
	overflow: hidden
	padding: 0

section
	padding: $sp-xxl 6vw
	background: var(--bg)

	h2
		text-align: center

	.wrapper
		margin: auto
		text-align: center
		display: flex
		align-items: center
		flex-direction: column

.hero-section
	position: relative
	overflow: hidden
	margin-top: 50px

	img
		width: 640px
		display: block
		position: relative
		z-index: 10

	.background
		position: absolute
		right: -50%
		width: 138%
		max-width: 2400px
		min-width: 2250px
		z-index: 0

		svg
			stroke: blue

html[lang="en"]
	.where-software-grows
		font-size: 12vw

.where-software-grows
	transition: all .3s ease-out
	font-weight: 900
	font-family: $f-montserrat
	text-align: center
	z-index: 4
	color: var(--primary-text)
	letter-spacing: 3px
	flex-grow: 1
	display: flex
	align-items: center
	font-size: 11vw

.community-section
	position: relative
	background: var(--bg-1)
	padding: 0
	position: relative
	margin: auto
	display: flex
	justify-content: center
	overflow: hidden
	border: var(--border-light)
	border-left: none
	border-right: none
	box-shadow: var(--box-shadow-center)

	.community-container
		padding: $sp-l 10vw
		display: flex
		flex-direction: column
		align-items: flex-start

	.title
		color: var(--font-color)
		font-size: toRem(20)
		margin-bottom: $sp-s
		margin-left: $sp-xs

.explanation-section

	h2
		margin-bottom: $sp-s
		span
			color: var(--yellow)

.alternatives-section
	position: relative
	padding: 0
	margin-top: $sp-xl

	& > svg
		position: absolute
		z-index: 4

	.wrapper
		z-index: 8
		background: var(--bg-1)
		position: relative
		min-height: 800px

		span
			color: var(--red)

	.alternatives-list
		display: flex
		gap: $sp-m

		.alternative
			position: relative
			width: 207px
			height: 178px

			.box
				background: var(--bg-2)
				height: 100%
				border-radius: 30px 5px
				box-shadow: -2px 4px 0 2px #f7456f40
				position: relative
				z-index: 4
				padding: 20px $sp-s
				display: flex
				flex-direction: column
				justify-content: center

				img
					border-radius: $border-r

		.color-shadow
			width: 160px
			height: 160px
			background: #f7456f40
			filter: blur(40px)
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			z-index: 2

	.alternative
		.libre
			height: $sp-xl
			align-self: flex-end

		.private
			filter: grayscale(1) opacity(0.8)
			width: 45px
			height: 45px

	.libre-wrapper
		margin-top: $sp-xl
		padding: 40px 0px

		.libre-title
			font-size: toRem(20)
			font-weight: 500

		.libre-list
			margin-top: $sp-xl
			display: flex
			justify-content: center
			font-weight: bold
			gap: $sp-xl
			font-size: toRem(24)

			.animate-word
				transition: all 0.3s ease-in-out
				user-select: none
				color: var(--red)
				filter: grayscale(100)
				opacity: 0.8
				animation-delay: 0.5s

				&:hover
					filter: grayscale(0)
					opacity: 1

				&:nth-child(2)
					animation-delay: 1.5s
				&:nth-child(3)
					animation-delay: 2.5s
				&:nth-child(4)
					animation-delay: 3.5s

	.bottom
		position: relative
		width: 100vw
		overflow: hidden
		height: 70px
		background: var(--bg-1)

		&::after
			content: ''
			border-top: 2px solid var(--primary)
			background: var(--bg)
			position: absolute
			width: 140%
			border-radius: 50%
			bottom: -$sp-xl
			left: -20%
			height: 140px
			z-index: 20

.divider
	background: var(--bg)
	padding: 40px 0
	position: relative

	div
		position: absolute
		background: var(--bg)
		padding: 40px
		margin: auto
		color: var(--soft-font-color)
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		font-size: toRem(20)
		text-align: center

.become-patron
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between

	h2
		position: relative

		span
			color: var(--green)

		.icon
			position: absolute
			width: 30px
			height: 30px
			right: -38px
			top: -$sp-xs
			transform: rotate(12deg)
			fill: url(#shape-gradient) var(--red)

	& > div
		display: flex
		align-items: center

	.img-box
		position: relative

		.circle-shadow
			background: #d9d9d9
			filter: blur(80px)
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			z-index: 2

		img
			width: 100%
			height: 100%
			border-radius: $border-r
			box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
			z-index: 4
			position: relative
			display: block

	ul
		display: flex
		flex-direction: column
		gap: $sp-xxs
		color: var(--font-color)

		li
			display: flex
			align-items: center
			gap: $sp-s
			padding: 12px $sp-xs
			font-size: toRem(16)

			&:nth-child(2)
				.icon
					color: var(--secondary)

			&:nth-child(3)
				.icon
						color: var(--green)

			&:nth-child(4)
				.icon
					color: var(--red)

			&:nth-child(1) .icon,
			&:nth-child(5) .icon
				color: var(--yellow)

		svg, .icon
			min-width: 26px
			width: 26px
			height: 26px

.projects-list
	padding: 0
	margin: auto
	margin-bottom: $sp-xl

	h3
		font-size: toRem(20)
		margin-bottom: $sp-s
		text-align: center

.how-we-work
	padding-top: 160px $sp-xl

	h2
		margin-bottom: $sp-xl

.visual-explanation
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.blocks-container
	display: flex
	justify-content: center
	gap: 60px
	text-align: center

	div
		line-height: 1.2
		&:nth-child(1)
			b
				color: var(--yellow)
		&:nth-child(2)
			b
				color: var(--red)
		&:nth-child(3)
			b
				color: var(--green)

.looking-for-members
	display: flex

	.left
		z-index: 4
		font-size: toRem(24)

		p
			font-size: toRem(24)

	h2
		font-size: toRem(32)
		margin-top: $sp-s
		text-align: left
		color: var(--primary-text)
		text-shadow: var(--text-shadow)
		z-index: 6
		position: relative
		-webkit-text-stroke: 1px var(--primary-dark)

	.video-wrapper
		position: relative
		width: 100%
		aspect-ratio: 16/9
		z-index: 0

		svg
			width: $sp-xl
			fill: var(--primary-active)
			transition: all .3s ease-in-out

		.box
			border-radius: 24px
			width: $sp-xxl
			z-index: 4
			position: relative
			background: var(--bg-2)
			width: 100%
			height: 100%
			display: flex
			justify-content: center
			align-items: center
			box-shadow: var(--box-shadow)
			overflow: hidden

			iframe
				width: 100%
				height: 100%

		.circle-shadow
			width: 50%
			height: 30%
			background: #d9d9d9
			filter: blur(100px)
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			z-index: 2
			transition: all .4s ease-in-out

		&:hover
			svg
				width: 90px
			.circle-shadow
				width: 60%
				height: 40%
				background: #ffffff

// Green and Blue
@media screen and (max-width: $laptop)
	.home-page
		padding: 0

	.hero-section
		padding: 0
		height: 400px
		display: flex
		flex-direction: column

		.background
			right: -540px
			bottom: -210px
			width: 1000px
			min-width: 0px
			max-width: none

	.right-widgets-list
		display: none

	.community-section
		position: relative
		padding-top: 18px
		width: 100vw
		height: 280px

		.community-container
			display: block
			overflow-x: auto
			overflow-y: hidden
			padding-left: 0
			padding-right: 0

		.title
			position: absolute
			top: $sp-m
			left: 38px
			font-size: toRem(15)

	.alternatives-section

		& > svg
			left: 0
			top: -26vw
			width: 100%

		.wrapper
			padding: $sp-xl 6vw

		.title-container
			width: 100%

		.alternatives-list
			margin: auto

			display: flex
			flex-wrap: wrap-reverse
			justify-content: center

			.alternative
				width: $sp-xxl
				height: 100px
				box-shadow: -4px 8px 16px 0px #f7456f30
				border-radius: 30px 5px

				.box
					padding: 12px $sp-xs

				.color-shadow
					display: none

				.libre
					width: auto
					height: $sp-l

				.private
					width: $sp-s
					height: $sp-s

		.libre-wrapper
			margin-top: $sp-xxl
			.libre-title
				font-size: toRem(18)
			.libre-list
				flex-direction: column
				gap: $sp-m

		.bottom

			&::after
				min-width: 1200px
				left: 50%
				transform: translateX(-50%)

	.become-patron
		padding-top: $sp-xl

		& > div
			flex-direction: column

		h2
			margin-right: $sp-xxs

		ul
			font-size: toRem(15)
			padding-left: $sp-xxs

			li
				padding: 12px 0

		.img-box
			margin-top: 72px
			img
				max-width: 520px

	.divider
		margin: $sp-l 0

		div
			padding: $sp-s
			// min-width: 80vw
			max-width: $sp-xxxl
			width: 100%
			i
				font-size: toRem(16)
				display: block

	.how-we-work
		overflow: hidden

	.visual-explanation
		display: none

	.visual-explanation-mb
		display: flex
		align-items: center
		flex-direction: column
		color: var(--font-color)

		.text-block
			text-align: center
			font-size: toRem(18)
			letter-spacing: 0
			line-height: 1.2

			p
				font-size: toRem(18)

			b
				color: var(--yellow)
			&.red
				position: relative
				p
					position: relative
					z-index: 3
				&::after
					content: ''
					height: 460px
					aspect-ratio: 1/1
					border: solid 1px var(--primary)
					position: absolute
					top: calc(50%)
					left: 50%
					transform: translate(-50%, -50%)
					border-radius: 50%
					z-index: 1
					background: var(--bg)
				b
					color: var(--red)
			&.green
				padding: 2vw
				b
					color: var(--green)

	.collaborators-visual, .organize-visual, .visibility-visual, .projects-visual
		display: flex
		flex-direction: column
		gap: $sp-xs
		padding: 60px 0
		flex-wrap: wrap
		position: relative

	.simple-box
		font-size: toRem(16)
		padding: $sp-xxs 20px
		border: solid 1px var(--primary)
		display: flex
		align-items: center
		border-radius: $border-r
		gap: 10px
		background: var(--bg-2)
		z-index: 3

		.icon
			width: 20px
			height: 20px

	.collaborators-visual
		flex-direction: row
		&::before
			content: ''
			width: 142px
			height: 142px
			border: solid 1px var(--primary)
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			border-radius: 50%
			z-index: 2
			background: var(--bg)

		&::after
			content: ''
			width: 1px
			height: 140px
			background: var(--primary)
			position: absolute
			bottom: -100px
			left: 50%
			transform: translateX(-50%)
			z-index: 1

		.simple-box
			width: calc( 50% - $sp-xxs )
			justify-content: center

	.veenk-visual
		border: solid 1px var(--primary)
		border-radius: 50%
		width: $sp-l
		height: $sp-l
		display: flex
		align-items: center
		justify-content: center
		position: relative
		background: var(--bg)
		z-index: 2

		.icon
			color: var(--primary)
			width: $sp-s
			height: $sp-s

	.organize-visual
		align-items: center
		padding-top: $sp-s
		.simple-box
			width: $sp-xxxl

	.projects-visual
		position: relative
		&::before
			content: ''
			width: 45vw
			height: 320px
			border: solid 1px var(--primary)
			border-left: none
			position: absolute
			top: -$sp-xxxl
			right: -52px
			border-radius: 24px
			z-index: 0

		&::after
			content: ''
			width: 100%
			height: 100%
			background: var(--bg)
			position: absolute
			top: 0
			left: 0
			z-index: 2

		& > div
			position: relative
			&::after
				content: ''
				position: absolute
				width: 50px
				height: 50px
				border: solid 1px var(--primary)
				bottom: -$sp-m
				left: -25px
				border-radius: 50%
				z-index: 0

		.simple-box
			position: relative

		& > div:nth-child(2)
			&::after
				right: -25px
				left: auto
		& > div:last-child
			&::after
				display: none

	.finances-section
		padding: 0
		padding-bottom: 40px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		gap: $sp-xs

		h2
			margin-bottom: $sp-s

		p
			font-size: toRem(13)
			color: var(--soft-font-color)
			width: 70vw
			text-align: center

		.finances-widget
			width: 75vw
			padding: $sp-xs $sp-s $sp-s
			gap: $sp-xs

	.looking-for-members
		flex-direction: column-reverse
		padding-right: 4vw
		padding-left: 4vw
		padding-top: 40px

		h2
			text-align: center
			margin-top: 0
			line-height: 1.1
			font-size: toRem(31)
			margin-bottom: $sp-s

		.left
			position: relative

			p
				margin-top: $sp-s
				font-size: toRem(14)
				text-align: center
				color: var(--font-color)

		.overflow
			// position: absolute
			margin-top: 20px

		.video-wrapper
			.box
				border-radius: 14px

			img
				width: 60px

	.finances-section
		padding-top: $sp-xxl

// Blue
@media screen and (min-width: $tablet) and (max-width: $laptop)
	.hero-section
		height: 500px

		.background
			right: -620px
			bottom: -290px
			width: 1300px
			min-width: 0px
			max-width: none

	html[lang="en"]
		.where-software-grows
			// font-size: toRem(80)

	.where-software-grows
		max-width: 820px
		margin: auto
		font-size: toRem(70)

// Yellow and more
@media screen and (min-width: $laptop)
	html[lang="en"]
		.where-software-grows
			font-size: toRem(90)

	.where-software-grows
		max-width: 820px
		font-size: toRem(100)

	.hero-section
		height: 60vh
		padding: $sp-xl
		display: flex
		align-items: center
		justify-content: center

		.background
			right: -66vw
			top: auto
			bottom: -32vw
			width: 140vw
			min-width: 0px
			max-width: none

		.right-widgets-list
			position: absolute
			top: 40px // 32 + 50
			right: $sp-m
			display: flex
			flex-direction: column
			align-items: flex-end
			gap: $sp-s

	.become-patron
		.img-box
			width: 40%
			max-width: 345px

			.circle-shadow
				width: 30%
				height: 30%

		& > div
			width: 90%
			padding: 0px 40px
			max-width: 1150px

		ul
			padding: 28px
			width: 60%

	.projects-list
		padding: $sp-xxl 6vw

	.community-section
		&::before
			content: ''
			border-bottom: $sp-xxxs solid var(--primary)
			position: absolute
			width: 140%
			border-radius: 50%
			top: 40px
			left: -20%
			height: 140px

	section
		padding: $sp-xxl $sp-xl

		.title-container
			max-width: 800px

		h2
			line-height: 1.3
			margin-bottom: $sp-s
			text-align: center

		p
			font-size: toRem(20)
			line-height: 1.4

	.explanation-section
		.title-container

			h2
				font-size: toRem(38)

	.explanation-section
		padding: 200px $sp-xl

	.alternatives-section

		& > svg
			left: -4vw
			top: -27vw
			width: 108vw

		.wrapper
			padding: 0 $sp-xl $sp-xxl $sp-xl

		.alternatives-list
			gap: $sp-xxl

		h2
			margin-bottom: 140px

		button
			margin: 180px $sp-xl

	.become-patron
		padding-top: 160px
		padding-bottom: 0

		h2
			font-size: 42px
			margin-bottom: 72px

		& > div
			width: 90%
			padding: 0px 40px
			max-width: 1150px

		ul
			width: 60%

	.divider
		margin: $sp-xxl 0 $sp-xl

	.visual-explanation
		img
			width: 80%
			max-width: 1000px
			display: block
			padding-left: $sp-xl
			margin-top: 40px

		.blocks-container
			padding: 60px $sp-s $sp-xl $sp-s

			div
				width: 360px

	.visual-explanation-mb
		display: none

	.looking-for-members
		max-width: var(--max-width)
		margin: 60px auto $sp-xxl auto

		.left
			max-width: 45%
			z-index: 4

		.overflow
			width: 840px

		h2
			margin-top: $sp-s
			font-size: toRem(74)
			text-align: left
			position: relative

		.video-wrapper
			position: relative
			width: 100%
			aspect-ratio: 16/9
			z-index: 0

			img
				width: $sp-xxl

	.finances-section
		display: none

// Yellow
@media screen and (min-width: $laptop) and (max-width: $desktop)
	.become-patron
		padding: $sp-xxl 0 1vw

		& > div
			width: 100%

// Red and Black
@media screen and (min-width: $desktop)

@media (prefers-reduced-motion: no-preference)
	.glow-up-animation
		animation: glow-up 1s 2
		animation-direction: alternate
</style>
