<script setup lang="ts">
const { query } = useRoute()
const authStore = useAuthStore()

watchEffect(async () => {
	if (authStore.user) {
		await navigateTo(query.redirectTo as string, {
			replace: true
		})
	}
})

const login = async () => {
	await authStore.signIn({
		username: 'emilys',
		password: 'emilyspass'
	})

	console.log('here')

	await navigateTo('/profile', { replace: true })
}
</script>

<template>
	<div>
		<h2>Welcome to login page.</h2>
		<button @click="login">Login</button>
	</div>
</template>

<style scoped lang="sass"></style>
