<template>
	<main class="our-mission-page page">
		<h3>{{ $t('ourMission.whatWeWant') }}</h3>
		<p>{{ $t('ourMission.achiveSociety') }}</p>
		<h3>{{ $t('ourMission.ourMission') }}</h3>
		<p>{{ $t('ourMission.libreTools') }}</p>
		<h3>{{ $t('ourMission.values') }}</h3>
		<ul class="values-list">
			<li>{{ $t('ourMission.transparency') }}</li>
			<li>{{ $t('ourMission.accessibility') }}</li>
			<li>{{ $t('ourMission.initiative') }}</li>
			<li>{{ $t('ourMission.privacy') }}</li>
			<li>{{ $t('ourMission.noAdvertising') }}</li>
			<li>{{ $t('ourMission.antiCorporatism') }}</li>
			<li>{{ $t('ourMission.multiculturalism') }}</li>
			<li>{{ $t('ourMission.redistribution') }}</li>
			<li>{{ $t('ourMission.ecologism') }}</li>
			<li>{{ $t('ourMission.governmentIndependence') }}</li>
			<li>{{ $t('ourMission.antispeciesism') }}</li>
			<li>{{ $t('ourMission.copyLeftLicenses') }}</li>
			<li>{{ $t('ourMission.antiColonialism') }}</li>
		</ul>
		<hr />
		<div class="subtitle">{{ $t('ourMission.wePromoteValues') }}</div>
		<div class="values-sections">
			<section>
				<div class="float-wrapper"><Icon class="icon" name="ph:hand-fist" /></div>
				<h4>{{ $t('ourMission.aboutThePeople') }}</h4>
				<p>{{ $t('ourMission.codeBuildTools') }}</p>
				<BadgeBox type="socialJustice" design="box" />
			</section>
			<section>
				<div class="float-wrapper right green"><Icon class="icon" name="ph:leaf" /></div>
				<h4>{{ $t('ourMission.nothingMatters') }}</h4>
				<p>{{ $t('ourMission.weShould') }}</p>
				<BadgeBox type="savesThePlanet" design="box" />
			</section>
			<section>
				<div class="float-wrapper"><Icon class="icon" name="ph:chart-pie-slice" /></div>
				<h4>{{ $t('ourMission.beliveInTransparency') }}</h4>
				<p>{{ $t('ourMission.notOnlyCode') }}</p>
				<BadgeBox type="transparency" design="box" />
			</section>
			<section>
				<div class="float-wrapper right red"><Icon class="icon" name="ph:heartbeat" /></div>
				<h4>{{ $t('ourMission.freeAlternative') }}</h4>
				<p>{{ $t('ourMission.ethicalPeople') }}</p>
				<BadgeBox type="unique" design="box" />
			</section>
			<section>
				<div class="float-wrapper green"><Icon class="icon" name="ph:lifebuoy" /></div>
				<h4>{{ $t('ourMission.publicDiscussions') }}</h4>
				<p>{{ $t('ourMission.forumsAreOrganized') }}</p>
				<BadgeBox type="forum" design="box" />
			</section>
			<section>
				<div class="float-wrapper right"><Icon class="icon" name="ph:translate" /></div>
				<h4>{{ $t('ourMission.internationalization') }}</h4>
				<p>{{ $t('ourMission.bestPractices') }}</p>
				<BadgeBox type="localization" design="box" />
			</section>
			<section>
				<div class="float-wrapper red"><Icon class="icon" name="ph:copyleft" /></div>
				<h4>{{ $t('ourMission.copyLeft') }}</h4>
				<p>{{ $t('ourMission.openSourceMust') }}</p>
				<BadgeBox type="copyleft" design="box" />
			</section>
			<section>
				<div class="float-wrapper right"><Icon class="icon" name="ph:person" /></div>
				<h4>{{ $t('ourMission.accessibility') }}</h4>
				<p>{{ $t('ourMission.softwareEnjoyable') }}</p>
				<BadgeBox type="accessible" design="box" />
			</section>
		</div>
	</main>
</template>

<script setup lang="ts"></script>

<style scoped lang="sass">
.our-mission-page
	overflow: hidden

	.values-sections
		display: flex
		flex-direction: column
		align-items: center
		margin-top: $sp-xxl

	svg
		width: $sp-s

	h3
		color: var(--primary)
		font-size: toRem(32)
		text-align: center
		margin-bottom: 40px

	h4
		color: var(--primary)
		font-size: toRem(22)
		text-align: center
		margin-bottom: 40px

	hr
		margin: $sp-xxl auto
		max-width: var(--text-max-length)

	p
		margin: auto
		margin-bottom: $sp-xxl
		line-height: 1.3
		font-size: toRem(15)
		max-width: var(--text-max-length)

	section
		display: flex
		flex-direction: column
		align-items: center
		gap: $sp-s
		position: relative

		.float-wrapper
			position: absolute
			left: -$sp-xxl
			top: 50%
			transform: translateY(-50%)

			&.right
				right: -$sp-xxl
				left: auto

			.icon
				width: $sp-xl
				height: $sp-xl
				color: var(--yellow)
				opacity: 0.8

			&.green .icon
				color: var(--green)

			&.red .icon
				color: var(--red)

		p
			text-align: center
			margin-bottom: 0px

	.values-list
		list-style-type: circle
		padding: 0 40px
		max-width: var(--text-max-length)
		margin: auto
		margin-bottom: 40px

		li
			padding: $sp-xxs $sp-xs
			font-size: toRem(15)

	.subtitle
		font-size: toRem(16)
		font-weight: 500
		line-height: 1.3
		max-width: var(--text-max-length)
		margin: auto
		margin-top: $sp-xl

// Green and Blue
@media screen and (max-width: $laptop)
	.our-mission-page
		padding: 160px 8vw

		h3
			font-size: toRem(32)

		.values-sections
			gap: $sp-xl

		section
			h4
				margin-bottom: 0px

			p
				max-width: 360px

		.float-wrapper
			display: none

// Yellow and more
@media screen and (min-width: $laptop)
	.our-mission-page

		h4
			max-width: var(--text-max-length)
			margin-bottom: $sp-s

		section
			padding: $sp-xl
</style>
