<script setup lang="ts">
const internalFinancesStore = useInternalFinancesStore()

onMounted(() => {
	try {
		internalFinancesStore.fetchList()
	} catch (err) {
		console.error(err)
	}
})
</script>

<template>
	<main class="our-finances-page page">
		<div class="header">
			<div class="widget-wrapper">
				<FinancesWidgetManager :onlyTotal="true" />
			</div>
			<h1>{{ $t('finances.ourFinances') }}</h1>
		</div>
		<FinancesListManager />
	</main>
</template>

<style scoped lang="sass">
.our-finances-page
	min-height: calc(100vh - 76px - 50px)
	position: relative

	.widget-wrapper
		position: relative
		margin: auto
		width: fit-content

.finances-list
	display: flex
	flex-direction: column
	gap: 40px
	max-width: var(--max-width)
	margin: 40px auto

// Green and Blue
@media screen and (max-width: $laptop)
	.our-finances-page
		padding-top: 140px

		.header
			display: flex
			flex-direction: column-reverse

// Yellow, Red and Black
@media screen and (min-width: $laptop)
	.our-finances-page
		.widget-wrapper
			position: absolute
			right: 40px
			top: 80px
</style>
