<script setup lang="ts">
definePageMeta({
	middleware: ['auth']
})
</script>

<template>
	<div class="profile">This is your profile.</div>
</template>

<style scoped lang="sass">
.profile
	margin: 40px
	margin-top: 180px
	height: 60vh
</style>
