<script setup lang="ts">
import { badges, platforms } from '~/constants/tags'
import ProjectsMobileSearch from '~/managers/Projects/ProjectsMobileSearch.vue'

const projectsStore = useProjectsStore()

const route = useRoute()
const desktopFilters = ref()

const clearActiveHashtag = () => {
	projectsStore.setActiveHashtag(undefined)
}
const clearActiveAlternative = () => {
	projectsStore.setActiveAlternative(undefined)
}

const page = route.query.page
const pageNum = typeof page === 'string' ? parseInt(page) : undefined

const newParams = projectsStore.params

if (pageNum) newParams.page = pageNum

projectsStore.params.page = newParams.page
projectsStore.params.platforms = newParams.platforms
projectsStore.params.badges = newParams.badges

watch(
	() => route.query,
	async () => {
		if (typeof route.query.hashtag === 'string') {
			projectsStore.setActiveHashtag(route.query.hashtag)
		} else {
			projectsStore.fetchProjectsList()
		}
	},
	{ immediate: true }
)

onMounted(() => {
	projectsStore.fetchTags()
})
</script>

<template>
	<main class="projects-page page">
		<div class="container">
			<div class="title-box">
				<div v-if="projectsStore.activeHashtag" class="hashtag-title">
					<div>{{ getTranlsationFirst(projectsStore.activeHashtag.label) }}</div>
					<div class="hashtag">
						<span class="hash">#</span>
						{{ projectsStore.activeHashtag.name }}
					</div>
					<div>{{ getTranlsationLast(projectsStore.activeHashtag.label) }}</div>
				</div>
				<h1 v-else>{{ $t('projectList.findFreeSoftware') }}</h1>
			</div>
			<ProjectsMobileSearch />
			<div class="filters-summary">
				<button v-if="projectsStore.activeHashtag" class="tag-filter" @click="clearActiveHashtag">
					<Icon class="icon" name="ph:x-bold" />
					{{ projectsStore.activeHashtag.name }}
				</button>
				<button v-if="projectsStore.activeAlternative" class="tag-filter alternative" @click="clearActiveAlternative">
					<Icon class="icon" name="ph:x-bold" />
					{{ projectsStore.activeAlternative.name }}
				</button>
				<span v-for="platform in projectsStore.params.platforms" :key="platform" class="tag-filter platform">
					<Icon class="icon" :name="platforms[platform].icon" />
				</span>
				<span v-for="badge in projectsStore.params.badges" :key="badge" class="tag-filter badge">
					<Icon class="icon" :name="badges[badge].icon" />
				</span>
			</div>
			<ProjectsFiltersDrawerManager />
			<ProjectsFiltersSidebarManager ref="desktopFilters" />
			<div class="content-container">
				<div class="view-modes">
					<div class="view-list">
						<div
							class="view-btn"
							:class="{ active: projectsStore.selectedView === 'user' }"
							@click="() => (projectsStore.selectedView = 'user')"
							@keyPress="() => (projectsStore.selectedView = 'user')"
						>
							<div class="border-color">
								<span>{{ $t('projectList.forUsers') }}</span>
							</div>
						</div>
						<div
							class="view-btn"
							:class="{ active: projectsStore.selectedView === 'funders' }"
							@click="() => (projectsStore.selectedView = 'funders')"
							@keyPress="() => (projectsStore.selectedView = 'funders')"
						>
							<div class="border-color">
								<span>{{ $t('projectList.forFunders') }}</span>
							</div>
						</div>
						<div
							class="view-btn"
							:class="{ active: projectsStore.selectedView === 'devs' }"
							@click="() => (projectsStore.selectedView = 'devs')"
							@keyPress="() => (projectsStore.selectedView = 'devs')"
						>
							<div class="border-color">
								<span>{{ $t('projectList.forDevs') }}</span>
							</div>
						</div>
						<div
							class="view-btn"
							:class="{ active: projectsStore.selectedView === 'translators' }"
							@click="() => (projectsStore.selectedView = 'translators')"
							@keyPress="() => (projectsStore.selectedView = 'translators')"
						>
							<div class="border-color">
								<span>{{ $t('projectList.forTranslators') }}</span>
							</div>
						</div>
					</div>
				</div>
				<ProjectsListManager />
			</div>
		</div>
	</main>
</template>

<style lang="sass" scoped>

.projects-page
	position: relative

	&.page
		padding: 100px 8px

	h1
		margin-bottom: 0

	.container
		width: 100%
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		margin: auto
		gap: $sp-xxs
		padding-top: 0

	.hashtag-title
		font-size: toRem(20)
		align-self: center
		display: flex
		align-items: flex-end
		gap: 12px
		font-weight: 500
		justify-content: center

		.hashtag
			font-size: 1em
			padding: 0

		.hash
			color: var(--yellow)

.recomendations-list
	display: flex
	flex-direction: column
	gap: 2px

	.alternative-btn
		img
			filter: grayscale(1)
			transition: all 0.3s ease-in-out

		&:hover
			background: var(--bg-1)

			img
				filter: grayscale(0)

.projects-page .view-modes
	padding: 0 $sp-s 40px
	display: flex
	align-items: center
	font-weight: 600
	color: var(--soft-font-color)
	gap: $sp-s

	.view-list
		display: flex
		width: 100%
		justify-content: center
		gap: $sp-xs

	.view-btn
		padding: 2px
		padding-bottom: $sp-xxxs
		background: var(--primary-soft)
		border-radius: $border-r
		transition: all 0.2s ease-in-out
		cursor: pointer
		user-select: none

		.border-color
			transition: all 0.2s ease-in-out
			padding: $sp-xxs $sp-xs
			border-radius: $border-r
			background: var(--bg-1)

		&.active
			background: linear-gradient(120deg,rgba(108, 216, 165, 0.8) 0%,rgba(247, 186, 55, 0.8) 50%,rgba(247, 69, 111, 0.8) 100%)
			color: var(--font-color)

			.border-color
				background: var(--bg-2)

		&:hover
			.border-color
				background: var(--bg)

.filters-summary
	margin-top: $sp-m
	padding: $sp-xxs
	position: sticky
	top: $header-height
	z-index: 90
	background: var(--bg)
	margin-left: -$sp-xxs
	width: 100%
	display: flex
	gap: $sp-xxs
	flex-wrap: wrap
	justify-content: flex-end

	.tag-filter
		padding: $sp-xxxs $sp-xxs
		background: var(--yellow)
		color: var(--bg-1)
		width: fit-content
		font-weight: 600
		border-radius: 3px
		display: flex
		justify-content: center
		align-items: center
		gap: $sp-xxxs
		border: none
		font-size: 0.9em
		height: 26px

		&.alternative
			background: var(--red)

		&.badge, &.platform
			background: var(--green)
			padding: $sp-xxxs
			.icon
				width: 22px
				height: 22px

		&.platform
			background: var(--secondary)

@media screen and (max-width: $laptop)
	.projects-page
		.view-modes
			display: none

@media (max-width: $desktop)
	.container
		gap: 40px
		align-items: center

		.content-container
			width: 100%

	.filters
		position: relative
		max-height: 400px

		.filter-list
			position: relative
			max-height: 315px

// Mobile only
@media screen and (max-width: $laptop)

	.projects-page
		.container
			flex-direction: column

		h1
			max-width: 260px

	.title-box
		height: $sp-xl
		width: 100%
		display: flex
		align-items: center
		justify-content: center

	.not-ready
		display: flex
		flex-direction: column
		justify-content: center
		width: 100%
		padding: $sp-s

		.name
			display: flex
			flex-direction: column
			align-items: center
			gap: $sp-xxs

// Yellow and more
@media screen and (min-width: $laptop)
	.container
		justify-content: center

		.title-box
			width: 100%
			margin: $sp-l $sp-s
			height: $sp-l

			h1
				font-size: toRem(32)
				margin-bottom: 0

	.hashtag
		padding: 2px
		text-decoration-color: var(--yellow)

	.search
		position: relative

@media screen and (min-width: $desktop)
	.filters-summary
		display: none
</style>
