<script setup lang="ts"></script>

<template>
	<main class="roadmap-page page">
		<h1>{{ $t('roadmap.roadmap') }}</h1>
		<div class="milestones">
			{{ $t('roadmap.reviewMilestones') }}
			<NuxtLink to="https://codeberg.org/Veenk/veenk.org/milestones">Codeberg</NuxtLink>
		</div>
		<RoadmapManager />
	</main>
</template>

<style lang="sass">
.roadmap-page
	.milestones
		text-align: center
		margin-bottom: $sp-l

		a:hover
			color: var(--secondary)
			text-decoration-color: var(--secondary)
	.roadmap-list
		margin-inline: auto

	.item
		color: var(--font-color)
		display: flex
		gap: $sp-s
		font-weight: 600

		& .right
			display: flex
			flex-direction: column
			gap: $sp-xs
			font-weight: normal

		& .right .name
			color: var(--primary)
			font-weight: bold

.roadmap-list .coming-soon
	color: var(--yellow)

// Green and Blue
@media screen and (max-width: $laptop)
	.roadmap-page
		padding: 160px 6vw

		.roadmap-list
			display: flex
			flex-direction: column
			gap: 60px

			.item
				padding: $sp-xs
				flex-direction: column
				line-height: 1.3
				gap: $sp-xs

				& .date
					align-self: flex-end
					font-weight: 400

				.name
					font-size: toRem(16)

// Yellow and more
@media screen and (min-width: $laptop)
	.roadmap-page
		margin-inline: auto
		.item
			padding: 40px $sp-xl
			gap: $sp-xxl
			align-items: center
			justify-content: center
			text-align: center

			& .date
				width: 190px

			& .right
				width: 600px
</style>
