<script setup lang="ts">
import { ERRORS } from '~/constants/errors'

const route = useRoute()

const { slug } = route.params

const validSlug = computed(() => {
	if (typeof slug !== 'string') {
		throw createError({
			statusCode: 404,
			statusMessage: 'Page Not Found'
		})
	}
	return slug
})

definePageMeta({
	middleware: [
		async function ({ params }) {
			const { checkSlug } = useProjects()

			if (!params.slug || typeof params.slug !== 'string') {
				return abortNavigation(
					createError({
						statusCode: 404,
						statusMessage: ERRORS.PAGE_NOT_FOUND
					})
				)
			}

			const project = checkSlug(params.slug)

			if (!project) {
				return abortNavigation(
					createError({
						statusCode: 404,
						statusMessage: ERRORS.PROJECT_NOT_FOUND
					})
				)
			}
		}
	]
})

// const exampleGoal = {
// 	name: 'Version 1.0',
// 	amount: 245,
// 	collected: 80,
// }

// const forUsers = document.getElementById('forUsers')!
// const forFunders = document.getElementById('forFunders')!
// const forDevs = document.getElementById('forDevs')!
// const forTranslators = document.getElementById('forTranslators')!

// const navElements: { [key: string]: HTMLElement } = {
// 	forUsers: document.getElementById('forUsersNav')!,
// 	forFunders: document.getElementById('forFundersNav')!,
// 	forDevs: document.getElementById('forDevsNav')!,
// 	forTranslators: document.getElementById('forTranslatorsNav')!,
// }

// let actualVisible = 'forUsers'

// function isElementInViewport(el: HTMLElement) {
// 	var rect = el.getBoundingClientRect()

// 	const isMobile = window.innerWidth < 768
// 	if (isMobile) {
// 		return rect.top >= 0 && rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)
// 	} else {
// 		return rect.top >= 0 && rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)
// 	}
// }

// var handler = function () {
// 	if (isElementInViewport(forUsers) && actualVisible !== 'forUsers') {
// 		navElements[actualVisible].classList.remove('active')
// 		navElements.forUsers.classList.add('active')
// 		actualVisible = 'forUsers'
// 	} else if (isElementInViewport(forFunders) && actualVisible !== 'forFunders') {
// 		navElements[actualVisible].classList.remove('active')
// 		navElements.forFunders.classList.add('active')
// 		actualVisible = 'forFunders'
// 	} else if (isElementInViewport(forDevs) && actualVisible !== 'forDevs') {
// 		navElements[actualVisible].classList.remove('active')
// 		navElements.forDevs.classList.add('active')
// 		actualVisible = 'forDevs'
// 	} else if (isElementInViewport(forTranslators) && actualVisible !== 'forTranslators') {
// 		navElements[actualVisible].classList.remove('active')
// 		navElements.forTranslators.classList.add('active')
// 		actualVisible = 'forTranslators'
// 	}
// }

// onMounted(() => {
// 	window.addEventListener('scroll', handler)
// })

// const localePath = useLocalePath()
</script>

<template>
	<main class="project-page page">
		<ProjectsProfileManager :slug="validSlug" />
		<ValuesSection />
	</main>
</template>

<style scoped lang="sass">

.project-page
	background: var(--bg)

	h4
		font-size: 26px
		font-weight: 500
		color: var(--soft-font-color)

// Green and Blue
@media screen and (max-width: $tablet)
	.project-page
		padding: 0

		&.page
			padding: 0

		.project-name
			font-size: toRem(20)

// Red and Black
@media screen and (min-width: $desktop)
	.project-page
		padding: 100px $sp-xxl 0
</style>
