<script setup lang="ts">
import SelectorSlider from './slider/SelectorSlider.vue'
import VeenkPlatformSlide from './slider/VeenkPlatformSlide.vue'
import ProjectDonationSlide from './slider/ProjectDonationSlide.vue'

import { useInternalFinancesStore } from '~/stores/internalFinances'

interface ProjectDonationProps {
	projectSlug: string | null
}

const props = defineProps<ProjectDonationProps>()

const internalFinancesStore = useInternalFinancesStore()
const selected = ref(0)
const defaultProject = ref<ProjectDonationInfo>()

const { fetchAllProjects, getDonationInfoBySlug } = useProjects()
const projectsStore = useProjectsStore()

if (props.projectSlug) {
	const project = await getDonationInfoBySlug(props.projectSlug)
	defaultProject.value = project
}

onMounted(() => {
	fetchAllProjects()
})
</script>

<template>
	<div class="project-donation">
		<div class="project-selection">
			<SelectorSlider v-model="selected" />
		</div>
		<div class="active-section">
			<ProjectDonationSlide
				v-if="selected === 0"
				:projects="projectsStore.allProjects"
				:default-project="defaultProject"
			/>
			<VeenkPlatformSlide
				v-if="selected === 1"
				:label="internalFinancesStore.label"
				:stats="internalFinancesStore.stats"
			/>
			<div v-if="selected === 2" class="internal-project">
				<h3>{{ $t('comingSoon') }}</h3>
				<div class="text">{{ $t('donatePage.stillNoInternal') }}</div>
			</div>
		</div>
	</div>
</template>

<style lang="sass">
.project-donation
	display: flex
	align-items: center
	margin: auto

.project-selection
	padding: 60px 0

.internal-project
	color: var(--font-color)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	text-align: center
	border-radius: $border-r
	overflow: hidden
	min-height: 460px
	background: var(--bg-2)
	border: solid 1px var(--soft-font-color)
	padding: 40px
	box-shadow: var(--box-shadow)

// Green and Blue
@media screen and (max-width: $laptop)
	.project-donation
		flex-direction: column
		margin-bottom: $sp-xxl

	.project-selection
		width: 100%

		position: relative
		padding: 0
		margin: 60px 0

	.external-project
		align-items: center
		gap: $sp-xs

	.internal-project

		h3
			font-size: toRem(32)
			font-weight: 700

		.text
			width: 80vw
			line-height: 1.5
			font-size: toRem(15)
			font-weight: 400

// Yellow and more
@media screen and (min-width: $laptop)

	.project-donation
		max-width: var(--max-width)
		width: fit-content
		gap: $sp-xl

	.internal-project
		width: 848px

// Yellow only
@media screen and (min-width: $laptop) and (max-width: $desktop)
	.project-donation
		flex-direction: column

		.selection-columns
			flex-direction: row
			gap: $sp-m

			.selection-box
				width: 280px
</style>
