<template>
	<svg
		class="icon"
		width="16"
		height="16"
		viewBox="0 0 4.2333332 4.2333335"
		version="1.1"
		id="svg1468"
		sodipodi:docname="codeberg-logo_icon_white.svg"
		inkscape:version="1.2-alpha1 (b6a15bb, 2022-02-23)"
		inkscape:export-filename="/home/robert/Documents/Codeberg/Logo-Kit/svg/Codeberg-favicon_64px.png"
		inkscape:export-xdpi="384"
		inkscape:export-ydpi="384"
		xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		xmlns:cc="http://creativecommons.org/ns#"
		xmlns:dc="http://purl.org/dc/elements/1.1/"
	>
		<title id="title16">Codeberg logo</title>
		<defs id="defs1462">
			<linearGradient
				xlink:href="#linearGradient6924"
				id="linearGradient6918"
				x1="42519.285"
				y1="-7078.7891"
				x2="42575.336"
				y2="-6966.9307"
				gradientUnits="userSpaceOnUse"
			/>
			<linearGradient id="linearGradient6924">
				<stop style="stop-color: #2185d0; stop-opacity: 0" offset="0" id="stop6920" />
				<stop id="stop6926" offset="0.49517274" style="stop-color: #2185d0; stop-opacity: 0.48923996" />
				<stop style="stop-color: #2185d0; stop-opacity: 0.63279623" offset="1" id="stop6922" />
			</linearGradient>
			<linearGradient
				xlink:href="#linearGradient6924-6"
				id="linearGradient6918-3"
				x1="42519.285"
				y1="-7078.7891"
				x2="42575.336"
				y2="-6966.9307"
				gradientUnits="userSpaceOnUse"
			/>
			<linearGradient id="linearGradient6924-6">
				<stop style="stop-color: currentColor; stop-opacity: 0" offset="0" id="stop6920-7" />
				<stop id="stop6926-5" offset="0.49517274" style="stop-color: currentColor; stop-opacity: 0.30000001" />
				<stop style="stop-color: currentColor; stop-opacity: 0.30000001" offset="1" id="stop6922-3" />
			</linearGradient>
		</defs>
		<g id="g370484" inkscape:label="logo" transform="matrix(0.06551432,0,0,0.06551432,-2.232417,-1.431776)">
			<path
				id="path6733-5"
				style="
					font-variation-settings: normal;
					opacity: 1;
					fill: url(#linearGradient6918-3);
					fill-opacity: 1;
					stroke: none;
					stroke-width: 3.67846;
					stroke-linecap: butt;
					stroke-linejoin: miter;
					stroke-miterlimit: 2;
					stroke-dasharray: none;
					stroke-dashoffset: 0;
					stroke-opacity: 1;
					paint-order: stroke markers fill;
					stop-color: #000000;
					stop-opacity: 1;
				"
				d="m 42519.285,-7078.7891 a 0.76086879,0.56791688 0 0 0 -0.738,0.6739 l 33.586,125.8886 a 87.182358,87.182358 0 0 0 39.381,-33.7636 l -71.565,-92.5196 a 0.76086879,0.56791688 0 0 0 -0.664,-0.2793 z"
				transform="matrix(0.37058478,0,0,0.37058478,-15690.065,2662.0533)"
				inkscape:label="berg"
			/>
			<path
				id="path360787"
				style="
					opacity: 1;
					fill: currentColor;
					fill-opacity: 1;
					stroke-width: 17.0055;
					paint-order: markers fill stroke;
					stop-color: #000000;
				"
				d="m 11249.461,-1883.6961 c -12.74,0 -23.067,10.3275 -23.067,23.0671 0,4.3335 1.22,8.5795 3.522,12.2514 l 19.232,-24.8636 c 0.138,-0.1796 0.486,-0.1796 0.624,0 l 19.233,24.8646 c 2.302,-3.6721 3.523,-7.9185 3.523,-12.2524 0,-12.7396 -10.327,-23.0671 -23.067,-23.0671 z"
				inkscape:label="sky"
				transform="matrix(1.4006354,0,0,1.4006354,-15690.065,2662.0533)"
			/>
		</g>
	</svg>
</template>

<style></style>
