<script lang="ts" setup></script>

<template>
	<svg class="icon" viewBox="0 0 212 212" xmlns="http://www.w3.org/2000/svg">
		<g transform="translate(6,6)">
			<path d="M58 168 v-98 a50 50 0 0 1 50-50 h20" />
			<path d="M58 168 v-30 a50 50 0 0 1 50-50 h20" fill="currentColor" />
			<circle cx="142" cy="20" r="18" />
			<circle cx="142" cy="88" r="18" fill="currentColor" />
			<circle cx="58" cy="180" r="18" fill="currentColor" />
		</g>
	</svg>
</template>

<style scoped lang="sass">
circle
	fill: none
	stroke: currentColor
	stroke-width: 15

path
	fill: none
	stroke: currentColor
	stroke-width: 25
</style>
