<script setup lang="ts">
const props = defineProps<{ option: DonationOption }>()

import icons from '~/components/Icon/Donation/index'
</script>

<template>
	<a
		:href="props.option.url"
		target="_blank"
		class="donation-circle"
		:class="{ gradient: props.option.type === 'veenk' }"
		rel="noreferrer"
	>
		<div class="border-gradient">
			<component :is="icons[props.option.type]" />
		</div>
	</a>
</template>

<style scoped lang="sass">
.donation-circle
	display: flex
	width: 40px
	height: 40px
	justify-content: center
	align-items: center
	padding: 1px
	gap: $sp-xxs
	font-size: 13px
	font-weight: 400
	line-height: normal
	border-radius: 50%
	background: var(--primary)
	cursor: pointer

	.icon
		width: 22px
		height: 22px
		fill: var(--font-color)
		flex-shrink: 0

	.border-gradient
		background: var(--bg)
		border-radius: 50%
		height: 100%
		width: 100%
		display: flex
		justify-content: center
		align-items: center

	&.gradient
		background: var(--veenk-gradient)
		.icon
			fill: url(#veenk-gradient)

	&:hover
		background: var(--bg-2)
		color: var(--bg-1)
		.border-gradient
			background: var(--primary-active)
		.icon
			fill: var(--bg-1)
			color: var(--bg-1)
</style>
