<script setup lang="ts">
import { hasFee } from '~/constants/dontaions'

interface DonationOptionProps {
	type: DonationOptions
	customData?: () => CustomDonation | undefined
	fromOrganization?: boolean
}

import icons from '~/components/Icon/Donation/index'

const { type, customData, fromOrganization } = defineProps<DonationOptionProps>()

const visibleSupport = ['liberapay', 'opencollective', 'patreon', 'github-sponsors']
const recurringDonations = ['buymeacoffee', 'liberapay', 'patreon', 'opencollective', 'github-sponsors']
const withStripe = ['liberapay', 'buymeacoffee']
const withPaypal = ['liberapay', 'opencollective']
const names: { [key: string]: string } = {
	veenk: 'Veenk',
	liberapay: 'LiberaPay',
	opencollective: 'Open Collective',
	patreon: 'Patreon',
	custom: 'Custom',
	paypal: 'PayPal',
	'github-sponsors': 'Github Sponsors',
	buymeacoffee: 'Buy Me a Coffee',
}
</script>

<template>
	<div class="donation-option" :class="{ gradient: type === 'liberapay' || type === 'custom' }">
		<div class="gradient-wrapper">
			<div class="donation-option-header">
				<component :is="icons[type]" />
				{{ names[type] }}
			</div>
			<div class="useful-info">
				<div v-if="Object.keys(hasFee).includes(type)" class="normal">
					<Icon class="icon" name="ph:check" />
					<span>
						{{ $t('donatePage.hasFeeOf') }}
						<b>{{ fromOrganization ? hasFee[type].forOrg : hasFee[type].percentage }}%</b>
						<template v-if="hasFee[type].fixed">
							+ <b>{{ hasFee[type].fixed }}€</b>
						</template>
					</span>
				</div>

				<div v-if="withPaypal.includes(type) || customData?.()?.paypal" class="normal">
					<Icon class="icon" name="ph:check" />
					<span>
						{{ $t('donatePage.if') }} <b>PayPal</b> {{ $t('donatePage.isSelected') }} <b>2,9%</b> + <b>0,35€</b>
						{{ $t('donatePage.fee') }}
					</span>
				</div>

				<div v-if="visibleSupport.includes(type)" class="has-check">
					<Icon class="icon" name="ph:check" />
					<span>{{ $t('donatePage.supportVisible') }}</span>
				</div>

				<div v-if="recurringDonations.includes(type)" class="has-check">
					<Icon class="icon" name="ph:check" />
					<span>
						{{ $t('donatePage.recurringDonations') }}
						<template v-if="withStripe.includes(type)">
							{{ $t('donatePage.with') }} <b>Stripe</b>
							<br />
							<b>1,5%</b> + <b>0,25€</b> {{ $t('donatePage.fee') }}
						</template>
					</span>
				</div>

				<template v-if="type === 'custom'">
					<div v-if="customData?.()?.bankTransfer" class="normal">
						<Icon class="icon" name="ph:check" />
						<span>{{ $t('donatePage.bankAvailable') }}.</span>
					</div>

					<div v-if="customData?.()?.mollie" class="normal">
						<Icon class="icon" name="ph:check" />
						<span>
							{{ $t('donatePage.forCredit') }} <b>Mollie</b> {{ $t('donatePage.thatHas') }} <br />
							<b>{{ hasFee.mollie.percentage }}%</b> + <b>{{ hasFee.mollie.fixed }}€</b> {{ $t('donatePage.fee') }}
						</span>
					</div>

					<div v-if="customData?.()?.monetico" class="normal">
						<Icon class="icon" name="ph:check" />
						<span>
							{{ $t('donatePage.forCredit') }} <b>Monetico</b> {{ $t('donatePage.thatHas') }} <br />
							<b>? €</b> {{ $t('donatePage.fee') }}
						</span>
					</div>

					<div v-if="customData?.()?.stripe" class="normal">
						<Icon class="icon" name="ph:check" />
						<span>
							{{ $t('donatePage.forCredit') }} <b>Stripe</b> {{ $t('donatePage.thatHas') }} <br />
							<b>{{ hasFee.stripe.percentage }}%</b> + <b>{{ hasFee.stripe.fixed }}€</b> {{ $t('donatePage.fee') }}
						</span>
					</div>

					<div v-if="customData?.()?.donorbox" class="normal">
						<Icon class="icon" name="ph:check" />
						<span>
							{{ $t('donatePage.forCredit') }} <b>Donorbox</b> {{ $t('donatePage.thatHas') }} <br />
							<b>{{ hasFee.donorbox.percentage }}%</b> + Paypal/Stripe {{ $t('donatePage.fee') }}
						</span>
					</div>

					<div v-if="customData?.()?.hubspot" class="normal">
						<Icon class="icon" name="ph:check" />
						<span>
							{{ $t('donatePage.forCredit') }} <b>HubSpot</b> {{ $t('donatePage.thatHas') }} <br />
							<b>{{ hasFee.hubspot.percentage }}%</b> {{ $t('donatePage.fee') }}
						</span>
					</div>

					<div v-if="customData?.()?.clickandpledge" class="normal">
						<Icon class="icon" name="ph:check" />
						<span>
							{{ $t('donatePage.forCredit') }} <b>Click & Pledge</b> {{ $t('donatePage.thatHas') }} <br />
							<b>{{ hasFee.clickandpledge.percentage }}%</b> + <b>{{ hasFee.clickandpledge.fixed }}€</b> +
							<b>{{ $t('donatePage.paymentMethod') }}</b> {{ $t('donatePage.fee') }}
						</span>
					</div>
				</template>
			</div>
		</div>
	</div>
</template>

<style scoped lang="sass">
.donation-option
	padding: 1px
	border-radius: $border-r
	color: var(--font-color)
	font-size: 12px
	line-height: 1.4
	font-weight: 500
	height: 100%
	min-height: 235px
	background: var(--bg-2)
	box-shadow: var(--box-shadow)

	&.gradient
		background: var(--veenk-gradient)

	b
		color: var(--font-color)

	.donation-option-header
		border-bottom: solid 1px var(--soft-font-color)
		display: flex
		align-items: center
		justify-content: center
		padding: 0 $sp-xxs $sp-xxs
		gap: $sp-xxs
		font-weight: 600

	.gradient-wrapper
		width: 210px
		border-radius: $border-r
		background: var(--bg-2)
		padding: $sp-xs
		display: flex
		flex-direction: column
		gap: $sp-xs
		height: 100%

		.icon
			width: 20px
			height: 20px
			fill: var(--font-color)

	.useful-info
		display: flex
		flex-direction: column
		gap: $sp-xs

		div
			display: flex
			align-items: center
			gap: $sp-xxs

			.icon
				display: none
				width: 20px
				height: 20px
				color: var(--green)

		.normal
			position: relative
			margin-left: 28px
			&::after
				content: ''
				position: absolute
				left: -22px
				top: 6px
				width: 6px
				height: 6px
				border-radius: 50%
				background: var(--soft-font-color)

		.has-check
			margin-left: 0px
			.icon
				display: block

html[data-theme='light']
	.donation-option.gradient
		background: var(--green)

		.gradient-wrapper
			background: var(--green-bg-2)
</style>
