<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Hammer Icon</title>
		<path
			d="M23.5172 9.77739L16.539 2.85982C14.6753 1.02851 12.1499 0 9.51689 0C6.88388 0 4.35843 1.02851 2.49476 2.85982L2.48545 2.86899L1.06106 4.3183C0.913508 4.47442 0.834008 4.68129 0.839627 4.89448C0.845246 5.10768 0.935535 5.3102 1.09111 5.45858C1.24669 5.60697 1.45515 5.68938 1.67175 5.68812C1.88835 5.68687 2.09581 5.60205 2.2496 5.45187L3.66985 4.00766C4.24125 3.44517 4.89332 2.9682 5.60525 2.59196L10.4153 7.33302L0.484891 17.1105C0.331164 17.2618 0.209219 17.4415 0.12602 17.6392C0.042822 17.8369 0 18.0489 0 18.2629C0 18.4769 0.042822 18.6889 0.12602 18.8866C0.209219 19.0843 0.331164 19.264 0.484891 19.4153L2.6251 21.5226C2.77879 21.6739 2.96126 21.794 3.16208 21.8759C3.36291 21.9578 3.57816 22 3.79554 22C4.01291 22 4.22816 21.9578 4.42899 21.8759C4.62982 21.794 4.81228 21.6739 4.96598 21.5226L14.8964 11.7451L16.3797 13.2056L18.2065 15.0022C18.3602 15.1536 18.5427 15.2737 18.7435 15.3556C18.9443 15.4375 19.1596 15.4796 19.3769 15.4796C19.5943 15.4796 19.8096 15.4375 20.0104 15.3556C20.2112 15.2737 20.3937 15.1536 20.5474 15.0022L23.5151 12.0802C23.8252 11.7749 23.9996 11.361 24 10.9292C24.0004 10.4974 23.8267 10.0832 23.5172 9.77739ZM3.79502 20.3696L1.65585 18.2624L8.68987 11.3367L10.829 13.4439L3.79502 20.3696ZM14.3109 10.0137L12 12.29L9.85979 10.1848L12.1717 7.90846C12.2487 7.83279 12.3097 7.74293 12.3513 7.64401C12.393 7.5451 12.4144 7.43907 12.4144 7.332C12.4144 7.22492 12.393 7.1189 12.3513 7.01998C12.3097 6.92107 12.2487 6.83121 12.1717 6.75554L7.27479 1.93504C8.68959 1.54271 10.185 1.52849 11.6072 1.89384C13.0295 2.25918 14.3272 2.9909 15.367 4.01377L19.9412 8.54705L16.9652 11.4742L15.4818 10.0137C15.405 9.93792 15.3137 9.87782 15.2133 9.83682C15.1128 9.79581 15.0051 9.77471 14.8964 9.77471C14.7876 9.77471 14.6799 9.79581 14.5795 9.83682C14.479 9.87782 14.3877 9.93792 14.3109 10.0137ZM19.3795 13.8493L18.1382 12.6271L21.1029 9.701L22.3442 10.9232L19.3795 13.8493Z"
		/>
	</svg>
</template>
