<script lang="ts" setup></script>

<template>
	<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 256 256">
		<defs>
			<linearGradient id="shape-gradient" x2="0.65" y2="1" gradientTransform="rotate(-25)">
				<stop offset="0%" stop-color="var(--green)" />
				<stop offset="50%" stop-color="var(--yellow)" />
				<stop offset="100%" stop-color="var(--red)" />
			</linearGradient>
		</defs>
		<path
			d="M240,94c0,70-103.79,126.66-108.21,129a8,8,0,0,1-7.58,0C119.79,220.66,16,164,16,94A62.07,62.07,0,0,1,78,32c20.65,0,38.73,8.88,50,23.89C139.27,40.88,157.35,32,178,32A62.07,62.07,0,0,1,240,94Z"
		/>
	</svg>
</template>
