<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Rotate Active Icon</title>
		<g>
			<path
				d="M20.5385 11.1818H10.1538C9.84783 11.1818 9.55434 11.2967 9.33795 11.5013C9.12157 11.7059 9 11.9834 9 12.2727V19.9091C9 20.1984 9.12157 20.4759 9.33795 20.6805C9.55434 20.8851 9.84783 21 10.1538 21H20.5385C20.8445 21 21.138 20.8851 21.3544 20.6805C21.5707 20.4759 21.6923 20.1984 21.6923 19.9091V12.2727C21.6923 11.9834 21.5707 11.7059 21.3544 11.5013C21.138 11.2967 20.8445 11.1818 20.5385 11.1818ZM24 10.0909V18.2727C24 18.4174 23.9392 18.5561 23.831 18.6584C23.7228 18.7607 23.5761 18.8182 23.4231 18.8182C23.2701 18.8182 23.1233 18.7607 23.0151 18.6584C22.9069 18.5561 22.8462 18.4174 22.8462 18.2727V10.0909H11.8846C11.7316 10.0909 11.5849 10.0334 11.4767 9.93113C11.3685 9.82884 11.3077 9.6901 11.3077 9.54544C11.3077 9.40078 11.3685 9.26204 11.4767 9.15974C11.5849 9.05745 11.7316 8.99998 11.8846 8.99998H22.8462C23.1522 8.99998 23.4457 9.11492 23.662 9.3195C23.8784 9.52409 24 9.80157 24 10.0909Z"
				fill="#D1D1D1"
			/>
			<path
				d="M8.23614 3.28406L10.5081 5.55604C10.5834 5.63136 10.6247 5.73463 10.6227 5.84312C10.6207 5.95162 10.5757 6.05645 10.4976 6.13456L8.14143 8.49073C8.06332 8.56885 7.95848 8.61384 7.84999 8.61581C7.7415 8.61778 7.63823 8.57658 7.56291 8.50126C7.48759 8.42594 7.44638 8.32267 7.44836 8.21418C7.45033 8.10568 7.49532 8.00085 7.57343 7.92274L9.21539 6.28078L7.60375 6.31552C6.71369 6.3315 5.83875 6.61109 5.08961 7.11891C4.34046 7.62674 3.75076 8.33999 3.39509 9.16847C3.03942 9.99694 2.93376 10.9034 3.09146 11.7732C3.24917 12.643 3.66316 13.4371 4.28108 14.0551C4.3564 14.1304 4.39761 14.2337 4.39564 14.3422C4.39366 14.4506 4.34867 14.5555 4.27056 14.6336C4.19245 14.7117 4.08761 14.7567 3.97912 14.7587C3.87063 14.7606 3.76736 14.7194 3.69204 14.6441C2.96181 13.9139 2.47254 12.9755 2.2861 11.9477C2.09966 10.9198 2.22442 9.84862 2.6446 8.86955C3.06478 7.89049 3.76152 7.04752 4.6467 6.44726C5.53188 5.84701 6.56574 5.51641 7.61755 5.4973L9.23642 5.46243L7.6471 3.8731C7.57178 3.79778 7.53057 3.69452 7.53254 3.58602C7.53452 3.47753 7.57951 3.37269 7.65762 3.29458C7.73573 3.21647 7.84057 3.17148 7.94906 3.16951C8.05755 3.16753 8.16082 3.20874 8.23614 3.28406Z"
				fill="#D1D1D1"
			/>
		</g>
	</svg>
</template>
