<script lang="ts" setup></script>

<template>
	<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>Rotate Icon</title>
		<g>
			<path
				d="M20.3077 10.5455H9.23077C8.90435 10.5455 8.5913 10.6795 8.36048 10.9182C8.12967 11.1569 8 11.4806 8 11.8182V20.7273C8 21.0648 8.12967 21.3885 8.36048 21.6272C8.5913 21.8659 8.90435 22 9.23077 22H20.3077C20.6341 22 20.9472 21.8659 21.178 21.6272C21.4088 21.3885 21.5385 21.0648 21.5385 20.7273V11.8182C21.5385 11.4806 21.4088 11.1569 21.178 10.9182C20.9472 10.6795 20.6341 10.5455 20.3077 10.5455ZM20.3077 20.7273H9.23077V11.8182H20.3077V20.7273ZM24 9.27273V18.8182C24 18.987 23.9352 19.1488 23.8198 19.2682C23.7044 19.3875 23.5478 19.4545 23.3846 19.4545C23.2214 19.4545 23.0649 19.3875 22.9495 19.2682C22.8341 19.1488 22.7692 18.987 22.7692 18.8182V9.27273H11.0769C10.9137 9.27273 10.7572 9.20568 10.6418 9.08634C10.5264 8.967 10.4615 8.80514 10.4615 8.63636C10.4615 8.46759 10.5264 8.30573 10.6418 8.18639C10.7572 8.06705 10.9137 8 11.0769 8H22.7692C23.0957 8 23.4087 8.13409 23.6395 8.37277C23.8703 8.61146 24 8.93518 24 9.27273Z"
				fill="#D1D1D1"
			/>
			<path
				d="M8.39866 3.28967L10.7155 5.60649C10.7923 5.6833 10.8343 5.7886 10.8323 5.89923C10.8303 6.00987 10.7844 6.11677 10.7047 6.19642L8.30208 8.59909C8.22243 8.67874 8.11552 8.72462 8.00489 8.72663C7.89426 8.72865 7.78895 8.68663 7.71215 8.60982C7.63534 8.53301 7.59332 8.42771 7.59533 8.31707C7.59734 8.20644 7.64322 8.09954 7.72288 8.01988L9.39723 6.34553L7.75379 6.38095C6.84617 6.39725 5.95397 6.68235 5.19004 7.2002C4.42611 7.71804 3.82478 8.44537 3.46209 9.29019C3.0994 10.135 2.99165 11.0594 3.15246 11.9464C3.31328 12.8333 3.73545 13.6431 4.36556 14.2732C4.44237 14.35 4.48439 14.4553 4.48237 14.566C4.48036 14.6766 4.43448 14.7835 4.35483 14.8632C4.27517 14.9428 4.16827 14.9887 4.05764 14.9907C3.947 14.9927 3.8417 14.9507 3.76489 14.8739C3.02026 14.1293 2.52133 13.1724 2.33121 12.1243C2.14109 11.0761 2.26831 9.98377 2.69678 8.98538C3.12526 7.98699 3.83574 7.1274 4.73839 6.5153C5.64104 5.90319 6.6953 5.56608 7.76787 5.54658L9.41868 5.51102L7.79799 3.89034C7.72119 3.81353 7.67917 3.70823 7.68118 3.59759C7.68319 3.48696 7.72907 3.38006 7.80872 3.3004C7.88838 3.22075 7.99528 3.17487 8.10591 3.17286C8.21655 3.17085 8.32185 3.21287 8.39866 3.28967Z"
				fill="#D1D1D1"
			/>
		</g>
	</svg>
</template>
