<script setup lang="ts">
import MonthAccordion from './MonthAccordion.vue'
const internalFinancesStore = useInternalFinancesStore()

const list = ref()

onMounted(() => {
	internalFinancesStore.fetchList().then((data) => {
		list.value = data
	})
})
</script>
<template>
	<div class="finances-list" v-if="list">
		<MonthAccordion v-for="(item, idx) in list" :finances="item" :key="idx" :open-by-default="idx === 0" />
	</div>
</template>

<style scoped></style>
