<script setup lang="ts">
interface IMonthAccordionProps {
	finances: InternalFinances
	openByDefault: boolean
}
const { finances, openByDefault = false } = defineProps<IMonthAccordionProps>()

const open = ref(false)

onMounted(() => {
	open.value = openByDefault
})
</script>

<template>
	<div class="month-accordion">
		<div class="header">
			<div class="name">{{ `${$t(`months.${finances.month - 1}`)} ${finances.year}` }}</div>
			<div class="finances">
				<FinancesBar
					:label="`${$t(`months.${finances.month - 1}`).slice(0, 3)} ${finances.year}`"
					:collected="finances.total_collected"
					:goal="finances.total_expended"
				/>
			</div>
		</div>
		<template v-if="open">
			<div class="expenses-section">
				<div class="top">
					<div>
						<Icon class="icon" name="ph-receipt" />
						{{ $t('finances.expenses') }}
					</div>
					<!-- <a class="icon-btn">
							<PhDownloadSimple />
							{{$t('finances.download')}}.csv
						</a>  -->
				</div>
				<table>
					<thead>
						<tr>
							<th>{{ $t('finances.date') }}</th>
							<th>{{ $t('finances.name') }}</th>
							<th>{{ $t('finances.amount') }}</th>
							<th>{{ $t('finances.source') }}</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in finances.expenses">
							<td>{{ item.date }}</td>
							<td>{{ item.name }}</td>
							<td>{{ item.amount }} €</td>
							<td>
								<a :href="item.source" target="_blank" rel="noreferrer">
									{{ item.sourceName }}
									<Icon name="ph-arrow-up-right" />
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="takings-section" v-if="finances.takings && finances.takings.length > 0">
				<div class="top">
					<div>
						<svg class="icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
							<title>hand receiving coins icon</title>
							<path
								d="M229.12,142.65a22.43,22.43,0,0,0-19.55-3.88l-45.24,10.4A26,26,0,0,0,140,114H89.94a29.78,29.78,0,0,0-21.21,8.79L45.52,146H16A14,14,0,0,0,2,160v40a14,14,0,0,0,14,14H120a6,6,0,0,0,1.46-.18l64-16a7.16,7.16,0,0,0,.89-.3L225.17,181l.33-.15a22.6,22.6,0,0,0,3.62-38.18ZM14,200V160a2,2,0,0,1,2-2H42v44H16A2,2,0,0,1,14,200Zm206.28-30-38.2,16.27L119.26,202H54V154.49l23.21-23.22A17.88,17.88,0,0,1,89.94,126H140a14,14,0,0,1,0,28H112a6,6,0,0,0,0,12h32a6,6,0,0,0,1.34-.15l67-15.41.24-.06A10.6,10.6,0,0,1,220.28,170ZM164,94a34.54,34.54,0,0,0,7.28-.78,34,34,0,1,0,25.46-42.43A34,34,0,1,0,164,94Zm62-10a22,22,0,1,1-22-22A22,22,0,0,1,226,84ZM164,38a21.94,21.94,0,0,1,21.51,17.49,34,34,0,0,0-15.38,25.65A22,22,0,1,1,164,38Z"
							/>
						</svg>
						{{ $t('finances.takings') }}
					</div>
					<!-- <a class="icon-btn">
								<PhDownloadSimple />
								{{$t('finances.download')}}.csv
							</a> -->
				</div>
				<table>
					<thead>
						<tr>
							<th>{{ $t('finances.date') }}</th>
							<th>{{ $t('finances.name') }}</th>
							<th>{{ $t('finances.amount') }}</th>
							<th>{{ $t('finances.source') }}</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in finances.takings">
							<td>{{ item.date }}</td>
							<td>{{ item.name }}</td>
							<td>{{ item.amount }} €</td>
							<td>
								<a target="_blank" :href="item.source" rel="noreferrer">
									{{ item.sourceName }}
									<Icon class="icon" name="ph:arrow-up-right" />
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</template>
		<div class="open-close-btn" @click="() => (open = !open)" @keypress="() => (open = !open)">
			<Icon v-if="open" class="icon" name="ph:caret-up" />
			<Icon v-else class="icon" name="ph:caret-down" />
		</div>
	</div>
</template>

<style scoped lang="sass">
.month-accordion
	background: var(--bg-2)
	padding-top: 24px
	border-radius: var(--br)
	overflow: hidden
	box-shadow: var(--box-shadow)
	height: auto
	transition: all 0.4s ease-in-out
	@starting-style
		height: 0

	.expenses-section,
	.takings-section
		padding: 24px
		color: var(--font-color)

	.top
		display: flex
		justify-content: space-between
		align-items: center
		font-size: 24px
		padding: 24px 40px
		& > div
			display: flex
			align-items: center
			.icon
				margin-right: 16px
				padding-top: 4px
				width: 28px
				height: 28px

	.icon-btn
		border: solid 1px var(--soft-font-color)
		background: var(--bg)
		border-bottom-width: 3px
		border-radius: var(--br)
		padding: 4px 8px
		font-size: 13px
		cursor: pointer
		transition: all 0.2s ease-in-out
		box-sizing: content-box
		user-select: none
		display: flex
		justify-content: center
		align-items: center
		gap: 8px
		margin-top: 4px
		text-decoration: none
		color: var(--font-color)
		width: 150px

		&:hover
			font-weight: bold
			background: var(--bg-2)
			color: var(--font-color)

		.icon
			width: 18px
			height: 18px

	table
		width: 100%
		padding: 24px 40px
		margin: auto

		thead
			th
				border-bottom: 1px solid var(--soft-font-color)
				padding: 8px 24px
				font-weight: 400
				color: var(--soft-font-color)

			th:nth-child(2)
				text-align: left

		tbody

			tr:first-child
				margin-top: 40px

			td
				padding: 32px 16px 0 16px
				text-align: center

			td:first-child
				width: 160px

			td:nth-child(2)
				text-align: left

			td:nth-child(3)
				width: 150px

			td:last-child
				width: 500px

		a
			font-size: 14px
			text-decoration: none
			color: var(--font-color)
			padding-bottom: 4px
			border-bottom: 1px solid var(--soft-font-color)

			.icon
				width: 16px
				height: 16px
				margin-left: 8px

	.header
		display: flex
		align-items: center
		justify-content: space-between
		padding: 16px 40px

		.name
			font-weight: bold
			color: var(--soft-font-color)
			font-size: 20px

		.finances
			width: 200px

	.open-close-btn
		display: flex
		justify-content: center
		padding: 8px
		cursor: pointer

		&:hover
			background: var(--primary-light)

		&:hover .icon
			transform: rotate(-180deg)

		.icon
			width: $sp-s
			height: $sp-s
			color: var(--font-color)
			transition: all 0.2s ease-in-out

// Green and Blue
@media screen and (max-width: $laptop)
	.month-accordion

		.header
			padding: $sp-xs 6vw

			.name
				font-size: 16px

		.expenses-section,
		.takings-section
			padding: $sp-xs 6vw
			width: 100vw
			overflow-x: scroll

		.top
			padding: 0
			padding-left: $sp-xxs
			font-size: 18px

		table
			padding-left: 0
			padding-right: 0

			tbody

				td
					padding: 32px 16px 0 16px
					text-align: center
					width: fit-content
					white-space: nowrap

				td:last-child
					width: fit-content

			// td:first-child
			// 	width: 160px

			// td:nth-child(2)
			// 	text-align: left

			// td:nth-child(3)
			// 	width: 150px
</style>
