<script setup lang="ts">
import { useInternalFinancesStore } from '~/stores/internalFinances'

const localePath = useLocalePath()
const props = defineProps<{ onlyTotal?: boolean }>()

const internalFinancesStore = useInternalFinancesStore()

onMounted(() => {
	internalFinancesStore.fetchStats()
})
</script>

<template>
	<div class="finances-widget">
		<div class="relative">
			<div class="info-icon">
				<Icon class="icon" name="ph:chart-pie-slice" />
			</div>
		</div>
		<FinancesBar
			v-if="!props.onlyTotal"
			:label="internalFinancesStore.label"
			:collected="internalFinancesStore.stats.actualCollected"
			:goal="internalFinancesStore.stats.actualGoal"
		/>
		<FinancesBar
			label="Total"
			:collected="internalFinancesStore.stats.totalCollected"
			:goal="internalFinancesStore.stats.totalGoal"
		/>
		<div v-if="!props.onlyTotal" class="link-container">
			{{ $t('widgets.check') }} <NuxtLink :to="localePath('/our-finances')">{{ $t('widgets.ourFinances') }}</NuxtLink>
		</div>
	</div>
</template>

<style lang="sass" scoped>
.finances-widget
	width: 230px
	background: var(--bg-2)
	border-radius: $border-r
	box-shadow: var(--box-shadow)
	// border: var(--border-light)
	padding: $sp-xxs $sp-xs $sp-xs $sp-xs
	display: flex
	flex-direction: column
	justify-content: space-around
	align-items: center
	gap: $sp-xxs

	.relative
		position: relative
		width: 100%

		.info-icon
			position: absolute
			top: -$sp-xs
			right: -$sp-s
			width: $sp-s
			height: $sp-s
			background: var(--bg-2)
			border-radius: 50%

			.icon
				color: var(--primary)
				width: 100%
				height: 100%

	.link-container
		font-size: toRem(14)
		margin-top: $sp-xxs

.finances-mobile
	.info-icon
		width: 30px !important
		height: 30px !important
		top: -26px !important
		right: -34px !important
</style>
